
  <form [formGroup]="poseSolForm" (ngSubmit)="onPoseSolSubmit()">
    <div nz-row nzJustify="start" class="flx-pr" >
        
      <div nz-col nzSpan="24" class="ant-col etat-srf tooltip-srf">
        <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
          Nouveau revêtement</span> 
        </div>
        <nz-radio-group formControlName="gamme" class="radio-flx-spc">
          <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
            Peinture de sol</span> 
          </div>
          <div *ngFor="let option of gammes_peinture_sol" class="parquet-option">
            <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
              <span>{{ option.Label }}</span>
            </label>
            <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTemplate>
              Pour plus d'informations, veuillez consulter :
              <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
            </ng-template>
          </div>
          
          <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
            Moquette</span> 
          </div>
          <div *ngFor="let option of gamme_moquette_sol" class="parquet-option">
            <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
              <span>{{ option.Label }}</span>
            </label>
            <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTemplate>
              Pour plus d'informations, veuillez consulter :
              <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
            </ng-template>
          </div>
        

          <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
            Sol souple </span> 
          </div>
          <div *ngFor="let option of gammes_sol_souple" class="parquet-option">
            <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
              <span>{{ option.Label }}</span>
            </label>
            <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTemplate>
              Pour plus d'informations, veuillez consulter :
              <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
            </ng-template>
          </div>


          <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
            Résine décorative </span> 
          </div>
          <div *ngFor="let option of gamme_resine_decorative" class="parquet-option">
            <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
              <span>{{ option.Label }}</span>
            </label>
            <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTemplate>
              Pour plus d'informations, veuillez consulter :
              <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
            </ng-template>
          </div>




          <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
            Carrelage </span> 
          </div>
          <div *ngFor="let option of gammes_carrelage_sol" class="parquet-option">
            <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
              <span>{{ option.Label }}</span>
            </label>
            <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTemplate>
              Pour plus d'informations, veuillez consulter :
              <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
            </ng-template>
          </div>

          <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
            Parquet Flottant </span> 
          </div>
          <div *ngFor="let option of gammes_parquet_flottant" class="parquet-option">
            <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
              <span>{{ option.Label }}</span>
            </label>
            <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTemplate>
              Pour plus d'informations, veuillez consulter :
              <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
            </ng-template>
          </div>

          <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
            Parquet Massif </span> 
          </div>
          <div *ngFor="let option of gammes_parquet_massif" class="parquet-option">
            <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
              <span>{{ option.Label }}</span>
            </label>
            <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTemplate>
              Pour plus d'informations, veuillez consulter :
              <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
            </ng-template>
          </div>

         










          
          <div  class="parquet-option ant-col tooltip-srf etat-srf">
            <label nz-radio nzValue="0:autre:0">
              <span>autre</span>
            </label>
            
          </div>
        </nz-radio-group> 
      </div>

      <div *ngIf="isclicked && poseSolForm.get('gamme')?.invalid" class="error-message">
        Les gammes sont requises.
      </div>
      <div nz-col nzSpan="6" class="ant-col tooltip-srf" [nzXs]="24" [nzSm]="6" *ngIf="poseSolForm.get('gamme')?.value=='0:autre:0'">
        <label for="autre_gamme">
          autre : </label>
        <input type="text" id="autre_gamme" formControlName="autre_gamme" >
      </div>
      <div nz-col nzSpan="6" class="ant-col etat-srf-accord tooltip-srf">
        <label for="has_plinthes">Faut il des plinthes  ?</label>
        <nz-radio-group formControlName="has_plinthes" nzName="radiogroup" class="sidebyside">
          <label nz-radio [nzValue]="true">Oui</label>
          <label nz-radio [nzValue]="false">Non</label>
        </nz-radio-group>

           
      </div> 
      

      <!-- Plinthes Section -->

      <div nz-col nzSpan="6" class="ant-col" [nzXs]="24" [nzSm]="6" *ngIf="poseSolForm.get('has_plinthes')?.value==true">
        
          <label for="lineaire">
            Linéaire (cm)
          </label>
          <input type="number" id="lineaire" formControlName="lineaire" min="1" max="10000">
       
      </div> 
      <div *ngIf="isclicked && poseSolForm.get('longueur')?.invalid " class="error-message">
         La longueur est invalide.
       </div>
      <div nz-col nzSpan="24" class="ant-col etat-srf tooltip-srf" *ngIf="poseSolForm.get('has_plinthes')?.value==true">
        
        
        <nz-radio-group formControlName="plinthes" class="radio-flx-spc">
          <div class="div-mur-gm" style="width:100%;">
            <span class="mur-ttl">
              Plinthes en bois 
            </span> 
          </div>
          <div *ngFor="let option of gammes_plithes_bois" class="parquet-option">
            <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
              <span>{{ option.Label }}</span>
            </label>
            <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTemplate>
              Pour plus d'informations, veuillez consulter :
              <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
            </ng-template>
          </div>

          <div class="div-mur-gm" style="width:100%;">
            <span class="mur-ttl">
              Plinhtes avec du carrelage 
            </span> 
          </div>
          <div *ngFor="let option of gammes_plithes_carrelage" class="parquet-option">
            <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
              <span>{{ option.Label }}</span>
            </label>
            <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTemplate>
              Pour plus d'informations, veuillez consulter :
              <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
            </ng-template>
          </div>
        </nz-radio-group>
      </div>

      
        
    </div>
    
  </form>