
            <form [formGroup]="poseSolForm" (ngSubmit)="onPoseSolSubmit()">
               <div nz-row nzJustify="start" class="flx-pr" >
                  <!-- Gamme Section -->
<div nz-col nzSpan="24" class="ant-col etat-srf tooltip-srf">
  <div class="div-chauf-gm" style="width:100%;">
   <span for="gamme"class="center jaune fs-16 f-w-6" >Gamme :</span>
  </div>
   <nz-radio-group formControlName="gamme" class="radio-flx-spc">
     <!-- Common template for multiple option lists -->
     <ng-container *ngFor="let gamme of [gammes_parquet_m, gammes_parquet_b, gammes_parquet_pffs, gammes_carrelage]">
       <div *ngFor="let option of gamme" class="parquet-option">
         <label nz-radio [nzValue]="option.ID + ':' + option.Prix">
           <span>{{ option.Label }}</span>
         </label>
         <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
           <i class="far fa-question-circle"></i>
         </a>
         <ng-template #tooltipTemplate>
           Pour plus d'informations, veuillez consulter :
           <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
         </ng-template>
       </div>
     </ng-container>
     
     <!-- Special cases for Sol PVC and Moquette -->
     <div>
       <label nz-radio [nzValue]="gamme_pvc?.ID + ':' + gamme_pvc?.Prix">
         <span>Sol PVC</span>
       </label>
       <a *ngIf="gamme_pvc?.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplatePVC" href="javascript:void(0)" class="pdf-icon">
         <i class="far fa-question-circle"></i>
       </a>
       <ng-template #tooltipTemplatePVC>
         Pour plus d'informations, veuillez consulter :
         <a [href]="baseurl + gamme_pvc?.Pdf" target="_blank" class="link-tooltip">PDF</a>
       </ng-template>
     </div>
 
     <div>
       <label nz-radio [nzValue]="gamme_moquette?.ID + ':' + gamme_moquette?.Prix">
         <span>Moquette</span>
       </label>
       <a *ngIf="gamme_moquette?.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplateMoquette" href="javascript:void(0)" class="pdf-icon">
         <i class="far fa-question-circle"></i>
       </a>
       <ng-template #tooltipTemplateMoquette>
         Pour plus d'informations, veuillez consulter :
         <a [href]="baseurl + gamme_moquette?.Pdf" target="_blank" class="link-tooltip">PDF</a>
       </ng-template>
     </div>
   </nz-radio-group>
   <div *ngIf="isclicked && poseSolForm.get('gamme')?.invalid" class="error-message">
     Les gammes sont requises.
   </div>
 </div>
 
 <!-- Plinthes Section -->
 <div nz-col nzSpan="24" class="ant-col etat-srf tooltip-srf">
  <div class="div-chauf-gm" style="width:100%;">
    <span for="plinthes" class="center jaune fs-16 f-w-6" >Plinthes :</span>
   </div>
   <nz-radio-group formControlName="plinthes" class="radio-flx-spc">
     <div *ngFor="let option of gammes_plithes" class="parquet-option">
       <label nz-radio [nzValue]="option.ID + ':' + option.Prix">
         <span>{{ option.Label }}</span>
       </label>
       <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
         <i class="far fa-question-circle"></i>
       </a>
       <ng-template #tooltipTemplate>
         Pour plus d'informations, veuillez consulter :
         <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
       </ng-template>
     </div>
   </nz-radio-group>
 </div>
 
               
                  
               </div>
              
             </form>