.dynamic-form-button{
    padding: 0;
    height: 20px;
    float: right;
    
}
.ant-col{
    padding: 5px;
    text-align: start;
}
.error{
    color: red;
}
.ant-btn, button {
    line-height: 0.5715;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 500;
    border:none !important;
    box-shadow: none;
    padding: 11px 32px;
    height: 46px;
    color: #fff;
    border-radius: 0px;
    background: #ffc736;
  }
  button:hover{
    background: var(--color2);
    color: var(--color-white);
  }
  .ant-col[_ngcontent-ng-c3282933449] {
    text-align: center !important;
}
form label {
    text-align: left;
    width: 100%;
}
.etat-srf-lab{
    text-align: center !important;
    width: 50% !important;
    font-size: 18px !important;
    font-family: 'Montserrat' !important;
    color: #555 !important;
    font-weight: 900 !important;
}
.add-btn, .del-btn{padding: 0px 10px; background-color: #000;height: 37px;cursor: pointer;margin-block: 8px;}
input {
    width: 100%;
    border: 1px solid #555;
}
.vald-btn{margin-top:30px;cursor: pointer;}
.vald-btn, .add-btn{    
    width: fit-content;
    margin-inline: auto;}
input:focus{
    border: 2px solid #ffc736;
}
.ant-col-6 {
    max-width: 60%;
    display: flex;
    flex: 0% !important;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.col-gm{flex-direction: column;}
form{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.div-mur-ttl{width: 100%;
max-width: 100%;
margin: auto;
text-align: center;}
.mur-ttl{
    text-align: center !important;
    width: 100% !important;
    font-size: 18px !important;
    font-family: "Montserrat" !important;
    color: #555 !important;
    font-weight: 900 !important;
    margin: auto;
}/*
.mur-form .ant-row.ng-untouched.ng-pristine.ng-valid.ant-row-start.ng-star-inserted{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-items: start !important;
} */
form{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.ant-col-6{
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 60%;
    display: flex !important;
    align-items: center !important;
    flex: 0% !important;
    margin: auto;
    text-align: center;
}
.ant-row {
    flex-direction: column;
}
.radio-flx-spc div{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    min-height: 0px;
    justify-items: stretch;}

.radio-flx-spc label{
    display: flex;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e9e9e9;
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.radio-flx-spc label span:nth-child(1){width: 100%;max-width: 100%;order: 2;display: flex;
    justify-content: flex-start;}
.radio-flx-spc label span:nth-child(2){width: 100%;max-width: 100%;order: 1;display: flex;
    justify-content: flex-end;}
.etat-srf-ttl{font-weight: 600;font-size:20px;margin-bottom: 20px;}
.radio-flx-spc, .radio-flx-spc .ant-col-6 {
    width: 100% !important;
}
.etat-srf{
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 60%;
    display: flex !important;
    align-items: center !important;
    flex: 0% !important;
    margin: auto;
    text-align: center;
    flex-direction: column;
}
.etat-srf .ant-radio-group {
    display: grid;
}
@media only screen and (max-width: 1458px) {
.section-devis form label{
    text-align: left !important;
    width: 100% !important;}
    .mur-form .ant-col-6{ max-width: 100%; width: 100%;}
    form label{ width: 100%;text-align: left;}
}
@media only screen and (max-width: 1024px) {
.mur-form[_ngcontent-ng-c463556511] .ant-row.ng-untouched.ng-pristine.ng-valid.ant-row-start.ng-star-inserted[_ngcontent-ng-c463556511] {gap: 20px;}
}


@media only screen and (max-width: 1009px) {
    .mur-form .ant-row.ng-untouched.ng-pristine.ng-valid.ant-row-start.ng-star-inserted{grid-template-columns: 1fr 1fr;}
    .mur-form .ant-col-6 { display: grid; grid-template-columns: 1fr 1fr;}
    .mur-form form[_ngcontent-ng-c463556511] label[_ngcontent-ng-c463556511]{ width: 100% !important;}
    .ant-row.ng-untouched.ng-pristine.ng-invalid.ant-row-start.ng-star-inserted {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    justify-content: start;}
    input, input#surface { width: 100%;}
    .ant-col-6 { justify-content: flex-start; max-width: 100% !important;  width: 100% !important;}
    
}

@media only screen and (max-width: 600px) {
    .ant-row.ng-untouched.ng-pristine.ng-invalid.ant-row-start.ng-star-inserted { grid-template-columns: 1fr;}
    .vald-btn, .add-btn{ width: fit-content;}
    .ant-col-6 {max-width: 100%;margin:0 ;justify-content: flex-start; }
    form label { width: 30%;}  
    input, form label { width: 100%; }
    .mur-form[_ngcontent-ng-c463556511] .ant-row.ng-untouched.ng-pristine.ng-valid.ant-row-start.ng-star-inserted[_ngcontent-ng-c463556511] {
        grid-template-columns: 1fr; }
    }
    @media only screen and (max-width: 497px) {
    .ant-col-6 {align-items: flex-start; flex-direction: column;}
        
    }
    