<div class="recap-div devis-content">
<span class="recup-fin recap-piece">{{selectedPiece.Titre}} - Pose de revêtement sur plafond</span>
<span class="recup-fin"><p>Hauteur</p><p>:</p><p>{{posePlafondForm.formulaire["dimensions-pose-plafond"].hauteur}} cm</p></span>
<span class="recup-fin"><p>Longueur</p><p>:</p><p>{{posePlafondForm.formulaire["dimensions-pose-plafond"].longueur}} cm</p></span>
<span class="recup-fin"><p>Largeur</p><p>:</p><p>{{posePlafondForm.formulaire["dimensions-pose-plafond"].largeur}} cm</p></span>

<span class="recup-fin"><p>État du plafond</p><p>:</p><p>{{posePlafondForm.formulaire["etat-surfaces-pose-plafond"].etat}}</p></span>
<span class="recup-fin"><p>Revêtement à poser</p><p>:</p><p>{{get_title(posePlafondForm.formulaire["gammes-produits-pose-plafond"].gamme)}}</p></span>
<span class="recup-fin" *ngIf="posePlafondForm.formulaire['gammes-produits-pose-plafond'].gamme=='0:autre:0'"><p>Autre revêtement à poser</p><p>:</p><p>{{posePlafondForm.formulaire["gammes-produits-pose-plafond"].autre_gamme}}</p></span>
<span class="recup-fin"><p>Revêtement à déposer</p><p>:</p><p>{{get_title(posePlafondForm.formulaire["dimensions-pose-plafond"].depose)}}</p></span>

</div>