<div class="eltrc-div plaf-dim">
<form [formGroup]="renovationElectriqueForm" (ngSubmit)="onRenovationElectriqueSubmit()">

    <div >
      <div nz-row nzJustify="start" >
        
        
        <div formArrayName="appareils_electrique" class="">
          <div *ngFor="let appareilGroup of appareils_electrique; let i = index" [formGroupName]="i">
            <div *ngIf="appareils_electrique[i].ID!=27 || (renovationElectriqueForm.get('chauffage_exist')?.value==true && appareils_electrique[i].ID==27)">
              <div class="ant-col etat-srf tooltip-srf" *ngIf="isclicked && getrenovationElectrique_form.controls[i].get(appareilGroup.Titre + ' modele')?.invalid" class="error-message">
                Vous devez faire un choix.
              </div>
              <nz-collapse nzAccordion >
                  <nz-collapse-panel nzHeader="Modèles - {{appareils_electrique && appareils_electrique[i] ? appareils_electrique[i].Titre : ''}}" [nzActive]="false">
                      <nz-radio-group formControlName="modele" class="radio-flx-spc">
                          <div *ngFor="let modele of appareilGroup.ModeleEquipements" nz-row nzJustify="start">
                            <div nz-col nzSpan="12" class="ant-col tooltip-srf etat-srf">
                              
                                <label nz-radio [nzValue]="modele.ID + ':' + modele.Titre + ':' + modele.Prix">
                                <span>
                                    {{modele.Titre}}
                                  </span>
                                </label>
                              <a nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="info-icon">
                              <i class="far fa-question-circle"></i>
                            </a>
                            </div>
                            <!-- Tooltip with image and dimensions -->
                            
                            <ng-template #tooltipTemplate >
                              <div>
                                <div class="img-tltip" *ngIf="modele.Image">
                                  <img [src]="baseurl + modele.Image" [alt]="modele.Image" width="150px"/>
                                </div>
                                <div><strong>Longueur:</strong> {{modele.Longeur}}</div>
                                <div><strong>Largeur:</strong> {{modele.Largeur}}</div>
                                <div><strong>Hauteur:</strong> {{modele.Hauteur}}</div>
                                
                              </div>
                            </ng-template>
                          </div>
                        </nz-radio-group>
                        <div class="col-accord-inpt">
                          <label for="nombre">Quantité</label>
                          <input type="number" id="nombre" formControlName="nombre">      
                        </div>  
                    </nz-collapse-panel>
              </nz-collapse>
              
              <!-- Ajoutez d'autres champs selon vos besoins -->
            </div>

            </div>
            
        </div>
       
      
       <div nz-col nzSpan="6" class="ant-col etat-srf-accord tooltip-srf">
        <label for="chauffage_exist">Y-a-t-il un chauffage électrique ?</label>
        <input type="checkbox" id="chauffage_exist" formControlName="chauffage_exist">      
        <a nz-tooltip [nzTooltipTitle]="tooltipchauffelec" href="javascript:void(0)" class="info-icon">
          <i class="far fa-question-circle"></i>
        </a>
        <ng-template #tooltipchauffelec>
          <div class="tooltip-content">
            <strong>un chauffage électrique</strong><br>
            </div>
        </ng-template>  
      </div> 
    
     
      </div>
    </div>
  </form>
</div>