<div class="form-flx-dms">
    <form [formGroup]="poseChauffageForm" (ngSubmit)="onPoseChauffageSubmit()">

        <div>
            <div nz-row nzJustify="start">
                <div nz-col nzSpan="24" class="ant-col">
                    <h3 >Radiateur: </h3>
                </div>
                <div nz-col nzSpan="24" class="ant-col">
                    <label for="quantite_de_radiateur_existant">Quantité:  </label>
                    <input type="number" id="quantite_de_radiateur_existant" formControlName="quantite_de_radiateur_existant">
                    <div *ngIf="isclicked && poseChauffageForm.get('quantite_de_radiateur_existant')?.invalid " class="error-message">
                        quantite requise.
                      </div>
                </div>
                <div nz-col nzSpan="24" class="ant-col">
                    <label for="depose_de_radiateur_existant">Souhaitez-vous déposer des radiateurs ?</label>
                    <input type="checkbox" id="depose_de_radiateur_existant" formControlName="depose_de_radiateur_existant">      
                </div> 
                <div nz-col nzSpan="24" class="ant-col">
                    <h3 >Canalisations: </h3>
                </div>
                <div nz-col nzSpan="24" class="ant-col">
                    <label for="quantite_de_canalisations">Quantité: </label>
                    <input type="number" id="quantite_de_canalisations" formControlName="quantite_de_canalisations">
                    <div *ngIf="isclicked && poseChauffageForm.get('quantite_de_canalisations')?.invalid " class="error-message">
                        quantite requise.
                      </div>
                </div>
                <div nz-col nzSpan="24" class="ant-col">
                    <label for="depose_de_canalisations">Souhaitez-vous déposer des canalisations ?</label>
                    <input type="checkbox" id="depose_de_canalisations" formControlName="depose_de_canalisations">      
                </div> 
            </div>
        </div>
    </form>
</div>