<div class="plaf-dim tooltip-srf">
  <form [formGroup]="poseChauffageForm" (ngSubmit)="onPoseChauffageSubmit()">
    <div *ngIf="isclicked && poseChauffageForm" class="error-message">
      <div *ngIf="isclicked && poseChauffageForm.get('surface')?.invalid " class="error-message">
        <br>La surface est invalide.
      </div>
      <div *ngIf="isclicked && poseChauffageForm.get('hauteur')?.invalid " class="error-message">
        <br>La hauteur est invalide.
       </div>
    </div>

    <!--<img class="srf-img" src="/assets/Rectangle.svg">-->
    
      <div nz-col nzJustify="start" class="flx-radio-row1 w-80">
        
        <div nz-col nzSpan="6" class="row-w">
          <label for="surface">Surface de la pièce (m²)<span class="error-message">*</span> : <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
            <i class="fas fa-question-circle"></i>
          </a></label>
          <input (keypress)="blockComma($event)"  type="number" id="surface" formControlName="surface" [max]="surfacemax" min="2">
          
          <ng-template #tooltipSurface>
            <div class="tooltip-content">
              <strong>Calcul de la surface :</strong><br>
              <p>La surface est calculée en multipliant la longueur par la largeur de la pièce. Mesurez chaque côté avec précision pour obtenir la surface totale en m².</p>
              <strong>Exemple :</strong> <br>
              <p> Si la pièce fait 4m de long et 3m de large, la surface totale est de 12 m².</p>
            </div>
          </ng-template>

          <label for="hauteur">Hauteur de la pièce (cm)<span class="error-message">*</span> :</label>
          <input (keypress)="blockComma($event)"  type="number" id="hauteur" formControlName="hauteur" max="500" min="100">
        
        </div>
        <!--<div *ngIf="isclicked && poseChauffageForm.get('surface')?.invalid " class="error-message">
          <br>La surface est invalide.
        </div>-->


       
       <!--  <div *ngIf="isclicked && poseChauffageForm.get('hauteur')?.invalid " class="error-message">
         <br>La hauteur est invalide.
        </div>-->
     </div>
        
     
  </form>
</div>