nav {
    position: relative !important;
}
.section-t-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url('/assets/Renovation-realis.webp');
    width: 100%;
    height: 300px;
    background-position: top center;
    background-size: cover;
}
.section-t-bar h1, .section-t-bar p{color: white;}
.liste-realisations {
    max-width: 1440px;
    margin: auto;
    padding: 4% 1% 0% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-avis{
    max-width: 1440px;
    margin: auto;
    padding: 4% 1% 4% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}
.liste-filtre{
    max-width: 1440px;
    margin: auto;
    padding: 4% 1% 4% 1%;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    flex-direction: row;
    align-items: center;
}
.liste-check-box{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.c-v-b-1{
    width: 14%;
    gap: 10px;
    background-color: #FFC736;
    display: flex;
    align-items: center;
    padding: 40px 20px;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
label.font-site2.fs-18 {
    text-align: center;
}
.c-b-img{filter:brightness(0);height: 50px;}
.c-v-b-1 input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
.c-v-b-1:hover, .c-v-b-1:focus-within{background-color: #555;}
.c-v-b-1:hover .c-b-img, .c-v-b-1:focus-within .c-b-img{filter:brightness(9);}
.c-v-b-1:hover label, .c-v-b-1:focus-within label{color:white;}
.cl-piece{position: relative !important;width:30% !important;}
p.cat-pc {
    padding: 5px 20px;
    width: fit-content;
    background-color: #FFC736;
    margin-top: -55px;
    margin-left: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 9999;
}

.bg-avis{background-color: var(--color2);}



@media only screen and (max-width: 1100px) {
.c-v-b-1 label{ text-align: center; font-size: 15px;}
.c-v-b-1 {padding: 25px 8px;}
.section-avis { padding: 4% 3% 7% 3%;}
}
@media only screen and (max-width: 800px) {
    .liste-filtre { display: grid; grid-template-columns: 2fr 2fr !important;}
    .section-t-bar p{font-size: 21px;}
    .c-v-b-1 {width: 19%;}
    .liste-check-box{justify-content: center; }
    .section-avis { gap: 29px;}
    
}
@media only screen and (max-width: 497px) {
    .liste-filtre {grid-template-columns: 1fr !important;}
    .c-v-b-1{ width: 100%;  padding: 10px;}
    .liste-realisations, .section-t-bar, .liste-filtre{padding: 20px;}
    .liste-check-box { gap: 10px;}
    .section-avis {  padding: 4% 3% 15% 3%;}
}
/******************** css caroussel ************************/
.col1-avis {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.splide__slide {
    background-color: #fff !important;
    padding: 50px 30px !important;
}
.splide__slide h4{margin-bottom: 10px !important;}
.c-v-b-1.active {
  background-color: #555;
  color: #fff;
  font-weight: bold;
}