<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.9/dist/js/splide.min.js"></script>

<div class="page-realisations">

    <div class="section-t-bar">   
      <h1 class="font-site center white">Nos plus belles réalisations</h1>
        <p class="fs-27 center">Découvrez nos solutions d’aménagement pièce par pièce et faites le plein d’inspiration !</p>
  </div>
  
 
  <div class="liste-realisations">


    <div class="liste-check-box">
      <div class="c-v-b-1" *ngFor="let piece of pieces" (click)="filter_by_piece(piece.ID)" [class.active]="activePieceId === piece.ID">
        <input type="checkbox" id="piece-{{piece.ID}}"  name="1" value="{{piece.Titre}}" >
        <img class="c-b-img" src="{{baseurl}}{{piece.Image_principale}}"/>
        <label class="font-site2 fs-18" for="pieces"> {{piece.Titre}}</label>
      </div>

    
  </div>

<div></div>

</div>


<div class="liste-filtre">
   <div cl-piece *ngFor="let realisation of realisations"> 

   <a [href]="'/realisations/realisations-details/'+realisation.ID"><img class="img-pc" src="https://homeren.fr/api-concepts-et-travaux/files/{{realisation.Image_principale}}" alt="">
   </a><p class="cat-pc font-site2 fs-18">{{realisation?.Piece?.Titre}}</p>
          <a [href]="'/realisations/realisations-details/'+realisation.ID">
          <p class="txt-pc font-site2 fs-18">{{realisation.Titre}}</p></a>
   </div>
   
</div>



<div class="bg-avis">
<div class="section-avis">

  <div class="col1-avis">
    <img class="img1-piece center" src="/assets/icon-blanc.svg">
    <h2 class=" center blanc font-site">Nos avis clients</h2>
    <p class=" center blanc font-site2 m-w-p">Découvrez ce que nos clients disent de nos services de rénovation et comment nous avons transformé leurs espaces de vie.</p>
</div>


  <div class="splide splide-avis" id="carousel">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide" *ngFor="let a of avis">
            <h4 class="nom-avis center jaune">{{a?.Utilisateur}}</h4>
            <p class="text-avis center" [innerHTML]="a?.Message"></p>
        </li>
        
      </ul>
    </div>
  </div>


</div>
</div>







</div>
