<div class="recap-div devis-content">
    <span class="recup-fin recap-piece">{{selectedPiece.Titre}}</span>
    <div>
    <span class="recup-fin"><p>Nombre de radiateurs</p><p>:</p><p>{{form.quantite_de_radiateur_existant}}</p></span>
    <span class="recup-fin"><p>Dépose de radiateurs</p><p>:</p><p>{{form.depose_de_radiateur_existant}}</p></span>
    <span class="recup-fin"><p>Nombre de canalisations</p><p>:</p><p>{{form.quantite_de_canalisations}}</p></span>
    <span class="recup-fin"><p>Dépose de canalisations</p><p>:</p><p>{{form.depose_de_canalisations}}</p></span>
    </div>
</div>