<div class="recap-div devis-content">
    <span class="recup-fin recap-piece">{{selectedPiece.Titre}}</span>
    <div>
        <span class="recup-fin"><p>Surface de la pièce</p><p>:</p><p>{{form_dim.surface}} m²</p></span>
        <span class="recup-fin"><p>Hauteur de la pièce</p><p>:</p><p>{{form_dim.hauteur}} cm</p></span>
     </div>
     <div *ngFor="let rad of form_surfaces.radiateurs; let i = index">
        <div >
            <div style="width: 100%; text-align: left;"><span class="mur-ttl">Radiateur {{i+1}}</span><br></div>
            <div>
                <span class="recup-fin"><p>Type de radiateur</p><p>:</p><p>{{get_title(form_surfaces.radiateurs[i].type)}}</p></span>
                <span class="recup-fin" ><p>Gamme</p><p>:</p><p>{{get_title(form_gammes.radiateurs[i].gamme)}}</p></span>
            </div>
        </div>
    </div>
    
</div>