<div class="recap-div devis-content">
    <span class="recup-fin recap-piece">{{selectedPiece.Titre}}</span>
    <div>
        <span class="recup-fin"><p>Surface de la pièce</p><p>:</p><p>{{form_dim.surface}} m²</p></span>
        <span class="recup-fin"><p>Hauteur de la pièce</p><p>:</p><p>{{form_dim.hauteur}} cm</p></span>
     </div>
     <div *ngFor="let rad of form_surfaces.radiateurs; let i = index" class="recup-mur-flx">
        <span class="mur-ttl">Radiateur {{i+1}}</span>
        <div>
        <span class="recup-fin"><p>Etat des surfaces</p><p>:</p><p>{{form_surfaces.radiateurs[i].etat}}</p></span>
        <span class="recup-fin"><p>Type de radiateur</p><p>:</p><p>{{get_title(form_surfaces.radiateurs[i].type)}}</p></span>
        <span class="recup-fin" *ngIf="form_gammes.radiateurs[i].visible"><p>Gamme</p><p>:</p><p>{{get_title(form_gammes.radiateurs[i].gamme)}}</p></span>
        </div>
</div>