<div class="form-flx-dms">
<div *ngIf="selectedPiece.ID==7" class="form-flx-dms">
    <p>formulaire-pose-plomberie {{selectedPiece.Titre}}</p>
    <form [formGroup]="poseCuisineForm" (ngSubmit)="onPoseCuisineSubmit()">
        <div formArrayName="appareils_cuisine">
          <div *ngFor="let appareilGroup of appareils_cuisine; let i = index" [formGroupName]="i">
            <h3>{{appareils_cuisine && appareils_cuisine[i] ? appareils_cuisine[i].Titre :""}}</h3>
            <div *ngFor="let modele of appareilGroup.ModeleEquipements" nz-row nzJustify="start">
                <div nz-col nzSpan="12" class="ant-col">
                    <label for="{{appareilGroup.Titre}} {{modele.Titre}}">{{modele.Titre}}</label>
                    <input type="checkbox" id="{{appareilGroup.Titre}} {{modele.Titre}}" formControlName="{{appareilGroup.Titre}} {{modele.Titre}}">      
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>Longueur</label>
                    {{modele.Longeur}}      
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>Largeur</label>
                    {{modele.Largeur}}      
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>Hauteur</label>
                    {{modele.Hauteur}}      
                </div>
              <!-- Ajoutez d'autres champs ici pour chaque modèle -->
            </div>
            
            <!-- Ajoutez d'autres champs selon vos besoins -->
          </div>
        </div>
        <button type="submit">valider</button>
      </form>
</div>

<div *ngIf="selectedPiece.ID==5 || selectedPiece.ID==8">
    <p>formulaire-pose-plomberie {{selectedPiece.Titre}}</p>
    <form [formGroup]="poseSalleDeBainForm" (ngSubmit)="onPoseSalleDeBainSubmit()">
        <div formArrayName="appareils_salle_de_bain">
          <div *ngFor="let appareilGroup of appareils_salle_de_bain; let i = index" [formGroupName]="i">
            
              <h3>{{appareils_salle_de_bain && appareils_salle_de_bain[i] ? appareils_salle_de_bain[i].Titre :""}}</h3>
              <div *ngFor="let modele of appareilGroup.ModeleEquipements" nz-row nzJustify="start">
                <div nz-col nzSpan="12" class="ant-col">
                    <label for="{{appareilGroup.Titre}} {{modele.Titre}}">{{modele.Titre}}</label>
                    <input type="checkbox" id="{{appareilGroup.Titre}} {{modele.Titre}}" formControlName="{{appareilGroup.Titre}} {{modele.Titre}}">      
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>Longueur</label>
                    {{modele.Longeur}}      
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>Largeur</label>
                    {{modele.Largeur}}      
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>Hauteur</label>
                    {{modele.Hauteur}}      
                </div>
                <!-- Ajoutez d'autres champs ici pour chaque modèle -->
              </div>
                
                <!-- Ajoutez d'autres champs selon vos besoins -->
              </div>
            
            
        </div>
        <button class="vald-btn" type="submit">valider</button>
      </form>
    </div>   
</div>
