
<form [formGroup]="deposeMursForm" (ngSubmit)="onPoseMursSubmit()">

    <div formArrayName="murs">
      <div nz-row nzJustify="start" *ngFor="let mur of murs.controls; let i = index" [formGroupName]="i">
        <div nz-col nzSpan="2" class="ant-col">
          Mur {{i+1}}      
          
        </div>
        <div nz-col nzSpan="6" class="ant-col">
          <label for="Peinture">Peinture: </label>
          <input type="checkbox" id="peinture" formControlName="peinture">      
          
        </div>
        <div nz-col nzSpan="6" class="ant-col">
          <label for="etat">Enduit decoratif : </label>
          <input type="checkbox" id="enduit" formControlName="enduit"> 
          
        </div>
        <div nz-col nzSpan="6" class="ant-col">
          <label for="etat">Papier peint: </label>
          <input type="checkbox" id="papier" formControlName="papier"> 
          
        </div>
        <div nz-col nzSpan="6" class="ant-col">
          <label for="etat">Carrelage mural: </label>
          <input type="checkbox" id="carrelage" formControlName="carrelage"> 
          
        </div>
        <div nz-col nzSpan="6" class="ant-col">
          <label for="tissus">tissus : </label>
          <input type="checkbox" id="tissus" formControlName="tissus"> 
          
        </div>
        <div nz-col nzSpan="6" class="ant-col">
          <label for="lambris">lambris mural: </label>
          <input type="checkbox" id="lambris" formControlName="lambris"> 
          
        </div>
        <div nz-col nzSpan="6" class="ant-col">
          <label for="autre">autre(préciser): </label>
          <input type="text" id="autre" formControlName="autre"> 
          
        </div>
        
      </div>
    </div>
    <button type="submit">Valider</button>
  </form>