
<form [formGroup]="deposeMursForm" (ngSubmit)="onPoseMursSubmit()" class="mur-form">

    <div formArrayName="murs">
      <div nz-row nzJustify="start" *ngFor="let mur of murs.controls; let i = index" [formGroupName]="i">
        <div nz-col nzSpan="2" class="ant-col mur-ttl">
          Mur {{i+1}}      
          
        </div>
        <div nz-col nzSpan="6" class="ant-col">
          <label for="gamme">Gamme: </label>
          <nz-radio-group formControlName="gamme" (ngModelChange)="onTypeChange($event, i)">
           <label nz-radio  nzValue="Peinture">Peinture</label>
           <label nz-radio  nzValue="Enduit decoratif">Enduit decoratif</label>
           <label nz-radio  nzValue="Papier peint">Papier peint</label>
           <label nz-radio  nzValue="Carrelage mural">Carrelage mural</label>
           <label nz-radio  nzValue="tissus">tissus</label>
           <label nz-radio  nzValue="lambris mural">lambris mural</label>
           <label nz-radio  nzValue="autre" >autre</label>
         </nz-radio-group>
          
        </div> 
        <div nz-col nzSpan="6" class="ant-col" *ngIf="mur.get('isAutreType')?.value">
          <label for="autre">autre(préciser): </label>
          <input type="text" id="autre" formControlName="autre"> 
          
        </div>
        
      </div>
    </div>
  </form>