
<form [formGroup]="poseRadiateursForm" (ngSubmit)="onPoseRadiateursSubmit()">

    <div formArrayName="radiateurs">
     <div *ngFor="let radiateur of radiateurs.controls; let i = index" [formGroupName]="i">

       <div class="mur-btn-div">
        <div class="ttl-mob" style="margin-right: auto;text-align: left;"><span class="mur-ttl">Radiateur {{i+1}}</span></div>

         <button type="button" class="dynamic-form-button del-btn" (click)="removeRadiateurGroup(i)" *ngIf="radiateurs.length > 1">Retirer</button>

       </div>

       <div nz-row nzJustify="start" >
        
         <div nz-col nzSpan="6" class="ant-col col-gm tooltip-srf etat-srf">
           <!-- <label for="etat">État de radiateur: </label> -->
           <nz-radio-group formControlName="etat" class="radio-flx-spc">
            <ng-container>
             <div >
               <label nz-radio nzValue="radiateur à remplacer" class="radio-span">
                 <span>Radiateur à remplacer</span>
               </label>
               <a nz-tooltip [nzTooltipTitle]="tooltiparemplacer" href="javascript:void(0)" class="info-icon">
                 <i class="far fa-question-circle"></i>
               </a>
               <ng-template #tooltiparemplacer>
                 Le radiateur est à remplacer
               </ng-template>
             </div>
             </ng-container>
             <div>
               <label nz-radio nzValue="radiateur à déplacer">
                 <span>Radiateur à déplacer</span>
               </label>
               <a nz-tooltip [nzTooltipTitle]="tooltipadeplacer" href="javascript:void(0)" class="info-icon">
                 <i class="far fa-question-circle"></i>
               </a>
               <ng-template #tooltipadeplacer>
                 Le radiateur est à déplacer.
               </ng-template>
             </div>
             
             <div>
               <label nz-radio nzValue="radiateur à poser">
                 <span>Radiateur à poser</span>
               </label>
               <a nz-tooltip [nzTooltipTitle]="tooltipaposer" href="javascript:void(0)" class="info-icon">
                 <i class="far fa-question-circle"></i>
               </a>
               <ng-template #tooltipaposer>
                Le radiateur est à poser
               </ng-template>
             </div>
           
             
           </nz-radio-group>

           
         </div>
         <div *ngIf="isclicked && radiateurs.controls[i].get('etat')?.invalid " class="error-message">
           État des surfaces requis.
         </div>
       </div>
     </div>
     
    </div>
    <button type="button"  class="dynamic-form-button add-btn" (click)="addRadiateurGroup()" *ngIf="radiateurs.length < 4" >Ajouter un radiateur <span nz-icon nzType="plus" nzTheme="outline"></span></button>

  </form>