
<div class="recap-div devis-content">
    <span class="recup-fin recap-piece">{{selectedPiece.Titre}}</span>
    À ajouter
    <span class="recup-fin"><p>passage_fils_electrique</p><p>:</p><p>{{passage_fils_electrique}}</p></span>
    <div *ngFor="let appareil of appareils_a_ajouter">
        <div >
            <span class="recup-fin"><p>titre</p><p>:</p><p>{{get_title(appareil.modele)}}</p></span>
            <span class="recup-fin"><p>nombre</p><p>:</p><p>{{appareil.nombre}}</p></span>
           
        </div>
        
    </div>
    À remplacer
   
        <div>
            <span class="recup-fin"><p>Quantité prises</p><p>:</p><p>{{qte_prises}}</p></span>
            <span class="recup-fin"><p>Quantité éclairage profond</p><p>:</p><p>{{qte_eclairage_profond}}</p></span>
            <span class="recup-fin"><p>Quantité éclairage applique</p><p>:</p><p>{{qte_eclairage_applique}}</p></span>
            <span class="recup-fin"><p>Quantité de convecteur electrique</p><p>:</p><p>{{qte_convecteur_electrique}}</p></span>
           
        </div>
        
 
</div>
