
<div class="recap-div devis-content">
    <span class="recup-fin recap-piece">{{selectedPiece.Titre}}</span>
    <div *ngIf="appareils_a_ajouter">
        À ajouter
        <div *ngFor="let appareil of appareils_a_ajouter">
            <div *ngIf="appareil.active">
                <span class="recup-fin"><p>{{get_title(appareil.modele)}}</p></span>
                <span class="recup-fin"><p>Nombre</p><p>:</p><p>{{appareil.nombre}}</p></span>
            
            </div>
            
        </div>
    </div>
    <div *ngIf="appareils_a_ajouter">
        À remplacer

        <div *ngFor="let appareil of appareils_a_remplacer">
            <div *ngIf="appareil.active">
                <span class="recup-fin"><p>{{(appareil.titre)}}</p></span>
                <span class="recup-fin"><p>Nombre</p><p>:</p><p>{{appareil.nombre}}</p></span>
                <span class="recup-fin"><p>Création ou remplacement</p><p>:</p><p>{{appareil.creation_ou_remplacement}}</p></span>
            </div>
            
        </div>
    </div>    
    <span class="recup-fin"><p>Disjoncteur à remplacer</p><p>:</p><p>{{get_label(disjoncteur_a_remplacer)}}</p></span>

</div>
