<div class="bg-section1">
    <div class="section1">
        <h1 class="center blanc">Foire aux Questions (FAQ)</h1>
        <p class="fs-27 blanc center">Bienvenue dans notre section FAQ. Vous trouverez ici les réponses aux questions les plus fréquemment posées concernant nos services de rénovation. Si vous ne trouvez pas la réponse à votre question, n'hésitez pas à nous contacter.</p>
    </div>
</div>
<section class="faq">
  <div class="faq-content">
    <div class="faq-column" *ngFor="let cat of questions">
      <h2 class="cat-faq jaune font-site">{{cat.Titre}}</h2>
      <div class="faq-item" *ngFor="let question of cat.Questions">
        <h3 class="faq-question">
          <a [href]="'/faq/question/'+question.QuestionID">{{question.Question}}</a>
        </h3>
      </div>
    </div>
  </div>
  </section>
  
  
<div class="bg-phrase-dacc">
    <div class="section-phrase-dacc">
      <span class="txt1-sldr blanc fs-34 center">Des travaux de rénovation ?</span>
      <span class="txt2-sldr blanc fs-27 center"><strong>Réalisons-les ensemble !</strong> Transformez votre maison avec HOMEREN</span>
      <a class="btn-site ph-dacc" href="/">Devis en ligne</a>
   </div>
  </div>