<div class="renov-elec tache-cuisine tooltip-srf">
  <div  class="">
    <form [formGroup]="poseCuisineForm" (ngSubmit)="onPoseCuisineSubmit()">
      

      <div class="renov-elec-div ">
        <span class="mur-ttl">Dépose d'anciennes installations</span>
      </div>

      <div formArrayName="gammes_depose_form">
           
              <div nz-row nzJustify="start" class="row-w-grid" style="width:80% !important;max-width:100% !important;">
                        <div *ngFor="let gamme of gammes_depose_form.controls; let i = index" [formGroupName]="i">

                <!-- Champ Quantité -->
                <div nz-col class="flx-radio-row4" *ngIf="need_quantite(gammes_depose[i].ID)">
                    <label for="quantite">{{gammes_depose && gammes_depose[i] ? gammes_depose[i].Label : ''}} </label>
                    <input (keypress)="blockComma($event)"  id="quantite" type="number" formControlName="quantite" min="0"/>
                    
                </div>
                <div *ngIf="gamme.get('quantite')?.invalid && isclicked" class="error-message">
                  Quantité invalide
                </div>

                <div nz-col nzSpan="24" class="flx-radio-row4" *ngIf="need_longueur(gammes_depose[i].ID)">
                  <label for="longueur">{{gammes_depose && gammes_depose[i] ? gammes_depose[i].Label : ''}} - longueur (cm) </label>
                  <input (keypress)="blockComma($event)"  id="longueur" type="number" formControlName="longueur" min="0"/>
                
              </div>
              <div *ngIf="gamme.get('longueur')?.invalid && isclicked" class="error-message">
                Longueur invalide
              </div>
               
              </div>
              
              
          
        </div>
      </div>
    </form>
  </div>
</div>

