<div class="plaf-dim">
    <h3>Élements de cuisine haut</h3>
    <form [formGroup]="deposeElementCuisinesHautForm" (ngSubmit)="onPoseElementCuisinesSubmit()">
        <div formArrayName="elementcuisines_haut">
          <div *ngFor="let elementcuisine of elementcuisines_haut.controls; let i = index" [formGroupName]="i">
            <span class="elementcuisine-ttl">Élement de cuisine haut {{i+1}}</span>
            <div nz-row nzJustify="start" class="cuisine-flx" >
              <div nz-col nzSpan="10" class="ant-col">
                <label for="hauteur">Hauteur 
                  <span class="error-message">*</span> :
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                         <i class="far fa-question-circle"></i>
                       </a>
                </label>
                <input type="number" id="hauteur" formControlName="hauteur">
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la hauteur :</strong><br>
                  </div>
                </ng-template>
                <div *ngIf="isclicked && elementcuisines_haut.controls[i].get('hauteur')?.invalid " class="error-message">
                    Hauteur requise.
                </div>
              </div>
              
               <div nz-col nzSpan="10" class="ant-col">
                <label for="longueur">Longueur 
                  <span class="error-message">*</span> :
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                         <i class="far fa-question-circle"></i>
                       </a>
                </label>
                <input type="number" id="longueur" formControlName="longueur">
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la longueur :</strong><br>
                  </div>
                </ng-template>
                <div *ngIf="isclicked && elementcuisines_haut.controls[i].get('longueur')?.invalid " class="error-message">
                    Longueur requise.
                </div>
              </div>
              <div nz-col nzSpan="10" class="ant-col">
                <label for="profondeur">Profondeur 
                  <span class="error-message">*</span> :
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                         <i class="far fa-question-circle"></i>
                       </a>
                </label>
                <input type="number" id="profondeur" formControlName="profondeur">
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la profondeur :</strong><br>
                  </div>
                </ng-template>
                <div *ngIf="isclicked && elementcuisines_haut.controls[i].get('profondeur')?.invalid " class="error-message">
                    Profondeur requise.
                </div>
              </div>
              <div nz-col nzSpan="10" class="ant-col">
                <label for="quantite">Quantité 
                  <span class="error-message">*</span> :
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                         <i class="far fa-question-circle"></i>
                       </a>
                </label>
                <input type="number" id="quantite" formControlName="quantite">
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la quantité :</strong><br>
                  </div>
                </ng-template>
                <div *ngIf="isclicked && elementcuisines_haut.controls[i].get('quantite')?.invalid " class="error-message">
                    Quantite requise.
                </div>
              </div>
              
              <div nz-col nzSpan="24" class="ant-col"> 
                <label for="image">Image :</label>
                <input type="file" id="image" (change)="onElementCuisines_hautFileChange($event, i)" accept="image/*">
              </div>
              <button type="button" class="dynamic-form-button del-btn" (click)="removeElementCuisine_hautGroup(i)" *ngIf="elementcuisines_haut.length > 1">Retirer l'élement de cuisine haut</button>
            </div>
          </div>
          
        </div>
        <button type="button"  class="dynamic-form-button add-btn" (click)="addElementCuisine_hautGroup()" *ngIf="elementcuisines_haut.length < 4">Ajouter un élement de cuisine haut</button>
      </form>

      <h3>Élements de cuisine bas</h3>
      <form [formGroup]="deposeElementCuisinesBasForm" (ngSubmit)="onPoseElementCuisinesSubmit()">
        <div formArrayName="elementcuisines_bas">
          <div *ngFor="let elementcuisine of elementcuisines_bas.controls; let i = index" [formGroupName]="i">
            <span class="elementcuisine-ttl">Élement de cuisine bas {{i+1}}</span>
            <div nz-row nzJustify="start" class="cuisine-flx" >
              <div nz-col nzSpan="10" class="ant-col">
                <label for="hauteur">Hauteur m 
                  <span class="error-message">*</span> :
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                         <i class="far fa-question-circle"></i>
                       </a>
                </label>
                <input type="number" id="hauteur" formControlName="hauteur">
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la hauteur :</strong><br>
                  </div>
                </ng-template>
                <div *ngIf="isclicked && elementcuisines_bas.controls[i].get('hauteur')?.invalid " class="error-message">
                    Hauteur requise.
                </div>
              </div>
               <div nz-col nzSpan="10" class="ant-col">
                <label for="longueur">Longueur 
                  <span class="error-message">*</span> :
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                         <i class="far fa-question-circle"></i>
                       </a>
                </label>
                <input type="number" id="longueur" formControlName="longueur">
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la longueur :</strong><br>
                  </div>
                </ng-template>
                <div *ngIf="isclicked && elementcuisines_bas.controls[i].get('longueur')?.invalid " class="error-message">
                    Longueur requise.
                </div>
              </div>
              <div nz-col nzSpan="10" class="ant-col">
                <label for="profondeur">profondeur
                  <span class="error-message">*</span> :
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                         <i class="far fa-question-circle"></i>
                       </a>
                </label>
                <input type="number" id="profondeur" formControlName="profondeur">
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la profondeur :</strong><br>
                  </div>
                </ng-template>
                <div *ngIf="isclicked && elementcuisines_bas.controls[i].get('profondeur')?.invalid " class="error-message">
                    Profondeur requise.
                </div>
              </div>
              <div nz-col nzSpan="10" class="ant-col">
                <label for="quantite">Quantité 
                  <span class="error-message">*</span> :
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                         <i class="far fa-question-circle"></i>
                       </a>
                </label>
                <input type="number" id="quantite" formControlName="quantite">
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la quantité :</strong><br>
                  </div>
                </ng-template>
                <div *ngIf="isclicked && elementcuisines_bas.controls[i].get('quantite')?.invalid " class="error-message">
                    Quantité requise.
                </div>
              </div>
              
              <div nz-col nzSpan="24" class="ant-col"> 
                <label for="image">Image :</label>
                <input type="file" id="image" (change)="onElementCuisines_basFileChange($event, i)" accept="image/*">
              </div>
              <button type="button" class="dynamic-form-button del-btn" (click)="removeElementCuisine_basGroup(i)" *ngIf="elementcuisines_bas.length > 1">Retirer l'élement de cuisine bas</button>
            </div>
          </div>
          
        </div>
        <button type="button"  class="dynamic-form-button add-btn" (click)="addElementCuisine_basGroup()" *ngIf="elementcuisines_bas.length < 4">Ajouter un élement de cuisine bas</button>
      </form>
    </div>