
<form [formGroup]="poseMursForm" (ngSubmit)="onPoseMursSubmit()">

  <div formArrayName="murs">
   <div *ngFor="let mur of murs.controls; let i = index" [formGroupName]="i">

     <div class="mur-btn-div">
       <span class="mur-ttl">Mur {{i+1}}</span>
     </div>

     <div nz-row nzJustify="start" >
      
       <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
         <!-- <label for="etat">État de mur: </label> -->
         <nz-radio-group formControlName="etat" class="radio-flx-spc">
           
           
          <div>
            <label nz-radio nzValue="bon">
              <span>Bon</span>
            </label>
            <a nz-tooltip [nzTooltipTitle]="tooltipBon" href="javascript:void(0)" class="info-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipBon>
              Reprise légère d'enduit.
            </ng-template>
          </div>


           <div>
             <label nz-radio nzValue="abimé">
               <span>Abimé</span>
             </label>
             <a nz-tooltip [nzTooltipTitle]="tooltipAbime" href="javascript:void(0)" class="info-icon">
               <i class="far fa-question-circle"></i>
             </a>
             <ng-template #tooltipAbime>
               Rebouchage, réparation de fissures.
             </ng-template>
           </div>
           
        

           <div>
            <label nz-radio nzValue="Très abimé" class="radio-span">
              <span>Très abimé</span>
            </label>
            <a nz-tooltip [nzTooltipTitle]="tooltipTresAbime" href="javascript:void(0)" class="info-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltipTresAbime>
              Nécessite la pose de plaques de plâtre.
            </ng-template>
          </div>
           
         </nz-radio-group>


        
         
       </div>
       <div *ngIf="isclicked && murs.controls[i].get('etat')?.invalid " class="error-message">
         État des surfaces requis.
       </div>
     </div>
   </div>
   
  </div>
</form>