<div class="sol-etat">
<form [formGroup]="poseMursForm" (ngSubmit)="onPoseMursSubmit()">

  <div formArrayName="murs">
    <div class="mur-bg-div">Murs</div>

   <div *ngFor="let mur of murs.controls; let i = index" [formGroupName]="i">
     <div class="mur-btn-div">
       <span class="mur-ttl">Mur {{i+1}}</span>
     </div>

     <div nz-row nzJustify="start" style="width: 100% !important;max-width: 100% !important;display: block !important;">
      
       <div nz-col nzSpan="12" class="" style="max-width: 100% !important;">
         <!-- <label for="etat">État de mur: </label> -->
         <nz-radio-group formControlName="etat" class="rd-grp-w" style="">
           
           
          <div>
            <label nz-radio nzValue="bon" style="padding-block: 10px;">
              <span>Bon : reprise légère d'enduit</span>
            </label>
            
          </div>


           <div>
             <label nz-radio nzValue="abimé" style="padding-block: 10px;">
               <span>Abimé : rebouchage, réparation de fissures.</span>
             </label>
           
           </div>
           
        

           <div>
            <label nz-radio nzValue="Très abimé" style="padding-block: 10px;">
              <span>Très abimé : Nécessite la pose de plaques de plâtre.</span>
            </label>
            
          </div>
           
         </nz-radio-group>


        
         
       </div>
       <div *ngIf="isclicked && murs.controls[i].get('etat')?.invalid " class="error-message">
         État des surfaces requis.
       </div>
     </div>
   </div>
   
  </div>
</form>
</div>