
.ant-col{
    padding: 5px;
    text-align: start;
}
  .ant-col[_ngcontent-ng-c3282933449] {
    text-align: center !important;
}
.etat-srf-lab{
    text-align: center !important;
    width: 50% !important;
    font-size: 18px !important;
    font-family: 'Montserrat' !important;
    color: #555 !important;
    font-weight: 900 !important;
}

.pose-murs {
    display: flex ;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
}
.ant-col {
    display: flex;
    justify-content: space-between;
}
[nz-radio] {
    display: block;
    height: 32px;
    line-height: 24px;
}
.pose-murs .ant-col-6, .pose-murs .ant-col{
    max-width: 60% !important;
    width: 100% !important;
    display: flex !important;
    flex: 0% !important;
    margin: auto;
    gap: 20px !important;
    text-align: center !important;
    justify-content: space-between !important;
    align-items: center !important;
}
/* input:not([type="checkbox"]) {
    width: 66% !important;
} */
.ant-col-6 {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex: 0% !important;
    margin: auto;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ant-row {
    align-content: center;
    flex-direction: column;
}
.image {
    display: flex;
    flex: 0% !important;
    text-align: center;
    justify-content: start;
    align-items: start;
}
form{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
}
.ant-col-6{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    width: 100%; 
}
.radio-flx-spc div{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    min-height: 0px;
    justify-items: stretch;}
.radio-flx-spc label{
    display: flex;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e9e9e9;
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.radio-flx-spc label span:nth-child(1){width: 100%;max-width: 100%;order: 2;display: flex;
    justify-content: flex-start;}
.radio-flx-spc label span:nth-child(2){width: 100%;max-width: 100%;order: 1;display: flex;
    justify-content: flex-end;}
.etat-srf-ttl{font-weight: 600;font-size:20px;margin-bottom: 20px;}
.radio-flx-spc, .radio-flx-spc .ant-col-6 {
    width: 100% !important;
}
.etat-srf{
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width:90%;
    display: flex !important;
    align-items: center !important;
    flex: 0% !important;
    margin: auto;
    text-align: center;
    flex-direction: column;
}
.etat-srf-row{
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width:90%;
    display: flex !important;
    align-items: center !important;
    flex: 0% !important;
    margin: auto;
    text-align: center;
    flex-direction: row;
}
.etat-srf .ant-radio-group {
    display: grid;
}
.srf-img{margin-block: 20px;margin-inline: auto;}
/* .tooltip-srf .radio-flx-spc div { grid-template-columns: 6fr 1fr;}
.tooltip-srf i.far.fa-question-circle {
    color: var(--color1);
    font-size: 20px;
    margin-top: 9px;
}
.link-tooltip{color:var(--color1);}
.link-tooltip:hover{color:var(--color-white);text-decoration: underline;} */
h3.ttl-type{
    border-bottom: 1px solid #55555566;
    font-size: 18px;
    color: var(--color1);
    text-align: center;
    width: 100%;
    font-weight: 600;
    text-transform: capitalize;
}
form label{
    text-align: left;
    width: 100%;
    margin: auto;
}
.ant-col-12 {
    max-width: 100%;
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 8px;
}
@media screen and (max-width: 375px) {
    form label {text-align: left !important; }
}