.srf-img{margin-block: 20px;margin-inline: auto;}
.radio-flx-spc div{
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    justify-content: center;
    min-height: 0px;
    justify-items: start;
    gap:5px;
}

.radio-flx-spc label{
    display: flex;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e9e9e9;
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.radio-flx-spc label span:nth-child(1){width: 100%;max-width: 100%;order: 2;display: flex;
    justify-content: flex-start;}
.radio-flx-spc label span:nth-child(2){width: 100%;max-width: 100%;order: 1;display: flex;
    justify-content: flex-end;}
.etat-srf-ttl{font-weight: 600;font-size:20px;margin-bottom: 20px;}
.radio-flx-spc, .radio-flx-spc .ant-col-6 {
    width: 100% !important;
}
.ant-col-6 {
    justify-content: center;
    max-width: 100% !important;
    width: 60% !important;
    display: grid !important;
    grid-template-columns: 2fr 2fr 0.5fr !important;
    gap: 5px;
    align-items: center !important;
    flex: 0% !important;
    margin: auto;
    text-align: center;
}
.etat-srf{
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 60%;
    display: flex !important;
    align-items: center !important;
    flex: 0% !important;
    margin: auto;
    text-align: center;
    flex-direction: column;
}
.etat-srf .ant-radio-group {
    display: grid;
}
.pose-murs {
    display: flex ;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
}

[nz-radio] {
    display: block;
    height: 32px;
    line-height: 24px;
}
.radio-flx-spc div span{  text-align: left;  }
.radio-flx-spc label{text-align: unset;}
.radio-flx-spc, .radio-flx-spc .ant-col-6 {
    width: 100% !important;
}
.etat-srf-lab{
    text-align: center !important;
    width: 50% !important;
    font-size: 18px !important;
    font-family: 'Montserrat' !important;
    color: #555 !important;
    font-weight: 900 !important;
}
.col-gm{flex-direction: column;}
.ant-row {
    align-content: center;
    flex-direction: column;
}
form{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
}
@media screen and (max-width: 800px) {
.ant-col-6 { width: 70% !important;}
}
@media screen and (max-width: 600px) {
    .ant-col[_ngcontent-ng-c182946846], .ant-col-6, .ant-col {max-width: 100% !important;}
    }
@media screen and (max-width: 375px) {
    .plaf-dim input{ width: 90% !important;}
}