
.etat-srf-lab{
    text-align: center !important;
    width: 50% !important;
    font-size: 18px !important;
    font-family: 'Montserrat' !important;
    color: #555 !important;
    font-weight: 900 !important;
}
[nz-radio] {
    display: block;
    height: 32px;
    line-height: 24px;
}

input{
    width: 96% !important;
}
.ant-col-6 {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex: 0% !important;
    margin: auto;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ant-row {
    align-content: center;
    flex-direction: column;
}
form{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.ant-col-6{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    width: 100%; 
}
.radio-flx-spc div{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    min-height: 0px;
    justify-items: stretch;}
.radio-flx-spc label{
    display: flex;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e9e9e9;
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.etat-srf{
    justify-content: center;
    max-width: 70%;
    width: 70%;
    padding: 12px 0px !important;
    border-bottom: 1px solid #E9E9E9 !important;
    display: grid !important;
    align-items: center !important;
    gap:8px;
    margin: auto;
    grid-template-columns: 2fr 1fr 0.2fr;
    justify-items: end;
}
.brd-nn-div .etat-srf:last-child{border-bottom: none !important;}
h3.ttl-type{
    border-bottom: 1px solid #55555566;
    font-size: 18px;
    color: var(--color1);
    text-align: center;
    width: 100%;
    font-weight: 600;
    text-transform: capitalize;
}
form label{
    text-align: left;
    width: 100%;
    margin: auto;
}
.ant-col-12 {
    max-width: 100%;
    width:80% !important;
    display: grid !important;
    grid-template-columns: 1fr;
}
input[type=checkbox] {
    width: 15px !important;
    height: 15px !important;
}
@media screen and (max-width: 800px) {
    .ant-col-24 { width: 100% !important; }
}
@media screen and (max-width: 375px) {
    form label {text-align: left !important; }
}