<div  class="recap-div devis-content">
    <span style="font-size: 16px;text-align: left !important;font-weight: 900;color: #555555;height: 40px;" class="recup-fin">{{selectedPiece.Titre}}</span>
    
<div class="recap-last" *ngIf="demolition_murs_choisie">
    <div class="recap-mur-ttl">Murs non porteurs</div>
    <div *ngFor="let dim of dimensions_murs_non_porteurs; let i = index" class="recup-mur-flx">
        <span class="mur-ttl">Mur {{i+1}}</span>
        <div>
        <span class="recup-fin" ><p>Hauteur </p><p>:</p><p>{{dim?.hauteur}} cm</p></span>
        <span class="recup-fin" ><p>Longueur </p><p>:</p><p>{{dim?.longueur}} cm</p></span>
        <span class="recup-fin" ><p>Epaisseur </p><p>:</p><p>{{dim?.epaisseur}} cm</p></span>
        <span class="recup-fin" ><p>Volume </p><p>:</p><p>{{dim?.volume}} cm³</p></span>
        <span class="recup-fin" *ngIf="gammes_materiaux[i]"><p>Matériau </p><p>:</p><p>{{get_title(gammes_materiaux[i]?.materiaux)}}</p></span>
        </div>
    </div>
</div>

<div class="recap-last" *ngIf="portes_choisies">
    <div class="recap-mur-ttl">Pose de portes</div>
    <div class="recup-mur-flx">
        <div class="vide"></div>
        <div>
        <span class="recup-fin" ><p>Quantite portes simples creuse </p><p>:</p><p>{{quantite_portes_simples_creuse}}</p></span>
        <span class="recup-fin" ><p>Quantite portes doubles creuses </p><p>:</p><p>{{quantite_portes_doubles_creuses}}</p></span>
        <span class="recup-fin" ><p>Quantite porte simple plein </p><p>:</p><p>{{quantite_porte_simple_plein}}</p></span>
        <span class="recup-fin" ><p>Quantite porte double pleine </p><p>:</p><p>{{quantite_porte_double_pleine}}</p></span>
        </div>
    </div>
</div>


<div class="recap-last" *ngIf="ouverture_choisie">
    <div class="recap-mur-ttl">Ouverture Partielle</div>
    <div *ngFor="let dim of dimensions_ouverture; let i = index" class="recup-mur-flx">
        <span class="mur-ttl">Ouverture {{i+1}}</span>
        <div>
        <span class="recup-fin" ><p>Hauteur </p><p>:</p><p>{{dim?.hauteur}} cm</p></span>
        <span class="recup-fin" ><p>Longueur </p><p>:</p><p>{{dim?.longueur}} cm</p></span>
        <span class="recup-fin" ><p>Longueur du mur </p><p>:</p><p>{{dim?.longueur_du_mur}} cm</p></span>
        <span class="recup-fin" ><p>Epaisseur </p><p>:</p><p>{{dim?.epaisseur}} cm</p></span>
        <span class="recup-fin" ><p>Volume </p><p>:</p><p>{{dim?.volume}} cm³</p></span>
        <span class="recup-fin" *ngIf="gammes_cloison[i]"><p>Cloison </p><p>:</p><p>{{get_title(gammes_cloison[i]?.cloison)}}</p></span>
        </div>
    </div>
</div>
    
</div>