<div  class="recap-div devis-content">
    <span style="font-size: 16px;text-align: left !important;font-weight: 900;color: #555555;height: 40px;" class="recup-fin">{{selectedPiece.Titre}}</span>
    
<div class="recap-last" *ngIf="demolition_murs_choisie">
    <div class="recap-mur-ttl">Murs non porteurs</div>
    <div *ngFor="let dim of dimensions_murs_non_porteurs; let i = index" class="recup-mur-flx">
        <span class="mur-ttl">Mur {{i+1}}</span>
        <div>
        <span class="recup-fin" ><p>Hauteur </p><p>:</p><p>{{dim?.hauteur}} cm</p></span>
        <span class="recup-fin" ><p>Longueur </p><p>:</p><p>{{dim?.longueur}} cm</p></span>
        <span class="recup-fin" ><p>Epaisseur </p><p>:</p><p>{{dim?.epaisseur}} cm</p></span>
        <span class="recup-fin" ><p>Nombre de portes </p><p>:</p><p>{{dim?.ndp}} </p></span>
        <span class="recup-fin" *ngIf="dim.cloison"><p>Cloison </p><p>:</p><p>{{get_title(dim?.cloison)}}</p></span>
        </div>
    </div>
</div>




<div class="recap-last" *ngIf="ouverture_choisie">
    <div class="recap-mur-ttl">Ouverture Partielle</div>
    <div *ngFor="let dim of dimensions_ouverture; let i = index" class="recup-mur-flx">
        <span class="mur-ttl">Ouverture {{i+1}}</span>
        <div>
        <span class="recup-fin" ><p>Hauteur </p><p>:</p><p>{{dim?.hauteur}} cm</p></span>
        <span class="recup-fin" ><p>Longueur </p><p>:</p><p>{{dim?.longueur}} cm</p></span>
        <span class="recup-fin" ><p>Longueur du mur </p><p>:</p><p>{{dim?.longueur_du_mur}} cm</p></span>
        <span class="recup-fin" ><p>Epaisseur </p><p>:</p><p>{{dim?.epaisseur}} cm</p></span>
        <span class="recup-fin" ><p>longueur de l'ouverture </p><p>:</p><p>{{dim?.longueur_ouverture}} cm</p></span>
        <span class="recup-fin" ><p>hauteur de l'ouverture </p><p>:</p><p>{{dim?.hauteur_ouverture}} cm</p></span>
        <span class="recup-fin" ><p>hauteur depuis le sol </p><p>:</p><p>{{dim?.hauteur_depuis_le_sol}} cm</p></span>
        <span class="recup-fin" ><p>hauteur depuis le plafond </p><p>:</p><p>{{dim?.hauteur_depuis_le_plafond}} cm</p></span>
        <span class="recup-fin" *ngIf="dim.cloison"><p>Cloison </p><p>:</p><p>{{get_title(dim?.cloison)}}</p></span>
        </div>
    </div>
</div>
    
</div>