<div class="plaf-dim">
            <form [formGroup]="poseSolForm" (ngSubmit)="onPoseSolSubmit()">
               <img class="srf-img" src="/assets/Rectangle.svg">
               <div nz-row nzJustify="start" class="tooltip-srf">
                  <div nz-col nzSpan="6" class="ant-col" [nzXs]="24" [nzSm]="6">
                     <label for="surface">
                       Surface m²
                       <span class="error-message">*</span> :
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                         <i class="far fa-question-circle"></i>
                       </a>
                     </label>
                     <input type="number" id="surface" formControlName="surface" required>
                   
                     <ng-template #tooltipSurface>
                       <div class="tooltip-content">
                         <strong>Calcul de la surface :</strong><br>
                         <p>La surface est calculée en multipliant la longueur par la largeur de la pièce. Mesurez chaque côté avec précision pour obtenir la surface totale en m².</p>
                         <p><strong>Exemple :</strong> Si la pièce fait 4m de long et 3m de large, la surface totale est de 12 m².</p>
                       </div>
                     </ng-template>
                   </div>
                   
                <div *ngIf="isclicked && poseSolForm.get('surface')?.invalid " class="error-message">
                        Surface requise.
                      </div>

                  <div nz-col nzSpan="6" [nzXs]="24" [nzSm]="6" class="ant-col image">
                     <label for="image">Image :</label>
                     <input type="file" id="image" (change)="onFileChange($event,poseSolForm)" accept="image/*">
                  </div>
               </div>
               
             </form>
</div>             