<div class="plaf-dim">
            <form [formGroup]="poseSolForm" (ngSubmit)="onPoseSolSubmit()">
               <img class="srf-img" src="/assets/Rectangle.svg">
               <div nz-row nzJustify="start" >
                  <div nz-col nzSpan="6" class="ant-col" [nzXs]="24" [nzSm]="6">
                     <label for="surface">Surface m² :</label>
                     <input type="number" id="surface" formControlName="surface" required>
                     <div *ngIf="isclicked && poseSolForm.get('surface')?.invalid " class="error-message">
                        Surface requise.
                      </div>
                  </div>
               
                  <!-- <div nz-col nzSpan="6" class="ant-col" [nzXs]="24" [nzSm]="6">
                     <label for="longueur_piece">Longueur de la pièce :</label>
                     <input type="number" id="longueur_piece" formControlName="longueur_piece" required>
                     <div *ngIf="poseSolForm.get('longueur_piece')?.invalid && (poseSolForm.get('longueur_piece')?.dirty || poseSolForm.get('longueur_piece')?.touched)">
                        <div  class="ant-form-item-explain-error">Longueur est requise.</div>
                     </div>
                  </div> -->
               
                  <!-- <div nz-col nzSpan="6" class="ant-col" [nzXs]="24" [nzSm]="6">
                     <label for="largeur_piece">Largeur de la pièce :</label>
                     <input type="number" id="largeur_piece" formControlName="largeur_piece" required>
                     <div *ngIf="poseSolForm.get('largeur_piece')?.invalid && (poseSolForm.get('largeur_piece')?.dirty || poseSolForm.get('largeur_piece')?.touched)">
                        <div *ngIf="poseSolForm.get('largeur_piece')?.errors?.['required']" class="ant-form-item-explain-error">Largeur est requise.</div>
                     </div>
                  </div> -->
               
                 
               
                  <div nz-col nzSpan="6" [nzXs]="24" [nzSm]="6" class="ant-col image">
                     <label for="image">Image :</label>
                     <input type="file" id="image" (change)="onFileChange($event,poseSolForm)" accept="image/*">
                  </div>
               </div>
               
             </form>
</div>             