<div class="plaf-dim">
  <form [formGroup]="poseSolForm" (ngSubmit)="onPoseSolSubmit()">
    <div *ngIf="isclicked && poseSolForm" class="error-message">
      <div *ngIf="isclicked && poseSolForm.get('longueur')?.invalid " class="error-message">
        La longueur est invalide.
      </div>
      <div *ngIf="isclicked && poseSolForm.get('largeur')?.invalid " class="error-message">
        La largeur est invalide.
      </div>
      <div *ngIf="isclicked && poseSolForm.get('depose')?.invalid " class="error-message">
        Le revêtement à déposer est requis.
      </div>
    </div>
    <div class="mur-btn-div">
      <span class="mur-ttl">Dimensions {{get_designation()}}</span>
    </div>
    <!--<img src="/assets/sol.png" alt="" style="margin-block:25px !important; margin:auto;">-->
     <div nz-row nzJustify="start" class="tooltip-srf">
        <div nz-col class="ant-col-6 flx-radio-row2-w">
           <label for="longueur">
             Longueur (cm)
             <span class="error-message">*</span> :
           </label>
           <input (keypress)="blockComma($event)"  type="number" id="longueur" formControlName="longueur" min="100" max="3000"  required>
           
          </div>


        <div nz-col class="ant-col-6 flx-radio-row2-w">
          <label for="largeur">
            Largeur (cm)
            <span class="error-message">*</span> :
          </label>
          <input (keypress)="blockComma($event)"  type="number" id="largeur" formControlName="largeur" min="100" max="3000"  required>
         
        </div>

    </div>

   
    <div  nz-col class="ant-col0">
        
          <div  class="mur-btn-div tooltip-srf"> 
            <span class="mur-ttl">Revêtement à déposer <span class="error-message">*</span></span> 
            <a  nz-tooltip [nzTooltipTitle]="General" href="javascript:void(0)" class="pdf-icon">
              <i class="fas fa-question-circle"></i>
            </a>
            <ng-template #General>
              Pour plus d'informations, veuillez consulter :
              <a [href]="assetsUrl + 'modele_general.pdf'" target="_blank" class="link-tooltip">PDF</a>
            </ng-template> 
          </div>
        
      <nz-radio-group formControlName="depose" class="flx-radio-row3 row-w">
        
        <div *ngFor="let option of gammes_depose" class="parquet-option ant-col tooltip-srf">
          <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
             <span>  {{ option.Label }}</span>
          </label>
          
          
        </div>
        <div  class="parquet-option ant-col tooltip-srf">
          <label nz-radio nzValue="0:aucun:0">
            <span>Aucun</span>
          </label>
        </div>
      </nz-radio-group> 

    </div>
   
     
     
   </form>
</div>             