.ant-col{
    padding: 5px;
    text-align: start;
}
.ant-col[_ngcontent-ng-c3282933449] {
    text-align: center !important;
}
form label {
    margin-right: 30px !important;
}
.ant-col-6 {
    max-width: 40%;
    display: flex;
    flex: 0% !important;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
form{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}
.form-flx-dms h3{    
    font-weight: 600;
    font-size: 19px;
    color: #ffc736;
    text-align: left !important;}
.form-flx-dms .ant-col.ant-col-12 {
        display: flex;
        gap: 58px;
    }
.form-flx-dms form[_ngcontent-ng-c2414870382] label[_ngcontent-ng-c2414870382] {
        margin-right: 0px !important;
        width: 40%;
    }
  
h3.ttl-type {
    font-size: 17px !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio-flx-spc .ant-row{ display:grid !important;grid-template-columns: 12fr 1fr !important; width: 80%;margin: auto;}
.ant-col.ant-col-6{max-width: 100%;}
nz-radio-group.ant-radio-group.radio-flx-spc {
    width: 90% !important;
}
a.info-icon {display: flex; align-items: center;}
.form-flx-dms .ant-col.ant-col-12{
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: center;
}
.form-flx-dms .ant-col.ant-col-12 div { width: 100% !important;}
form label { margin-right: 0px !important;}
label.ant-radio-wrapper {
    width: 100% !important;
    max-width: 100% !important;
    display: inline-flex;
    flex-direction: row-reverse;
}
.img-tltip img{width:150px;height:150px;}
.flx-depose{
    display: grid;
    grid-template-columns: 13fr 2fr;
    width: 68%;
    margin: auto;
    justify-items: start;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 12px 0px !important;
}
.radio-flx-spc label{
    display: flex;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e9e9e9;
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.tooltip-srf .radio-flx-spc div { grid-template-columns: 6fr 1fr;}
i.far.fa-question-circle {
    color: var(--color1);
    font-size: 20px;
    margin-top: 7px;
}
.link-tooltip{color:var(--color1);}
.link-tooltip:hover{color:var(--color-white);text-decoration: underline;}
.ant-col-12 {
    max-width: 98%;
}
.flx-depose{ grid-template-columns: 13fr 1.59fr;}

.radio-flx-spc div:last-child label{border-bottom: 1px solid #E9E9E9 !important;}
@media only screen and (max-width: 600px) {
    .vald-btn, .add-btn{ width: fit-content;}
    /*.form-flx-dms form label{  width: 57%; }*/
    .radio-flx-spc .ant-row, .flx-depose{ width: 100%; }
    nz-radio-group.ant-radio-group.radio-flx-spc.ng-untouched.ng-pristine.ng-invalid{width: 100% !important;}
    .radio-flx-spc label span:nth-child(2) {text-align: left !important; padding-left: 0px !important;}
    form label {text-align: left;width:100%;}
}