<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="page-home">

 <div class="section-slider">
    <span class="txt1-sldr">Des travaux de rénovation ?</span>
    <span class="txt2-sldr"><strong>Réalisons-les ensemble !</strong> Transformez votre maison avec HOMEREN</span>
    <a class="btn-site piece-btn center mt-15" href="/devis-en-ligne">Demande de devis</a>
 </div>

 <div class="section-presentation flx-media">
    <div class="col-md-6 col1-presenta">
        <img class="img1-presenta" src="/assets/image1-presentation.webp">
        <img class="img2-presenta" src="/assets/image2-presentation.webp">
    </div>
    <div class="col-md-6 col2-presenta">
      <div class="div-flx">
        <img class="img3-presenta" src="/assets/icon-titre.svg">
        <h1 class="txt1-presenta font-site">Notre concept HOMEREN</h1>
        <p class="txt2-presenta">Chez HOMEREN, nous sommes passionnés par la transformation des espaces de vie. Depuis plus de [X] ans, nous offrons des services de rénovation de haute qualité pour aider nos clients à réaliser leurs rêves de maison parfaite.<br><br>
        Que ce soit pour une rénovation complète, une mise à jour de la cuisine ou une nouvelle salle de bain, notre équipe expérimentée est là pour vous accompagner à chaque étape du projet.</p>
       <a class="btn-site" href="/qui-somme-nous">En savoir plus</a>
    </div>
    </div>
 </div>

<div class="bg-pieces">
 <div class="section-pieces">
    <div class="col1-pieces">
        <img class="img1-piece" src="/assets/icon-blanc.svg">
        <h2 class="txt1-pieces center blanc font-site">Rénovez chaque pièce de la maison</h2>
    </div>
    <div class="col2-pieces">

    <div class="col-md-4 col-piece" *ngFor="let piece of pieces">
        <a [href]="'/pieces/pieces-details/'+piece.ID">
            <img class="img2-piece" [src]="baseurl +piece.Image_presentation">
           <div class="content-piece">
            <h3 class="title-pieces jaune font-site1"> {{piece.Titre}}</h3>
            <p class="blanc fs-18 eq-h-piece"> {{piece["Présentation"]}}</p>
           </div>
        </a>
    </div>


    </div>
    <a class="btn-site piece-btn center" href="/pieces/pieces-liste">Toutes les pièces</a>

 </div>
</div>

<div class="section-realisation">
    <div class="div-flx">
        <img class="img1-piece" src="/assets/icon-titre-gris.svg">
        <h2 class="font-site center gris">Nos réalisations</h2>
    </div> 
    <div class="col2-pieces col-realis">

        <div class="col-md-4 col-realis" *ngFor="let realisation of realisations">
            <a [href]="'/realisations/realisations-details/'+realisation.ID">
                    <img class="img-realis" src="{{baseurl}}{{realisation.Image_principale}}">
            </a>        
            <div class="content-realis">
                <p class="cat-pc font-site2 fs-18">
                {{realisation?.Piece?.Titre}}
                </p>
            </div>
                    
            
        </div>
    
    
       
    </div> 
    <a class="btn-site center" href="/realisations">Voir plus</a>
</div>

<div class="bg-faq">
        <div class="col-faq">
          <img class="" src="/assets/icon-blanc.svg">
          <h2 class="font-site blanc">Questions <br>fréquemment posées</h2>
          <p class="txt-faq blanc fs-25">Vous avez des questions sur nos services de rénovation ?Nous sommes à votre disposition pour vous apporter des réponses. Découvrez toutes les informations dont vous avez besoin pour mieux comprendre nos services.</p>
         <a class="btn-site piece-btn" href="/faq">Voir plus</a>
      </div>
</div>

<div class="section-artisan">
    <div class="col2-artisan">
      <div class="div-flx">
        <img class="img3-artisan" src="/assets/icon-titre-gris.svg">
        <h2 class="txt1-artisan font-site gris">Vous êtes artisan, devenez partenaire de HomeRen</h2>
        <p class="txt2-presenta">Nous sommes à la recherche de partenaires passionnés par l'amélioration des espaces de vie et désireux de fournir des services exceptionnels à nos clients.</p>
       <a class="btn-site" href="/form-artisan">Je postule</a>
    </div>
    </div>

    <div class="col1-artisan">
        <img class="img2-artisan" src="/assets/artisan-img2.webp">
        <img class="img1-artisan" src="/assets/artisan-img1.webp">

    </div>
</div>


</div>