<div class="page-m-l">
    <h2>Présentation du site</h2>
    <p> Nom de la Société : NASH (NORTH AFRICA SHORING) SARL<br>
    Adresse : 14 Route d’Amizmiz km3 – Complexe de Chrifia – 40000 Marrakech – Maroc<br>
    Tél : +212 6 42 88 78 83<br>
    Au Capital de : 10 000 dhs<br>
    R.C. : 124 455<br>
    Hébergement : o2switch
    </p>
    <h2>Conditions générales d’utilisation du site et des services proposés</h2>
    <p>L’utilisation du site <a href="/">homeren.fr</a> implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, sans préavis, aussi les utilisateurs du site <a href="/">homeren.fr</a> sont invités à les consulter de manière régulière.
    
    <a href="/">homeren.fr</a> est par principe accessible aux utilisateurs 24/24h, 7/7j, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou cas de force majeure. En cas d’impossibilité d’accès au service, <a href="/">homeren.fr</a> s’engage à faire son maximum afin de rétablir l’accès au service et s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. N’étant soumis qu’à une obligation de moyen, <a href="/">homeren.fr</a> ne saurait être tenu pour responsable de tout dommage, quelle qu’en soit la nature, résultant d’une indisponibilité du service.
    
    Le site <a href="/">homeren.fr</a> est mis à jour régulièrement par le propriétaire du site. De la même façon, les mentions légales peuvent être modifiées à tout moment, sans préavis et s’imposent à l’utilisateur sans réserve. L’utilisateur est réputé les accepter sans réserve et s’y référer régulièrement pour prendre connaissance des modifications.
    
    Le site <a href="/">homeren.fr</a> se réserve aussi le droit de céder, transférer, ce sans préavis les droits et/ou obligations des présentes CGU et mentions légales. En continuant à utiliser les services du site <a href="/">homeren.fr</a> , l’utilisateur reconnaît accepter les modifications des conditions générales qui seraient intervenues.
    </p> 
    <h2>Limites de responsabilité</h2>
    <p>Le site <a href="/">homeren.fr</a> ne saurait être tenu responsable des erreurs typographiques ou inexactitudes apparaissant sur le service, ou de quelque dommage subi résultant de son utilisation. L’utilisateur reste responsable de son équipement et de son utilisation, de même il supporte seul les coûts directs ou indirects suite à sa connexion à Internet.
    
    L’utilisateur du site <a href="/">homeren.fr</a> s’engage à accéder à celui-ci en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mise à jour.
    
    L’utilisateur dégage la responsabilité de <a href="/">homeren.fr</a> pour tout préjudice qu’il pourrait subir ou faire subir, directement ou indirectement, du fait des services proposés. Seule la responsabilité de l’utilisateur est engagée par l’utilisation du service proposé et celui-ci dégage expressément le site <a href="/">homeren.fr</a> de toute responsabilité vis à vis de tiers.
    </p>
    <h2>Propriété intellectuelle et contrefaçons</h2>
    <p>Le propriétaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, graphismes, logo, icônes…
    
    Les images utilisées proviennent :
    – de la banque d’images despositphotos.com
    – du web sous licence Creative Commons
    
    Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation.
    
    Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions applicables par la loi.
    </p>
    <h2>Liens hypertextes et cookies</h2>
    <p>Le site <a href="/">homeren.fr</a> contient un certain nombre de liens hypertextes vers d’autres sites (partenaires, informations …). Cependant, le propriétaire du site n’a pas la possibilité de vérifier le contenu des sites ainsi visités et décline donc toute responsabilité de ce fait quant aux risques éventuels de contenus illicites.
</p></div>
