           <form [formGroup]="posePlafondForm" (ngSubmit)="onPosePlafondSubmit()">

               <div >
                 <div nz-row nzJustify="start" >
                   
                   <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
                     <!-- <label for="etat" class="etat-srf-ttl">État du surface: </label> -->
                     <nz-radio-group formControlName="etat" class="radio-flx-spc">
                      <div>
                        <label nz-radio nzValue="Très abimé" class="radio-span">
                          <span>Très abimé</span>
                        </label>
                        <a nz-tooltip [nzTooltipTitle]="tooltipTresAbime" href="javascript:void(0)" class="info-icon">
                          <i class="far fa-question-circle"></i>
                        </a>
                        <ng-template #tooltipTresAbime>
                          Le plafond est très abimé, une réparation complète est indispensable.
                        </ng-template>
                      </div>
                      
                      <div>
                        <label nz-radio nzValue="abimé">
                          <span>Abimé</span>
                        </label>
                        <a nz-tooltip [nzTooltipTitle]="tooltipAbime" href="javascript:void(0)" class="info-icon">
                          <i class="far fa-question-circle"></i>
                        </a>
                        <ng-template #tooltipAbime>
                          Le plafond présente des signes d'usure, envisagez des réparations mineures.
                        </ng-template>
                      </div>
                      
                      <div>
                        <label nz-radio nzValue="reprises partielles">
                          <span>Reprises partielles</span>
                        </label>
                        <a nz-tooltip [nzTooltipTitle]="tooltipReprisesPartielles" href="javascript:void(0)" class="info-icon">
                          <i class="far fa-question-circle"></i>
                        </a>
                        <ng-template #tooltipReprisesPartielles>
                          Des réparations partielles sont nécessaires pour maintenir le plafond en bon état.
                        </ng-template>
                      </div>
                    </nz-radio-group>
                    

                   </div>
                   <div *ngIf="isclicked && posePlafondForm.get('etat')?.invalid " class="error-message">
                    État des surfaces requis.
                    </div>
                 </div>
               </div>
             </form>