<div class="plaf-dim">
    
  
  
  <div  class="div-s-b">
    <div class="div-chauf-gm">
      <span class="center jaune fs-16 f-w-6">À ajouter</span>   
    </div>
    
    <form [formGroup]="appareils_a_ajouter_form" (ngSubmit)="submit()">
      <div *ngIf="exist_glob_err_form1" class="error-message">
        {{glob_err_form1}}
      </div>
      <div formArrayName="appareils_electrique" class="flx-pr">
        <div *ngFor="let appareilGroup of appareils_electrique; let i = index" [formGroupName]="i">
          

          <nz-collapse nzAccordion>
              <nz-collapse-panel nzHeader="Modèles - {{appareils_electrique && appareils_electrique[i] ? appareils_electrique[i].Titre : ''}}" [nzActive]="getAppareilActiveState(i)" [nzExtra]="activerTp" nzShowArrow="false" (nzActiveChange)="active_Tp(i)">
                <div class="ant-col etat-srf tooltip-srf" *ngIf="isclicked && getAppareilNombreState(i)" class="error-message">
                  Vous devez faire un choix.
                </div>
                <div class="div-mur-gm" style="width:100%;">
                  <span class="mur-ttl">
                  Gamme</span> <span class="error-message" *ngIf="getAppareilActiveState(i)">*</span> : 
                </div>
                <nz-radio-group formControlName="modele" class="radio-flx-spc">
                      <div *ngFor="let modele of appareilGroup.ModeleEquipements" nz-row nzJustify="start">
                        <div nz-col nzSpan="12" class="ant-col tooltip-srf etat-srf">
                          
                            <label nz-radio [nzValue]="modele.ID + ':' + modele.Titre + ':' + modele.Prix">
                            <span>
                                {{modele.Titre}}
                              </span>
                            </label>
                          <a nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="info-icon">
                          <i class="far fa-question-circle"></i>
                        </a>
                        </div>
                        <!-- Tooltip with image and dimensions -->
                        
                        <ng-template #tooltipTemplate >
                          <div>
                            <div class="img-tltip" *ngIf="modele.Image">
                              <img [src]="baseurl + modele.Image" [alt]="modele.Image" width="150px"/>
                            </div>
                            <div><strong>Longueur:</strong> {{modele.Longeur}}</div>
                            <div><strong>Largeur:</strong> {{modele.Largeur}}</div>
                            <div><strong>Hauteur:</strong> {{modele.Hauteur}}</div>
                            
                          </div>
                        </ng-template>
                      </div>
                    </nz-radio-group>
                    <div nzspan="6" class="col-accord-inpt">
                      <label for="nombre">Quantité<span class="error-message" *ngIf="getAppareilActiveState(i)">*</span> : </label>
                      <input type="number" id="nombre" formControlName="nombre" min="1">      
                    </div>  
                </nz-collapse-panel>
          </nz-collapse>
          <ng-template #activerTp>
            <label nz-checkbox formControlName="active">
              
            </label>
          </ng-template>
          <!-- Ajoutez d'autres champs selon vos besoins -->
        </div>
      </div>
    </form>
  </div>


  <div  class="div-s-b">
    <div class="div-chauf-gm">
      <span class="center jaune fs-16 f-w-6">À remplacer</span>   
    </div>
    <form [formGroup]="appareils_a_remplacer_form" (ngSubmit)="submit()">
      <div *ngIf="exist_glob_err_form2" class="error-message">
        {{glob_err_form2}}
      </div>
      <div  class="form-group" nz-row nzJustify="start">
        <div nz-col nzSpan="6" class="ant-col etat-srf-accord tooltip-srf">
          <label for="remplacement_disjoncteur">Remplacement du disjoncteur ?</label>
          <nz-radio-group formControlName="remplacement_disjoncteur" nzName="radiogroup" class="sidebyside">
            <label nz-radio [nzValue]="true">Oui</label>
            <label nz-radio [nzValue]="false">Non</label>
          </nz-radio-group>

          <a nz-tooltip [nzTooltipTitle]="tooltip_rempl_disj" href="javascript:void(0)" class="info-icon">
              <i class="far fa-question-circle"></i>
            </a>
            <ng-template #tooltip_rempl_disj>
              <div class="tooltip-content">
                <strong>Pour le remplacement du disjoncteur, on suppose que le tableau existe déja. Le remplacement du tableau n'est pas prévu.</strong><br>
                </div>
            </ng-template>     
        </div> 
      </div>
      <div formArrayName="appareils_electrique_a_remplacer" class="flx-pr">
        <div *ngFor="let appareilGroup of appareils_electrique_a_remplacer; let i = index" [formGroupName]="i">
          

          <nz-collapse nzAccordion>
              <nz-collapse-panel nzHeader="{{appareils_electrique_a_remplacer && appareils_electrique_a_remplacer[i] ? appareils_electrique_a_remplacer[i].Titre : ''}}" [nzActive]="getAppareilRemplActiveState(i)" [nzExtra]="activerTp2" nzShowArrow="false" (nzActiveChange)="active_Tp2(i)">
                <div class="ant-col etat-srf tooltip-srf" *ngIf="isclicked && getAppareilNombreState(i)" class="error-message">
                  Vous devez faire un choix.
                </div>
                
                <div nz-col nzSpan="6" class="ant-col etat-srf-accord tooltip-srf">
                  <label for="creation_ou_remplacement">Création ou remplacement </label>
                  <nz-radio-group formControlName="creation_ou_remplacement" nzName="radiogroup" class="sidebyside">
                    <label nz-radio nzValue="Création">Création</label>
                    <label nz-radio nzValue="Remplacement">Remplacement</label>
                  </nz-radio-group>
                  <a nz-tooltip [nzTooltipTitle]="tooltip_c_o_r" href="javascript:void(0)" class="info-icon">
                    <i class="far fa-question-circle"></i>
                  </a>
                  <ng-template #tooltip_c_o_r>
                    <div class="tooltip-content">
                      <strong>                  
                        Le remplacement se fait sans changer de cable. La création se fait avec un ajout de cables sous goulottes pvc blanc
                      </strong><br>
                      </div>
                  </ng-template> 
                </div> 

                <div nzspan="6" class="col-accord-inpt">
                  <label for="nombre">Quantité<span class="error-message" *ngIf="getAppareilRemplActiveState(i)">*</span> : </label>
                  <input type="number" id="nombre" formControlName="nombre" min="1">      
                </div>  
              </nz-collapse-panel>
          </nz-collapse>
          <ng-template #activerTp2>
            <label nz-checkbox formControlName="active">
              
            </label>
          </ng-template>
          <!-- Ajoutez d'autres champs selon vos besoins -->
        </div>
      </div>


    </form>
  </div>

  <!-- Tooltip Template -->


</div>

