<div class="plaf-dim renov-elec">

  <div  class="div-s-b">
    <div class="renov-elec-div ">
      <span class="mur-ttl">À remplacer sans changement de câble</span>   
    </div>
    <form [formGroup]="appareils_a_remplacer_form" (ngSubmit)="submit()">
      <div *ngIf="exist_glob_err_form2" class="error-message">
        {{glob_err_form2}}
      </div>
      <div formArrayName="appareils_electrique_a_remplacer" class="flx-pr">
        <div *ngFor="let appareilGroup of appareils_electrique_a_remplacer; let i = index" [formGroupName]="i">
          

          <nz-collapse nzAccordion class="row-w-collapse">
              <nz-collapse-panel nzHeader="{{appareils_electrique_a_remplacer && appareils_electrique_a_remplacer[i] ? appareils_electrique_a_remplacer[i].Titre : ''}}" [nzActive]="getAppareilRemplActiveState(i)" [nzExtra]="activerTp2" nzShowArrow="false" (nzActiveChange)="active_Tp2(i)">
                <div class="ant-col" *ngIf="isclicked && getAppareilNombreState2(i)" class="error-message">
                  Vous devez faire un choix.
                </div>
                <div nz-row nzJustify="start" class="ant-col-flx coll-100" style="padding-block: 14px;" >

                <div nz-col nzspan="6" class="flx-radio-row4">
                  <label for="nombre_a_creer">A remplacer<span class="error-message" *ngIf="getAppareilRemplActiveState(i)">*</span> : </label>
                  <input (keypress)="blockComma($event)"  type="number" id="nombre_a_creer" formControlName="nombre_a_creer" min="0">      
                </div>  

                <div nz-col nzspan="6" class="flx-radio-row4">
                  <label for="nombre_a_remplacer">A créer<span class="error-message" *ngIf="getAppareilRemplActiveState(i)">*</span> : </label>
                  <input (keypress)="blockComma($event)"  type="number" id="nombre_a_remplacer" formControlName="nombre_a_remplacer" min="0">      
                </div> 
              </div>  
              </nz-collapse-panel>
          </nz-collapse>
          <ng-template #activerTp2>
            <label nz-checkbox formControlName="active">
              
            </label>
          </ng-template>
          <!-- Ajoutez d'autres champs selon vos besoins -->
        </div>
      </div>



      <div  class="form-group" nz-col nzJustify="start" class="w-80" style="display:block;">

        <div nz-col class="row-w-grid1" style="padding:0px 16px !important;">
          <div class="" >
          <label>Gamme d'appareillage :</label>
         </div>
          <nz-radio-group formControlName="gamme" class="">
            <!-- Reusable template for displaying options with PDFs -->
          
            <div nz-col class="flx-radio-row1">
              <div *ngFor="let option of gammes_appareillage" class="parquet-option ant-col tooltip-srf ">
                <label nz-radio [nzValue]="option.ID + '-' + option.PrixMultiples + '-' + option.Label">
                  <span>
                    <!-- Dynamically display the label based on the type -->
                    {{ option.Label }}
                  </span>
                </label>
                <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
                  <i class="fas fa-question-circle"></i>
                </a>
                <ng-template #tooltipTemplate>
                  Pour plus d'informations, veuillez consulter :
                  <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                </ng-template>
              </div>
            </div>
          </nz-radio-group>
        </div>
          <div *ngIf="isclicked && appareils_a_remplacer_form.get('gamme')?.invalid " class="error-message">
            Les gammes sont requises.
          </div>

      </div>
      


      
    </form>
  </div>

  <!-- Tooltip Template -->


</div>

