<div class="etat-mr-n-p">
            <form [formGroup]="poseMursNonPorteursForm" (ngSubmit)="onPoseMursNonPorteursSubmit()">

               <div formArrayName="murs_non_porteurs">
              
                <div *ngFor="let mur of murs_non_porteurs.controls; let i = index" [formGroupName]="i">
                  Mur {{i+1}}
                  <div nz-row nzJustify="start" >
                   
                    <div nz-col nzSpan="6" class="ant-col">
                      <label for="type_cloison">Type de cloison  </label>
                      <nz-radio-group formControlName="type_cloison" (ngModelChange)="onTypeChange($event)">
                        <label nz-radio nzValue="98/48+I">98/48+I</label>
                        <label nz-radio nzValue="72/48">72/48</label>
                        <label nz-radio nzValue="50">50</label>
                        <label nz-radio nzValue="CP">CP</label>
                        <label nz-radio nzValue="Autre type de cloison">Autre type de cloison</label>
                      
                      </nz-radio-group>
                      
                    </div>
                    <div nz-col nzSpan="6" class="ant-col" id="autre_type_cloison" *ngIf="isAutreType">
                      <label for="autre_type_cloison">Autre type de cloison (préciser): </label>
                      <input type="text"  formControlName="autre_type_cloison">
                     
                    </div>
                    
                  </div>
                </div>
                
               </div>
               <button class="vald-btn" type="submit">Valider</button>
             </form>
</div>

