<div class="etat-mr-n-p">
  <form [formGroup]="poseMursNonPorteursForm" (ngSubmit)="onPoseMursNonPorteursSubmit()">

     <div formArrayName="murs_non_porteurs">
    
      <div *ngFor="let mur of murs_non_porteurs.controls; let i = index" [formGroupName]="i">
        <div class="div-mur-gm">
        <span class="mur-ttl">Mur {{i+1}}</span><span class="mur-ttl"> - </span><label for="type_cloison" class="mur-ttl">Type de cloison  </label>
        </div>
        <div nz-row nzJustify="start" >
         
          <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
            
            <nz-radio-group formControlName="type_cloison" class="radio-flx-spc">
              <div *ngFor="let option of types" >
              <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label">{{option.Label}}</label>
              <a nz-tooltip [nzTooltipTitle]="tooltip_type_cloison" href="javascript:void(0)" class="info-icon">
                <i class="far fa-question-circle"></i>
              </a>
              <ng-template #tooltip_type_cloison>
                Pour plus d'informations, veuillez consulter :
                <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
              </ng-template>
              </div>
              
              <div>
                <label nz-radio nzValue="Autre type de cloison">Autre type de cloison</label>
                <a nz-tooltip [nzTooltipTitle]="tooltip_autre" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltip_autre>
                  Autre type de cloison.
                </ng-template>
              </div>
            </nz-radio-group>
            
          </div>
          <div nz-col nzSpan="6" class="ant-col col-100-tc" *ngIf="isAutreType(i)">
            <label for="autre_type_cloison">Autre type de cloison (préciser): </label>
            <input type="text"  formControlName="autre_type_cloison">
           
          </div>
          <div *ngIf="isclicked && murs_non_porteurs.controls[i].get('type_cloison')?.invalid " class="error-message">
            Le type de cloison du mur est requis.
          </div>
          
        </div>
      </div>
      
     </div>
   </form>
</div>

