<div class="etat-mr-n-p">
  <form [formGroup]="poseMursNonPorteursForm" (ngSubmit)="onPoseMursNonPorteursSubmit()">

     <div formArrayName="murs_non_porteurs">
    
      <div *ngFor="let mur of murs_non_porteurs.controls; let i = index" [formGroupName]="i">
        <div class="div-mur-gm">
        <span class="mur-ttl">Mur {{i+1}}</span> - <label for="type_cloison" class="mur-ttl">Type de cloison  </label>
        </div>
        <div nz-row nzJustify="start" >
         
          <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
            
            <nz-radio-group formControlName="type_cloison" (ngModelChange)="onTypeChange($event)" class="radio-flx-spc">
              <div>
              <label nz-radio nzValue="98/48+I">98/48+I</label>
              <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                <i class="far fa-question-circle"></i>
              </a>
              <ng-template #tooltipBonEtat>
                98/48+I
              </ng-template>
              </div>
              <div><label nz-radio nzValue="72/48">72/48</label>
                <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltipBonEtat>
                  72/48
                </ng-template>
              </div>
              <div><label nz-radio nzValue="50">50</label>
                <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltipBonEtat>
                  50
                </ng-template>
              </div>
              <div>
              <label nz-radio nzValue="CP">CP</label>
              <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                <i class="far fa-question-circle"></i>
              </a>
                <ng-template #tooltipBonEtat>
                  CP
                 </ng-template>
              </div>
              <div>
                <label nz-radio nzValue="Autre type de cloison">Autre type de cloison</label>
                <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltipBonEtat>
                  Autre type de cloison.
                </ng-template>
              </div>
            </nz-radio-group>
            
          </div>
          <div nz-col nzSpan="6" class="ant-col col-100-tc" id="autre_type_cloison" *ngIf="isAutreType">
            <label for="autre_type_cloison">Autre type de cloison (préciser): </label>
            <input type="text"  formControlName="autre_type_cloison">
           
          </div>
          
        </div>
      </div>
      
     </div>
   </form>
</div>

