<div class="eltrc-div plaf-dim">
  <form [formGroup]="renovationElectriqueForm" (ngSubmit)="onRenovationElectriqueSubmit()">

    <div >
      <div nz-row nzJustify="start" >

        <div nz-col nzSpan="6" class="tooltip-srf">
          <label for="surface">Surface de la pièce (m²) <span class="error-message">*</span> : </label>
          <input type="number" id="surface" formControlName="surface" max="100" min="1">
        </div>
        <div *ngIf="isclicked && renovationElectriqueForm.get('surface')?.invalid " class="error-message">
          La surface est invalide.
       </div>

       <div nz-col nzSpan="6" class="ant-col etat-srf-accord tooltip-srf">
        <label for="renovation_conforme">Rénovation conforme à la norme C15100 </label>
        <nz-radio-group formControlName="renovation_conforme" id="renovation_conforme" nzName="radiogroup" class="sidebyside">
          <label nz-radio [nzValue]="true">Oui</label>
          <label nz-radio [nzValue]="false">Non</label>
        </nz-radio-group>
        <a nz-tooltip [nzTooltipTitle]="tooltip_ren" href="javascript:void(0)" class="info-icon">
          <i class="far fa-question-circle"></i>
        </a>
        <ng-template #tooltip_ren>
          <div class="tooltip-content">
            <strong>Rénovation conforme à la norme C15100 </strong><br>
            </div>
        </ng-template>  
      </div> 

      <div nz-col nzSpan="6" class="ant-col etat-srf-accord tooltip-srf">
        <label for="mise_en_securite">Mise en sécurité </label>
        <nz-radio-group  formControlName="mise_en_securite" id="mise_en_securite" nzName="radiogroup" class="sidebyside">
          <label nz-radio [nzValue]="true">Oui</label>
          <label nz-radio [nzValue]="false">Non</label>
        </nz-radio-group>
        <a nz-tooltip [nzTooltipTitle]="tooltipMise" href="javascript:void(0)" class="info-icon">
          <i class="far fa-question-circle"></i>
        </a>
        <ng-template #tooltipMise>
          <div class="tooltip-content">
            <strong>Mise en sécurité </strong><br>
            </div>
        </ng-template>  
      </div> 
       
      
       <div nz-col nzSpan="6" class="ant-col etat-srf-accord tooltip-srf">
        <label for="chauffage_exist">Y-a-t-il un chauffage électrique ? </label>
        <nz-radio-group formControlName="chauffage_exist" id="chauffage_exist" nzName="radiogroup" class="sidebyside" >
          <label nz-radio [nzValue]="true">Oui</label>
          <label nz-radio [nzValue]="false">Non</label>
        </nz-radio-group>
        <a nz-tooltip [nzTooltipTitle]="tooltipchauffelec" href="javascript:void(0)" class="info-icon">
          <i class="far fa-question-circle"></i>
        </a>
        <ng-template #tooltipchauffelec>
          <div class="tooltip-content">
            <strong>un chauffage électrique</strong><br>
            </div>
        </ng-template>  
      </div> 
    


      <div nz-col nzSpan="6" class="tooltip-srf" *ngIf="renovationElectriqueForm.get('chauffage_exist')?.value==true">
        <label for="quantite_chauffage">Quantité de chauffage <span class="error-message">*</span> : </label>
        <input type="number" id="quantite_chauffage" formControlName="quantite_chauffage" max="10" min="1">
      </div>
      <div *ngIf="isclicked && renovationElectriqueForm.get('quantite_chauffage')?.invalid " class="error-message">
        La quantité de chauffage est invalide.
     </div>



      
     
     
      </div>
    </div>
  </form>
  
</div>