<div class="center section-panier">
    <h1 class="center black font-site">VOS PROJETS EN COURS</h1>
    <ul class="projects-list">
        <li *ngFor="let data of listOfCurrentProjects" class="projects-list-element">
            <span>Projet  HR-{{currentYear}}-{{ data.Id }} 
                crée le {{data.Date_de_creation | date:'dd/MM/yyyy' }}
                - {{data.Status}} 
            </span>
            <a  class="see-more" [href]="'/espace-membre/projet/'+data.Id">Détails</a> 
        </li>
    </ul>
</div>