
<div class="gam-cuis">
<form [formGroup]="deposeElementCuisinesForm" (ngSubmit)="ondeposeElementCuisinesSubmit()">
    <!-- Section pour ajouter des gammes -->
    <div formArrayName="gammes">
      <div *ngFor="let gamme of gammes.controls; let i = index" [formGroupName]="i">
        <nz-collapse nzAccordion>
          <nz-collapse-panel nzHeader="Dépose de {{gammes_depose && gammes_depose[i] ? gammes_depose[i].Label : ''}}" [nzActive]="getGammeActiveState(i)" [nzExtra]="activerTp" nzShowArrow="false" (nzActiveChange)="active_Tp(i)">
           
            
            <div nz-row nzJustify="start" class="cuisine-flx">
              <!-- Champ Quantité -->
              <div nz-col nzSpan="24" class="ant-col tooltip-srf etat-srf">
                  <label for="quantite-{{i}}">Quantité <span class="error-message" *ngIf="getGammeActiveState(i)">*</span> :</label>
                  <input id="quantite-{{i}}" type="number" formControlName="quantite" min="1"/>
                  <a nz-tooltip [nzTooltipTitle]="tooltipHauteur" href="javascript:void(0)" class="info-icon">
                    <i class="far fa-question-circle"></i>
                  </a>
              </div>
              <div *ngIf="gamme.get('quantite')?.invalid && isclicked" class="error-message">
                Quantité invalide
              </div>
              <!-- Champ Image -->
              <div nz-col nzSpan="24" class="ant-col tooltip-srf etat-srf">
                  <label for="image-{{i}}">Image :</label>
                  <input id="image-{{i}}" type="file" (change)="onGammeFileChange($event, i)" />
                  <a nz-tooltip [nzTooltipTitle]="tooltipHauteur" href="javascript:void(0)" class="info-icon">
                    <i class="far fa-question-circle"></i>
                  </a>
              </div>
              <div *ngIf="gamme.get('image')?.invalid && isclicked" class="error-message">
                Veuillez télécharger une image valide
              </div>
            </div>
            
            <ng-template #tooltipHauteur>
              <div class="tooltip-content">
                <strong>Calcul de la surface :</strong><br>
                <p>La surface est calculée en multipliant la longueur par la largeur de la pièce. Mesurez chaque côté avec précision pour obtenir la surface totale en m².</p>
                <p><strong>Exemple :</strong> Si la pièce fait 4m de long et 3m de large, la surface totale est de 12 m².</p>
              </div>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>
        <ng-template #activerTp>
          <label nz-checkbox formControlName="active">
            
          </label>
        </ng-template>
      </div>
    </div>
  
    
    
  </form>
</div> 

  