.ant-col{
    width: 80%;
    max-width: 100%;
    display: grid !important;
    margin: auto;
    gap: 2px;
    text-align: center;
    margin-bottom: 5px;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}
.ant-col.full-w{grid-template-columns: 1fr;}
.ant-row-start.cuisine-flx{display:grid;grid-template-columns: 1fr 2fr;}
h3.ttl-type{
    border-bottom: 1px solid #55555566;
    font-size: 18px;
    color: var(--color1);
    text-align: center;
    width: 100%;
    font-weight: 600;
    text-transform: capitalize;
}
@media only screen and (max-width: 600px) {
    .ant-row-start.cuisine-flx{display:grid;grid-template-columns: 1fr 1fr;} 
}
@media only screen and (max-width: 497px) {
    .ant-row-start.cuisine-flx{display:grid;grid-template-columns: 1fr;} 
    .ant-col {width: 100%;}
}