<div class="renov-elec plaf-dim tooltip-srf">
  <div  class="">
    <form [formGroup]="poseCuisineForm" (ngSubmit)="onPoseCuisineSubmit()">
      <div formArrayName="appareils_cuisine" class="">
        <div *ngFor="let appareilGroup of appareils_cuisine; let i = index" [formGroupName]="i">
          
          <!-- <div class="div-chauf-gm"><h3 class="ttl-type jaune">{{appareils_cuisine && appareils_cuisine[i] ? appareils_cuisine[i].Titre : ""}}</h3></div> -->
          <nz-collapse nzAccordion class="row-w-collapse">
              <nz-collapse-panel [nzHeader]="'ajouter '+appareils_cuisine[i].Titre" [nzActive]="getAppareilActiveState(i)" [nzExtra]="activerTp" nzShowArrow="false" (nzActiveChange)="active_Tp(i)">
                <div class="ant-col etat-srf tooltip-srf" *ngIf="isclicked && getAppareilModeleState(i)" class="error-message">
                  Vous devez faire un choix.
                </div>
                <div nzspan="6" class="flx-radio-row3" style="padding-top: 12px;" *ngIf="appareils_cuisine[i].AfficherLongueur">
                  <label for="longueur">Longueur (cm) :</label>
                  <input (keypress)="blockComma($event)"  id="longueur" type="number" formControlName="longueur" min="0"/>     
                </div>  

                <div  nz-col class="row-w-grid3">
                <div class="">
                  <label class="">Gamme</label> <span class="error-message" *ngIf="getAppareilActiveState(i)">*</span> : 
                </div>
                  <nz-radio-group formControlName="modele" class="">
                      <div nz-col nzJustify="start" *ngFor="let modele of appareilGroup.ModeleEquipements">
                        <div nz-col class="">
                            <label nz-radio [nzValue]="modele.ID + ':' + modele.Titre + ':' + modele.Prix">
                                {{modele.Titre}}
                              <a nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="info-icon">
                                <i class="fas fa-question-circle"></i>
                              </a>
                            </label>
                          
                        </div>
                        <!-- Tooltip with image and dimensions -->
                        <ng-template #tooltipTemplate >
                          <div>
                            <div class="img-tltip" *ngIf="modele.Image">
                              <img [src]="baseurl + modele.Image" [alt]="modele.Image" width="150px"/>
                            </div>
                            <div><strong>Longueur:</strong> {{modele.Longeur}}</div>
                            <div><strong>Largeur:</strong> {{modele.Largeur}}</div>
                            <div><strong>Hauteur:</strong> {{modele.Hauteur}}</div>
                          </div>
                        </ng-template>
                      </div>
                    </nz-radio-group>
                    </div>
                </nz-collapse-panel>
          </nz-collapse>
          <ng-template #activerTp>
            <label nz-checkbox formControlName="active">
              
            </label>
          </ng-template>
        </div>
      </div>

      <div class="renov-elec-div ">
        <span class="mur-ttl">Dépose d'anciennes installations</span>
      </div>

      <div formArrayName="gammes_depose_form">
           
              <div nz-row nzJustify="start" class="row-w-grid" style="width:80% !important;max-width:100% !important;">
                        <div *ngFor="let gamme of gammes_depose_form.controls; let i = index" [formGroupName]="i">

                <!-- Champ Quantité -->
                <div nz-col class="flx-radio-row4" *ngIf="need_quantite(gammes_depose[i].ID)">
                    <label for="quantite">{{gammes_depose && gammes_depose[i] ? gammes_depose[i].Label : ''}} - quantité :</label>
                    <input (keypress)="blockComma($event)"  id="quantite" type="number" formControlName="quantite" min="0"/>
                    
                </div>
                <div *ngIf="gamme.get('quantite')?.invalid && isclicked" class="error-message">
                  Quantité invalide
                </div>

                <div nz-col nzSpan="24" class="flx-radio-row4" *ngIf="need_longueur(gammes_depose[i].ID)">
                  <label for="longueur">{{gammes_depose && gammes_depose[i] ? gammes_depose[i].Label : ''}} - longueur (cm) :</label>
                  <input (keypress)="blockComma($event)"  id="longueur" type="number" formControlName="longueur" min="0"/>
                
              </div>
              <div *ngIf="gamme.get('longueur')?.invalid && isclicked" class="error-message">
                Longueur invalide
              </div>
               
              </div>
              
              
          
        </div>
      </div>
    </form>
  </div>
</div>

