<div class="recap-div devis-content">
<span class="recup-fin"><p >Pièce</p><p>:</p><p>{{selectedPiece.Titre}}</p></span>
<span class="recup-fin"><p>Surface</p><p>:</p><p>{{poseSolForm.formulaire["dimensions-pose-sol"].surface}} m²</p></span>
<span class="recup-fin"><p>État du sol</p><p>:</p><p>{{poseSolForm.formulaire["etat-surfaces-pose-sol"].etat}}</p></span>
<span class="recup-fin"><p>Gamme</p><p>:</p><p>{{gamme?.Label}}</p></span>
<span class="recup-fin" *ngIf="avec_des_plinthes"><p>Plinthes</p><p>:</p><p>{{plinthe?.Label}}</p></span>
</div>