<h3>Pose de chauffage</h3>
<form [formGroup]="poseChauffageForm" (ngSubmit)="onPoseChauffageSubmit()">

    <div>
        <div nz-row nzJustify="start">
            <div nz-col nzSpan="6" class="ant-col">
                <label for="pose_de_radiateur_existant">Pose de radiateur: </label>
                <input type="number" id="pose_de_radiateur_existant" formControlName="pose_de_radiateur_existant">
                
            </div>
            <div nz-col nzSpan="6" class="ant-col">
                <label for="creation_de_canalisations">création de canalisations: </label>
                <input type="number" id="creation_de_canalisations" formControlName="creation_de_canalisations">
            </div>
        </div>
    </div>
    <button type="submit">Valider</button>
    </form>