<div >
   
    <form [formGroup]="poseInstallationElectriqueForm" (ngSubmit)="onPoseInstallationElectriqueSubmit()">
        <div formArrayName="appareils_electrique">
          <div *ngFor="let appareilGroup of appareils_electrique; let i = index" [formGroupName]="i">
            <h3>{{appareils_electrique && appareils_electrique[i] ? appareils_electrique[i].Titre :""}}</h3>
            <div  nz-row nzJustify="start">
                <div nz-col nzSpan="4" class="ant-col">
                    <label for="{{appareilGroup.Titre}}">{{appareilGroup.Titre}}</label>
                        
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>appareillage</label>
                    <input type="number" id="appareillage" formControlName="appareillage_{{appareilGroup.Titre}}" required>
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>cables</label>
                    <input type="number" id="cables" formControlName="cables_{{appareilGroup.Titre}}" required>
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>goulotte</label>
                    <input type="number" id="goulotte" formControlName="goulotte_{{appareilGroup.Titre}}" required>
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>encastré cloison legere</label>
                    <input type="number" id="encastre_cloison_legere" formControlName="encastre_cloison_legere_{{appareilGroup.Titre}}" required>
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>encastré beton</label>
                    <input type="number" id="encastre_beton" formControlName="encastre_beton_{{appareilGroup.Titre}}" required>
                </div>
                <div nz-col nzSpan="4" class="ant-col">
                    <label>protection</label>
                    <input type="number" id="protection" formControlName="protection_{{appareilGroup.Titre}}" required>
                </div>
              <!-- Ajoutez d'autres champs ici pour chaque modèle -->
            </div>
            
            <!-- Ajoutez d'autres champs selon vos besoins -->
          </div>
        </div>
        <button type="submit">valider</button>
      </form>
</div>
