
<form [formGroup]="deposeMursForm" (ngSubmit)="onPoseMursSubmit()">

    <div formArrayName="murs">
     <div nz-row nzJustify="start" *ngFor="let mur of murs.controls; let i = index" [formGroupName]="i">
        <div nz-col nzSpan="4" class="ant-col mur-ttl">
          Mur {{i+1}}      
          
        </div>
        <div nz-col nzSpan="6" class="ant-col">
          <label for="etat">État: </label>
          
          <nz-radio-group formControlName="etat">
            <label nz-radio nzValue="tres abimé">tres abimé</label>
            <label nz-radio nzValue="abimé">abimé</label>
            <label nz-radio nzValue="reprises partielles">reprises partielles</label>
          </nz-radio-group>
        </div>
        
      </div>
    </div>
    <button class="vald-btn" type="submit">Valider</button>
  </form>