<div class="plaf-dim">
            <form [formGroup]="poseMursForm" (ngSubmit)="onPoseMursSubmit()">
              <img class="srf-img" src="/assets/Rectangle.svg">
               <div formArrayName="murs">
                <div *ngFor="let mur of murs.controls; let i = index" [formGroupName]="i" >
                  <div class="mur-btn-div">
                    <span class="mur-ttl">Mur {{i+1}}</span>
                    <button type="button" class="dynamic-form-button del-btn" (click)="removeMurGroup(i)" *ngIf="murs.length > 1">Retirer</button>
                  </div>
                    <div nz-row nzJustify="start" >
                   
                    <div nz-col nzSpan="6" class="tooltip-srf etat-srf">
                       <label for="hauteur">Hauteur cm <span class="error-message">*</span> : </label>
                       <input type="number" id="hauteur" formControlName="hauteur">
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                        <i class="far fa-question-circle"></i>
                      </a>
                     </div>
                     <div *ngIf="isclicked && murs.controls[i].get('hauteur')?.invalid " class="error-message">
                      Hauteur requise.
                    </div>

                    <div nz-col nzSpan="6" class="tooltip-srf etat-srf">
                      <label for="longueur">longueur cm <span class="error-message">*</span> : </label>
                      <input type="number" id="longueur" formControlName="longueur">
                      <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                       <i class="far fa-question-circle"></i>
                     </a>
                    </div>
                    <div *ngIf="isclicked && murs.controls[i].get('longueur')?.invalid " class="error-message">
                      longueur requise.
                   </div>

                   <div nz-col nzSpan="6" class="tooltip-srf etat-srf">
                    <label for="largeur">largeur cm <span class="error-message">*</span> : </label>
                    <input type="number" id="largeur" formControlName="largeur">
                    <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                     <i class="far fa-question-circle"></i>
                   </a>
                  </div>
                  <div *ngIf="isclicked && murs.controls[i].get('largeur')?.invalid " class="error-message">
                    largeur requise.
                 </div>

                     <div nz-col nzSpan="6" class="ant-col" [nzXs]="24" [nzSm]="6" class="tooltip-srf etat-srf">
                      <label for="surface">
                        Surface m²
                        <span class="error-message">*</span> :
                       
                      </label>
                      <input type="number" id="surface" formControlName="surface" required [attr.max]="surfacemax">
                      <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                        <i class="far fa-question-circle"></i>
                      </a>
                      <ng-template #tooltipSurface>
                        <div class="tooltip-content">
                          <strong>Calcul de la surface :</strong><br>
                          Veuillez consulter :
                            <a href="" target="_blank" class="link-tooltip">Calcul surfaces murs</a>
                          </div>
                      </ng-template>
                    </div>
                     <div *ngIf="isclicked && murs.controls[i].get('surface')?.invalid " class="error-message">
                      Surface requise.
                    </div>
                     <div nz-col nzSpan="6" class="tooltip-srf etat-srf"> 
                       <label for="image">Image :</label>
                       <input type="file" id="image" (change)="onMursFileChange($event, i)" accept="image/*">
                       <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                        <i class="far fa-question-circle"></i>
                      </a>
                     </div>
                   </div>
                 </div>
                </div>
                 
               <button type="button"  class="dynamic-form-button add-btn" (click)="addMurGroup()" *ngIf="murs.length < 4" >Ajouter un mur</button>
             </form>
</div>