<div class="bg-pieces">
    <div class="section-pieces">
       <div class="col1-pieces">
          
           <h2 class="txt1-pieces center font-site">Rénovez chaque pièce de la maison</h2>
       </div>
       <div class="col2-pieces">
   
       <div class="col-md-4 col-piece" *ngFor="let piece of pieces">
           <img class="img2-piece" [src]="baseurl  +piece.Image_presentation">
              <div class="content-piece">
               <h3 class="title-pieces jaune font-site1"> {{piece.Titre}}</h3>
               <p class=" fs-18 eq-h-piece"> {{piece["Présentation"]}}</p>
              </div>
       </div>
   
   
       </div>
     
   
    </div>
   </div>