<div class="plaf-dim sall-bain tooltip-srf">
    <div  class="">
      <form [formGroup]="poseSalleDeBainForm" (ngSubmit)="onPoseSalleDeBainSubmit()">
        <div formArrayName="appareils_salle_de_bain" class="">
          <div *ngFor="let appareilGroup of appareils_salle_de_bain; let i = index" [formGroupName]="i">
            
            <!-- <div class="div-chauf-gm"><h3 class="ttl-type jaune">{{appareils_salle_de_bain && appareils_salle_de_bain[i] ? appareils_salle_de_bain[i].Titre : ""}}</h3></div> -->
            <nz-collapse nzAccordion class="row-w-collapse">
                <nz-collapse-panel [nzHeader]="appareils_salle_de_bain[i].Titre" [nzActive]="getAppareilActiveState(i)" [nzExtra]="activerTp" nzShowArrow="false" (nzActiveChange)="active_Tp(i)">
                  <div class="ant-col etat-srf " *ngIf="isclicked && getAppareilModeleState(i)" class="error-message">
                    Vous devez faire un choix.
                  </div>
                  
                    <div nz-col class="row-w-grid8" style="padding-top: 12px;" *ngIf="appareils_salle_de_bain[i].AfficherLongueur">
                      <label for="longueur">Longueur (cm) :</label>
                      <input (keypress)="blockComma($event)"  id="longueur" type="number" formControlName="longueur" min="0"/>     
                    </div>  
                    <div nz-col class="row-w-grid8" style="padding-top: 12px;" *ngIf="appareils_salle_de_bain[i].AfficherLargeur">
                      <label for="largeur">Largeur (cm) :</label>
                      <input (keypress)="blockComma($event)"  id="largeur" type="number" formControlName="largeur" min="0"/>     
                    </div>  
                
                  <div nz-col class="row-w-grid8" *ngIf="appareils_salle_de_bain[i].AfficherVasque">
                    <label for="nombre_de_vasque">Nombre de vasque :</label>
                    <input (keypress)="blockComma($event)"  id="nombre_de_vasque" type="number" formControlName="nombre_de_vasque" min="0"/>     
                  </div>  

                  <div nz-col class="row-w-grid8" *ngIf="appareils_salle_de_bain[i].AfficherEncastreeApparente">
                    <label for="encastre_ou_apparente">Encastré ou apparente  ?</label>
                    <nz-radio-group formControlName="encastre_ou_apparente" nzName="radiogroup" class="sidebyside">
                      <label nz-radio nzValue="encastré">Encastré</label>
                      <label nz-radio nzValue="apparente">Apparente</label>
                    </nz-radio-group>
                  </div> 
                  <div  nz-col class="row-w-grid8">
                  <div class="">
                    <label class=""> Gamme<span class="error-message" *ngIf="getAppareilActiveState(i)">*</span> :</label>  
                  </div>
                    <nz-radio-group formControlName="modele" class="">
                        <div nz-col nzJustify="start" *ngFor="let modele of appareilGroup.ModeleEquipements">
                          <div nz-col class="">
                              <label nz-radio [nzValue]="modele.ID + ':' + modele.Titre + ':' + modele.Prix">
                              <span>
                                  {{modele.Titre}}
                                </span>
                              </label>
                             <!--<a nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="info-icon">
                            <i class="far fa-question-circle"></i>
                          </a>-->
                          </div>
                          <!-- Tooltip with image and dimensions -->
                          <ng-template #tooltipTemplate >
                            <div>
                              <div class="img-tltip" *ngIf="modele.Image">
                                <img [src]="baseurl + modele.Image" [alt]="modele.Image" width="150px"/>
                              </div>
                              <div><strong>Longueur:</strong> {{modele.Longeur}}</div>
                              <div><strong>Largeur:</strong> {{modele.Largeur}}</div>
                              <div><strong>Hauteur:</strong> {{modele.Hauteur}}</div>
                            </div>
                          </ng-template>
                        </div>
                      </nz-radio-group>
                    </div> 
                  </nz-collapse-panel>
            </nz-collapse>
            <ng-template #activerTp>
              <label nz-checkbox formControlName="active">
                
              </label>
            </ng-template>
          </div>
        </div>

        
      </form>
    </div>
  </div>
  
  