
            <form [formGroup]="poseMursNonPorteursForm" (ngSubmit)="onPoseMursNonPorteursSubmit()">

               <div formArrayName="murs_non_porteurs">
                <img class="img-surface" src="/assets/Rectangle.png"><br>
                <div *ngFor="let mur of murs_non_porteurs.controls; let i = index" [formGroupName]="i">
                  Mur {{i+1}}
                  <div nz-row nzJustify="start" >
                    <!--<div nz-col nzSpan="6" class="ant-col">
                      <label for="hauteur">Hauteur: </label>
                      <input type="number" id="hauteur" formControlName="hauteur">
                    </div>
                    <div nz-col nzSpan="6" class="ant-col">
                      <label for="longueur">Longueur: </label>
                      <input type="number" id="longueur" formControlName="longueur">
                    </div>-->
                    
                    <div nz-col nzSpan="6" class="ant-col">
                      <label for="surface">Surface: <span class="error-message">*</span> :
                        <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                          <i class="far fa-question-circle"></i>
                        </a>
                      </label>
                      <br>
                      <input type="number" id="surface" formControlName="surface">
                      <ng-template #tooltipSurface>
                        <div class="tooltip-content">
                          <strong>Calcul de la surface :</strong><br>
                          Veuillez consulter :
                          <a [href]="baseurl+'1725455059380-fa00005685-r.pdf'" target="_blank" class="link-tooltip">Calcul surfaces murs</a>
                        </div>
                      </ng-template>
                      
                      <div *ngIf="isclicked && murs_non_porteurs.controls[i].get('surface')?.invalid " class="error-message">
                        Surface requise.
                      </div>
                    </div>
                    
                    
                    <button type="button" class="dynamic-form-button del-btn" (click)="removeMurNonPorteurroup(i)" *ngIf="murs_non_porteurs.length > 1">Retirer le mur</button>
                  </div>

                </div>
                 
               </div>
               <button type="button"  class="dynamic-form-button add-btn" (click)="addMurNonPorteurroup()" *ngIf="murs_non_porteurs.length < 4">Ajouter un mur</button>
               
             </form>


             