<div class="section-devis" #formContainer>
  <div  class="devis-title">
    <div *ngIf="current == 0">
      <h1  class="center black font-site" style="font-size: 35px;">Demandez votre devis gratuit</h1> 
      <p class="center f-w-4 fs-15 m-w-tt">Vous souhaitez rénover une ou plusieurs pièces de votre habitation ? Obtenez un devis gratuit sur <a class="fs-15 txt-dec gris" href="/">Homeren.fr</a> 
        <br>
        Pour commencer : sélectionnez une première pièce à rénover et laissez-vous guider !</p>   
    </div>
    <div *ngIf="current >= 1 && current <= 4">
      <h1 class="center black font-site ttl-recap">
        Demande de devis 
        <ng-container *ngIf="selectedPiece?.Titre"> - {{ selectedPiece?.Titre }}</ng-container><br>
        <span class="font-site titre-ttl-recap"><ng-container  *ngIf="filteredTravail?.Titre">{{ filteredTravail?.Titre }}</ng-container></span>
      </h1>
      
    </div>
   
    <div *ngIf="current == 5">
      <h1 class="center black font-site ttl-recap">Récapitulatif</h1>
      <!-- {{filteredTravail.Titre}} - {{selectedPiece?.Titre}} -->
      <!-- <h1 class="center gris font-site">{{filteredTravail.Titre}}</h1> -->
    </div>
    <div *ngIf="current == 6">
      <!-- <h1 class="center gris font-site">{{filteredTravail.Titre}}</h1> -->
    </div>
   <!-- <p class="center f-w-4 fs-30 m-w-p"><strong> Vous avez un projet de rénovation en tête ?</strong>Remplissez notre formulaire en ligne pour une estimation personnalisée et sans engagement.</p> -->
  </div>
  <nz-steps [nzCurrent]="current" *ngIf="current!=0">
    <nz-step nzIcon="home" nzTitle="Choix de la pièce" [nzDescription]="selectedPiece?.Titre">
    </nz-step>
    <nz-step nzIcon="tool" nzTitle="Travaux" [nzDescription]="current >= 2 ? filteredTravail?.Titre : ''">
    </nz-step>
    <nz-step nzIcon="setting" nzTitle="Étape 1" [nzDescription]="getNotaBeneSubtitle(2)">
    </nz-step>
    <nz-step nzIcon="area-chart" nzTitle="Étape 2" [nzDescription]="getNotaBeneSubtitle(3)">
    </nz-step>
    <nz-step nzIcon="table" nzTitle="Étape 3" [nzDescription]="getNotaBeneSubtitle(4)">
    </nz-step>
    <nz-step nzIcon="file-done" nzTitle="Récapitulatif" nzDescription="">
     <span>recap</span>
    </nz-step>
    <nz-step nzIcon="check-circle" nzTitle="Finalisation" nzDescription="">
     <span>ici la partie finale</span>
    </nz-step>
  </nz-steps>
  <div class="div-btn-prect" *ngIf="current>1">
    <button nz-button nzType="default"  class="btn-prect">
      
     </button>
     <button nz-button nzType="default" (click)="reloadPage()"   class="btn-underline">
      Liste des travaux
     </button>
   
   </div>
   <div class="div-btn-prect" *ngIf="current > 0 && current < 6">
    <button nz-button nzType="default" (click)="pre()" class="btn-prect">
     <span> <span nz-icon nzType="arrow-left" nzTheme="outline"></span> Question précédente</span>
    </button>
    <button nz-button nzType="default"  *ngIf="current == 0" >
     </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current<5 && current>0" [disabled]="disable_next()" class="btn-prect">
      <span> {{ current === 5 ? 'Finaliser mon devis - '+selectedPiece?.Titre : 'Suivant' }} 
        <span nz-icon nzType="{{ current === 5 ? 'file-done': 'arrow-right' }}" nzTheme="outline"></span> 
      </span>
     </button>
     
   
   </div>
  <div *ngIf="current >= 2" class="step-description" [innerHtml]="getNotaBene()">
    
  </div>
 
   <div class="steps-content" >
     <div class="devis-content" *ngIf="current == 0">
        <p class="ttl-dv-pc"><strong>Choisir une pièce à rénover</strong></p>
        <div *ngFor="let ppc of pieces_par_categories">
           <p class="fs-20 mr-b-2 jaune"><strong>{{ppc?.Titre}}</strong></p>
           <div class="col-pcs-devis" >
              <div class="pcs-devis" id="piece-{{piece.ID}}" *ngFor="let piece of ppc.Pieces" (click)="selectPiece(piece.ID)">
                 <img src="{{baseurl}}{{piece.Image_presentation}}" alt="">
                 <p class="blanc pcs-devis-ttle"><strong>{{piece.Titre}}</strong></p>
                 <div *ngIf="selectedPieceId === piece.ID" class="checkmark-overlay"><span nz-icon nzType="check" nzTheme="outline"></span></div>
              </div>
           </div>
        </div>
     </div>
     <div class="devis-content" *ngIf="current == 1">
        <!--<p class="ttl-dv-pc"><strong>Quels travaux souhaitez-vous faire dans votre {{selectedPiece?.Titre}} ?</strong></p>
        <nz-table
           #rowSelectionTable
           [nzData]="listOfData"
           [nzPageSize]="20"
           [nzShowPagination]="false"
        >
           <tbody>
           <tr *ngFor="let data of rowSelectionTable.data"  >
              <td id="tache-{{data.ID}}" >{{ data.Titre }} <label id="radio-{{data.ID}}" nz-radio ngModel (click)="selectTravail(data.ID)"></label> </td>
           </tr>
           </tbody>
        </nz-table>-->
    <div class="radio-travaux">
        <nz-radio-group [(ngModel)]="radioValue" class="flx-radio-travaux">
          <label *ngFor="let data of travaux" id="tache-{{data.ID}}" (click)="selectTravail(data.ID)" nz-radio [nzValue]="data.Titre"><span class="radio-trav-ttl">{{ data.Titre }} </span></label>
          
        </nz-radio-group>
     </div>
    </div>
     <div class="devis-content" *ngIf="current == 2">
        <div *ngIf="is_travail_selected(2)">
          <app-dimensions-depose-cuisine [triggerSubmitDimensionForm]="triggerSubmitDimensionForm" (formValidityChange)="is_formulaire_dimensions_valid = $event"></app-dimensions-depose-cuisine>
        </div>
        <div *ngIf="is_travail_selected(3)">
          <app-dimensions-demolition-cloisons [triggerSubmitDimensionForm]="triggerSubmitDimensionForm" (formValidityChange)="is_formulaire_dimensions_valid = $event"></app-dimensions-demolition-cloisons>
        </div>
        <!-- Formulaire pose murs  -->
         <div *ngIf="is_travail_selected(5)">
           <app-dimensions-pose-murs [surfacemax]="get_max()" [triggerSubmitDimensionForm]="triggerSubmitDimensionForm" (formValidityChange)="is_formulaire_dimensions_valid = $event"></app-dimensions-pose-murs>
         </div>
         <div *ngIf="is_travail_selected(4)">
           <app-dimensions-creation-murs-non-porteurs [triggerSubmitDimensionForm]="triggerSubmitDimensionForm" (formValidityChange)="is_formulaire_dimensions_valid = $event"></app-dimensions-creation-murs-non-porteurs>
         </div>
         <!-- Formulaire pose Plafond -->
         <div *ngIf="is_travail_selected(8)">
           <app-dimensions-pose-plafond [surfacemax]="get_max()" [triggerSubmitDimensionForm]="triggerSubmitDimensionForm" (formValidityChange)="is_formulaire_dimensions_valid = $event"></app-dimensions-pose-plafond>
         </div>
         <!-- Formulaire pose Revetement de Sol -->
         <div *ngIf="is_travail_selected(9)">
           <app-dimensions-pose-sol [selectedPiece]="selectedPiece" [surfacemax]="get_max()" [triggerSubmitDimensionForm]="triggerSubmitDimensionForm" (formValidityChange)="is_formulaire_dimensions_valid = $event"></app-dimensions-pose-sol>
         </div>
          <!-- Formulaire pose porte -->
          <div *ngIf="is_travail_selected(10)">
           <app-dimensions-pose-porte [triggerSubmitDimensionForm]="triggerSubmitDimensionForm" (formValidityChange)="is_formulaire_dimensions_valid = $event"></app-dimensions-pose-porte>
         </div>
         
         <div *ngIf="is_travail_selected(11)">
          <app-dimensions-pose-app-san ></app-dimensions-pose-app-san>
        </div>
         <div *ngIf="is_travail_selected(12)">
           <app-dimensions-pose-chauffage  [surfacemax]="get_max()" [triggerSubmitDimensionForm]="triggerSubmitDimensionForm" (formValidityChange)="is_formulaire_dimensions_valid = $event"></app-dimensions-pose-chauffage>
         </div>
         <div *ngIf="is_travail_selected(13)">
           <app-dimensions-pose-electricite></app-dimensions-pose-electricite>
         </div>
         <div *ngIf="is_travail_selected(16)">
          <app-dimensions-pose-app-san [triggerSubmitDimensionForm]="triggerSubmitDimensionForm" (formValidityChange)="is_formulaire_dimensions_valid = $event"></app-dimensions-pose-app-san>
        </div>
     </div>
     <div class="devis-content" *ngIf="current == 3">
       <div *ngIf="is_travail_selected(4)">
         <app-etat-surfaces-creation-murs-non-porteurs [triggerSubmitEtatSurfacesForm]="triggerSubmitEtatSurfacesForm" (formValidityChange)="is_formulaire_surfaces_valid = $event"></app-etat-surfaces-creation-murs-non-porteurs>
       </div>
       <!-- Formulaire pose murs  -->
        <div *ngIf="is_travail_selected(5)">
          <app-etat-surfaces-pose-murs [triggerSubmitEtatSurfacesForm]="triggerSubmitEtatSurfacesForm" (formValidityChange)="is_formulaire_surfaces_valid = $event"></app-etat-surfaces-pose-murs>
        </div>
        <div *ngIf="is_travail_selected(8)">
         <app-etat-surfaces-pose-plafond [triggerSubmitEtatSurfacesForm]="triggerSubmitEtatSurfacesForm" (formValidityChange)="is_formulaire_surfaces_valid = $event"></app-etat-surfaces-pose-plafond>
       </div>
       <div *ngIf="is_travail_selected(9)">
         <app-etat-surfaces-pose-sol [triggerSubmitEtatSurfacesForm]="triggerSubmitEtatSurfacesForm" (formValidityChange)="is_formulaire_surfaces_valid = $event"></app-etat-surfaces-pose-sol>
       </div>
       <div *ngIf="is_travail_selected(12)">
         <app-etat-surfaces-pose-chauffage  [triggerSubmitEtatSurfacesForm]="triggerSubmitEtatSurfacesForm" (formValidityChange)="is_formulaire_surfaces_valid = $event"></app-etat-surfaces-pose-chauffage>
       </div>
       <div *ngIf="is_travail_selected(10)">
         <app-etat-surfaces-pose-porte [triggerSubmitEtatSurfacesForm]="triggerSubmitEtatSurfacesForm" (formValidityChange)="is_formulaire_surfaces_valid = $event"></app-etat-surfaces-pose-porte>
       </div>
       <div *ngIf="is_travail_selected(13)">
         <app-etat-surfaces-pose-electricite></app-etat-surfaces-pose-electricite>
       </div>
       <div *ngIf="is_travail_selected(11)">
         <app-etat-surfaces-pose-plomberie [selectedPiece]="selectedPiece"></app-etat-surfaces-pose-plomberie>
       </div>
     </div>
     <div class="devis-content" *ngIf="current == 4">

       <div *ngIf="is_travail_selected(2)">
          <app-gammes-produits-depose-cuisine [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-depose-cuisine>
        </div>
        <div *ngIf="is_travail_selected(3)">
          <app-gammes-produits-demolition-cloisons [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-demolition-cloisons>
        </div>
        
        <div *ngIf="is_travail_selected(4)">
           <app-gammes-produits-creation-murs-non-porteurs [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-creation-murs-non-porteurs>
         </div>
         <!-- Formulaire pose murs  -->
         <div *ngIf="is_travail_selected(5)" >
           <app-gammes-produits-pose-murs [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-pose-murs>
         </div>
         <div *ngIf="is_travail_selected(8)">
           <app-gammes-produits-pose-plafond [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-pose-plafond>
         </div>
         <div *ngIf="is_travail_selected(9)">
           <app-gammes-produits-pose-sol [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-pose-sol>
         </div>
         <div *ngIf="is_travail_selected(12)">
           <app-gammes-produits-pose-chauffage [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-pose-chauffage>
         </div>
         <div *ngIf="is_travail_selected(10)">
           <app-gammes-produits-pose-porte [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-pose-porte>
         </div>
         <div *ngIf="is_travail_selected(13)">
           <app-gammes-produits-pose-electricite [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-pose-electricite>
         </div>
         <div *ngIf="is_travail_selected(11)">
           <app-gammes-produits-pose-plomberie [selectedPiece]="selectedPiece" [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-pose-plomberie>
         </div>
         <div *ngIf="is_travail_selected(16)">
          <app-gammes-produits-pose-app-san [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-pose-app-san>
        </div>
         <div *ngIf="is_travail_selected(15)">
          <app-gammes-produits-renovation-electrique  [triggerSubmitGammesProduitsForm]="triggerSubmitGammesProduitsForm" (formValidityChange)="is_formulaire_gammes_valid = $event"></app-gammes-produits-renovation-electrique>
        </div>
          <!--<button nz-button nzType="default" (click)="addtask()" *ngIf="current ==4">
           <span>Retour à la liste des travaux</span>
         </button>-->
     </div>
      
      <div class="devis-content" *ngIf="current == 5">
        <div *ngIf="is_travail_selected(2)">
          <app-recap-depose-cuisine [selectedPiece]="selectedPiece"></app-recap-depose-cuisine>
        </div>
        <div *ngIf="is_travail_selected(3)">
          <app-recap-demolition-cloisons [selectedPiece]="selectedPiece"></app-recap-demolition-cloisons>
        </div>
        <div *ngIf="is_travail_selected(4)">
          <app-recap-creation-murs-non-porteurs [selectedPiece]="selectedPiece"></app-recap-creation-murs-non-porteurs>
        </div>
        <!-- Formulaire pose murs  -->
        <div *ngIf="is_travail_selected(5)">
          <app-recap-pose-murs [selectedPiece]="selectedPiece"></app-recap-pose-murs>
        </div>
        <div *ngIf="is_travail_selected(14)">
          <app-recap-depose-murs [selectedPiece]="selectedPiece"></app-recap-depose-murs>
        </div>
        <div *ngIf="is_travail_selected(8)">
          <app-recap-pose-plafond [selectedPiece]="selectedPiece"></app-recap-pose-plafond>
        </div>
        <div *ngIf="is_travail_selected(9)">
          <app-recap-pose-sol [selectedPiece]="selectedPiece"></app-recap-pose-sol>
        </div>
        <div *ngIf="is_travail_selected(10)">
          <app-recap-pose-portes [selectedPiece]="selectedPiece"></app-recap-pose-portes>
        </div>
        <div *ngIf="is_travail_selected(11)">
          <app-recap-pose-plomberie [selectedPiece]="selectedPiece"></app-recap-pose-plomberie>
        </div>
        <div *ngIf="is_travail_selected(12)">
          <app-recap-pose-chauffage [selectedPiece]="selectedPiece"></app-recap-pose-chauffage>
        </div>
        <div *ngIf="is_travail_selected(13)">
          <app-recap-pose-electricite [selectedPiece]="selectedPiece"></app-recap-pose-electricite>
        </div>
        <div *ngIf="is_travail_selected(15)">
          <app-recap-renovation-electrique [selectedPiece]="selectedPiece"></app-recap-renovation-electrique>
        </div>
        <div *ngIf="is_travail_selected(16)">
          <app-recap-pose-app-san [selectedPiece]="selectedPiece"></app-recap-pose-app-san>
        </div>
      </div>
      <div class="devis-content" *ngIf="current >= 6">
        <div class="msg-validation" *ngIf="!hide_finalisation_message">
          <img src="/assets/Frame.svg" alt="">
          <p> Votre devis en ligne est prêt !<br>
            Vous pouvez consulter votre panier pour aller plus loin.
          </p>
        </div>
        <p class="ttl-dv-pc"><strong>Je rénove une pièce</strong></p>
        <div *ngFor="let ppc of pieces_par_categories">
        <p class="fs-20 mr-b-2 jaune"><strong>{{ppc?.Titre}}</strong></p>
        <div class="col-pcs-devis" >
            <div class="pcs-devis" id="piece-{{piece.ID}}" *ngFor="let piece of ppc.Pieces" (click)="selectPieceAndRedirect(piece.ID)">
              <img src="{{baseurl}}{{piece.Image_presentation}}" alt="">
              <p class="blanc pcs-devis-ttle"><strong>{{piece.Titre}}</strong></p>
            </div>
        </div>
        </div>
      </div>
   </div>
   <div class="steps-action">
    <p *ngIf="current == 5" class="center"> <strong>Si vous souhaitez obtenir d'autres tarifs :</strong></p>

    <div nz-row class="div-btn-flx-frm">
      <div nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="10" nzXl="10">
        
        <button *ngIf="current == 5" nz-button nzType="default" (click)="addtask()" class="btn-suiv btn-resp btn-retour" >
          <span>Pour {{get_piece_prefix(selectedPiece?.ID)}} {{selectedPiece?.Titre}}</span>
        </button>
      </div>
      <div nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="10" nzXl="10" class="div-btn-frm">
        <!-- <button nz-button nzType="default" (click)="next()" *ngIf="current<6" [disabled]="disable_next()" class="btn-suiv btn-add-pre">
          <span>{{ current === 5 ? 'Finaliser mon devis - '+selectedPiece?.Titre : 'Suivant' }}</span>
          
        </button> -->
        <button *ngIf="current == 5" nz-button nzType="default" (click)="submit_devis_and_choose_piece()" class=" btn-suiv btn-resp btn-retour" >
          <span>Pour une autre pièce</span>
        </button>

      </div>
    </div>
     
     <div *ngIf="current == 5">
      <p class="dv-pc-ou" class="center"><strong>Si vous avez fini :</strong></p>
    </div>
    

    <button nz-button nzType="default" (click)="next()" *ngIf="current<6 && current>0" [disabled]="disable_next()" class="btn-prect">
      <span> {{ current === 5 ? 'Recevoir mon devis' : 'Suivant' }} 
        <!-- <span nz-icon nzType="{{ current === 5 ? 'file-done': 'arrow-right' }}" nzTheme="outline"></span>  -->
      </span>
     </button>

   </div>
</div>


<nz-modal class="no-footer pop-devis" style="font-family: 'Montserrat-Bold';padding-left:20px;" nzFooter="" [(nzVisible)]="display_modal_connection" nzTitle="" (nzOnCancel)="modal_connection_handleCancel()" (nzOnOk)="modal_connection_handleOk()">
  <div>
  <ng-container *nzModalContent class="div-contain"> 
    <span class="ttle-ppup"> DERNIÈRE ÉTAPE POUR RECEVOIR VOTRE DEVIS </span><br>
    <span class="bold fs-14 ln-h"> > Pas encore inscrit ? </span>  <button class="flx-cnt-btn bold" nz-button  (click)="switch_form()"><b>Créez votre compte</b></button>
    <br>
    <div *ngIf="se_connecter">
      <div class="left"> > Vous avez déja un compte :</div>
      <form nz-form [formGroup]="loginForm" class="login-form-pup" (ngSubmit)="submitLoginForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="email" placeholder="E-mail" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group  [nzPrefix]="prefixTemplate">
              <input   [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" placeholder="Mot de passe" />
            </nz-input-group>
            <ng-template #prefixTemplate>
              <span
                nz-icon
                class="ant-input-password-icon"
                [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"
              ></span>
            </ng-template>
          </nz-form-control>
         
        </nz-form-item>
        
        <nz-form-control [nzSpan]="20" [nzOffset]="2">
          <div *ngIf="has_error|| true" class="error-message"> {{error_msg}}</div>
          </nz-form-control>

        <div nz-row class="login-form-flx aic">
          <div nz-col [nzSpan]="7">
            <button nz-button class="login-form-button " [nzType]="'primary'">Se connecter</button>
          </div>
          
            <div nz-col [nzSpan]="16" class="col-w">
              <label nz-checkbox formControlName="remember" style="flex-direction: row-reverse !important;">
                  <span style="font-size:12px; font-family: 'Montserrat-Bold';color:#000;">Se souvenir de moi</span>
                </label>
              <a   nzType="text" class="icn-size" (click)="showModal()"><span class="fs-12" style="float: right !important;font-family: 'Montserrat-Bold'; font-size:12px;"> J’ai oublié mon mot de passe <span nz-icon nzType="left" nzTheme="outline" *ngIf="isrecupFormVisible"></span><span *ngIf="!isrecupFormVisible" nz-icon nzType="down" nzTheme="outline"></span></span></a>
            </div> 
            
        </div>
        
        <br><br>
        
        <div *ngIf="isrecupFormVisible" class="div-cnx-pop">
          <div id="triangle-code2"></div>
          <form  nz-form [formGroup]="passforgotForm" (ngSubmit)="submitpassForgotForm()" class="form-cnx-ppup">
             <span class="ttle-ppup-cntr"> RÉCUPÉRATION DE VOTRE MOT DE PASSE </span>
           <div class="mdp-flx">
             <nz-form-item class="eml-cnx">
              <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>-->
              <nz-form-control style="font-size: 10px;" [nzSm]="14" [nzXs]="24" nzErrorTip="Email invalide!">
                <!-- <input nz-input formControlName="email" id="email" placeholder="E-mail du compte" />-->
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="email" placeholder="E-mail du compte" />
                </nz-input-group>
              </nz-form-control>
             </nz-form-item>
             <nz-form-item nz-row class="register-area">
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button class="btn-recp-mdp" nzType="primary" [disabled]="!passforgotForm.valid">Envoyer</button>
              </nz-form-control>
             </nz-form-item>
          </div>
          
          <nz-alert *ngIf="recup_reussie" class="custom-success-alert" nzType="success" nzMessage="Un lien de réinitialisation vous a été envoyé sur l'adresse email que vous avez renseigné"></nz-alert>
          <nz-alert *ngIf="recup_echouee" class="custom-error-alert" nzType="error" nzMessage="Une erreur s'est produite lors de la restauration du mot de passe."></nz-alert>
         
          
            </form>
            
        </div>
       
        
      </form>
      
    </div>


    <div *ngIf="s_inscrire">
      <form nz-form [formGroup]="registrationForm" (ngSubmit)="submitRegistrationForm()" class="form-devis-pop inscrip">
        <nz-form-item>
          <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <nz-input-group nzPrefixIcon="user">
              <input nz-input formControlName="email" id="email" placeholder="E-mail"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input your password!">
            <input nz-input type="password" id="password" formControlName="password" placeholder="Mot de passe"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" placeholder="Confirmer le mot de passe"/>
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
                Merci de confirmer votre mot de passe!
              }
              @if (control.errors?.['confirm']) {
                Les mots de passe doivent coïncider!
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="24" [nzOffset]="6">
            <label nz-checkbox formControlName="agree">
              <span>
                J'ai lu les <a style="font-size: 13px;">conditions</a>
              </span>
            </label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="24" [nzOffset]="6">
            <button nz-button nzType="primary">S'inscrire</button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="24" [nzOffset]="6" class="flx-connect">
            Déja inscrit ? <button class="flx-cnt-btn" nz-button  (click)="switch_form()">Connectez-vous</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>


  </ng-container>
</div>
</nz-modal>










