.f-w-4{font-weight: 400;}
.m-w-tt{
max-width: 82%; margin: auto;
}
.mt-12{margin-top:12px;}
.section-devis, .step-description{
    padding: 2% 4%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}
.devis-content .recup-fin{gap: 20px;display: flex;flex-direction: column;}
.col-pcs-devis {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.pcs-devis {
    width: 31%;
    cursor: pointer;
    overflow: hidden;
}
.pcs-devis:hover img{transform: scale(1.2);transition: all 0.3s ease-in-out, background-position 1ms;}
.ttl-dv-pc{
    font-weight: 600;
    font-size: 22px;
}
.pcs-devis-ttle{
    padding:10px;
    background-color: var(--color1);
     width: fit-content;
    margin-top: -65px;
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;}
 .mr-b-2{margin-block:20px;}
 .checkmark-overlay {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    filter: brightness(90);
  }
  .checkmark-overlay i{color: var(--color-white);}
 /********************************************************/
 .steps-content {
    margin-top: 15px;
    min-height: 200px;
    text-align: center;
    width: 60%;
    box-shadow: 1px 1px 8px 0px #9f9f9fcf;
    margin-inline: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .steps-action {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
.btn-final {
    padding: 11px 30px !important;
    width: fit-content;
    height: 42px;
}
.div-btn-flx-frm{
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.btn-prect span{font-size: 14px;}
button.ant-btn.ant-btn-default.ng-star-inserted[_ngcontent-ng-c1938312052]{padding: 6px 10px !important;width: fit-content;height: 34px!important;}
.div-btn-prect{width: 61%; margin-inline: auto; margin-top: 25px;display: flex;justify-content: space-between;}
.div-btn-prect button span{font-size: 13px !important;}

.btn-retour, .btn-suiv{background: var(--color1) !important;
    line-height: 0.5715;
    position: relative;
    font-family: "Montserrat";
    font-weight: 500;
    border: none !important;
    box-shadow: none;
    padding: 11px 30px !important;
    height: 42px !important;
    width: fit-content;
    color: #fff;
    margin: auto;
    border-radius: 0px;}
.btn-retour:hover, .btn-suiv:hover{
        background: var(--color2)!important;
        color: var(--color-white) !important;
      }
.btn-suiv.btn-add-pre {
    position: relative;
    font-family: "Montserrat";
    font-weight: 500;
    border: none !important;
    box-shadow: none;
    padding: 11px 90px;
    height: 42px;
    width:100%;
    color: #fff;
    border-radius: 0px;
    background: var(--color2)!important;
} 
.dv-pc-ou{font-size: 16px;}
.btn-suiv.btn-add-pre:hover{ background: var(--color-black)!important;
    color: var(--color-white);}  
.ant-btn.btn-suiv.btn-add-pre.ant-btn-default span{font-size: 15px !important;}
.ant-btn, button, .btn-add-pre {
    position: relative;
    font-family: "Montserrat";
    font-weight: 500;
    border: none !important;
    box-shadow: none;
    padding: 11px 90px;
    height: 42px;
    color: #fff;
    border-radius: 0px;
    background: #FFC736;
  }
  button:hover, .btn-add-pre:hover{
    background: var(--color2);
    color: var(--color-white);
  }
.ant-steps-item-icon {
    display: none !important;
}
.div-btn-frm{
    width: 100% !important;
    max-width: 100% !important;
    text-align: center !important;
}
.radio-travaux, .flx-radio-travaux {
    display: flex;
    gap: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.flx-radio-travaux .ant-radio-wrapper {
    float: unset;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid #55555538; padding: 15px 10px;
}
.flx-radio-travaux .ant-radio-wrapper:last-child {border-bottom: 0px solid #55555538; padding: 12px 10px;}
.flx-radio-travaux .radio-trav-ttl{
    width: 100% !important;
    max-width: 100%!important;
    text-align: left !important;
    font-size: 15px !important;
}
.msg-validation img { width: 39px;margin-bottom:10px;}
.msg-validation p {
    color: #1aa648;
    font-size: 18px;
    font-weight: 600;
}
.msg-validation{margin-bottom:30px;}
ul{
    list-style-type: none;
}
.dynamic-form-button{
    padding: 0;
    height: 20px;
    float: right;
}
.ant-col{
    padding: 5px;
    text-align: start;
}
.error{
    color: red;
}
.ant-row.ng-pristine.ng-invalid.ant-row-start.ng-star-inserted.ng-touched {
    justify-content: space-between !important;
}
.ttl-recap{font-size: 31px;line-height: 1.2;margin-bottom: 20px !important;}
/************************* Respo *************************/
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1024px) {
.pcs-devis {width: 31%;}
}
@media only screen and (max-width: 800px) {
    .section-devis{padding: 20px;}
    .devis-content{ gap: 15px;}
}
@media only screen and (max-width: 600px) {
    .pcs-devis {width: 47%;}
    .btn-resp{ padding: 11px 10px !important; }
}
@media only screen and (max-width: 497px) {
    .pcs-devis {width: 100%;}
    .ttl-recap{font-size: 27px !important;}
}

.flx-cnt-btn {padding: 0px !important;height: 0px;color: var(--color1);background-color: transparent!important;}
.flx-cnt-btn:hover{color: var(--color2);}
.flx-cnt-btn span{font-size: 15px !important;}
