.f-w-4{font-weight: 400;}
.m-w-tt{
max-width: 82%; margin: auto;
}
.mt-12{margin-top:12px;}
.section-devis, .step-description{
    padding: 1% 2%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}
.devis-content .recup-fin{gap: 20px;display: flex;flex-direction: column;}
.col-pcs-devis {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.pcs-devis {
    width: 31%;
    cursor: pointer;
    overflow: hidden;
}
.pcs-devis:hover img{transform: scale(1.2);transition: all 0.3s ease-in-out, background-position 1ms;}
.ttl-dv-pc{
    font-weight: 600;
    font-size: 19px;
}
.pcs-devis-ttle{
    padding:10px;
    background-color: var(--color1);
     width: fit-content;
    margin-top: -65px;
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;}
 .mr-b-2{margin-block:5px;}
 .checkmark-overlay {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    filter: brightness(90);
  }
  .checkmark-overlay i{color: var(--color-white);}
 /********************************************************/
 .steps-content {
    margin-top: 15px;
    min-height: 200px;
    text-align: center;
    width: 60%;
    box-shadow: 1px 1px 8px 0px #9f9f9fcf;
    margin-inline: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .steps-action {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
.btn-final {
    padding: 11px 30px !important;
    width: fit-content;
    height: 42px;
}
.div-btn-flx-frm{
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.btn-prect span{font-size: 14px;}
button.ant-btn.ant-btn-default.ng-star-inserted[_ngcontent-ng-c1938312052]{padding: 6px 10px !important;width: fit-content;height: 34px!important;}
.div-btn-prect{width: 61%; margin-inline: auto; margin-top: 25px;display: flex;justify-content: space-between;}
.div-btn-prect button span{font-size: 13px !important;}

.btn-retour, .btn-suiv{background: var(--color1) !important;
    line-height: 0.5715;
    position: relative;
    font-family: "Montserrat";
    font-weight: 500;
    border: none !important;
    box-shadow: none;
    padding: 11px 30px !important;
    height: 42px !important;
    width: fit-content;
    color: #fff;
    margin: auto;
    border-radius: 0px;}
.btn-retour:hover, .btn-suiv:hover{
        background: var(--color2)!important;
        color: var(--color-white) !important;
      }
.btn-suiv.btn-add-pre {
    position: relative;
    font-family: "Montserrat";
    font-weight: 500;
    border: none !important;
    box-shadow: none;
    padding: 11px 90px;
    height: 42px;
    width:100%;
    color: #fff;
    border-radius: 0px;
    background: var(--color2)!important;
} 
.dv-pc-ou{font-size: 16px;}
.btn-suiv.btn-add-pre:hover{ background: var(--color-black)!important;
    color: var(--color-white);}  
.ant-btn.btn-suiv.btn-add-pre.ant-btn-default span{font-size: 15px !important;}
.ant-btn, button, .btn-add-pre {
    position: relative;
    font-family: "Montserrat";
    font-weight: 500;
    border: none !important;
    box-shadow: none;
    padding: 11px 90px;
    height: 42px;
    color: #fff;
    border-radius: 0px;
    background: #FFC736;
  }
  button:hover, .btn-add-pre:hover{
    background: var(--color2);
    color: var(--color-white);
  }
.ant-steps-item-icon {
    display: none !important;
}
.div-btn-frm{
    width: 100% !important;
    max-width: 100% !important;
    text-align: center !important;
}
.radio-travaux, .flx-radio-travaux {
    display: flex;
    gap: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.flx-radio-travaux .ant-radio-wrapper {
    float: unset;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid #55555538; padding: 15px 10px;
}
.flx-radio-travaux .ant-radio-wrapper:last-child {border-bottom: 0px solid #55555538; padding: 12px 10px;}
.flx-radio-travaux .radio-trav-ttl{
    width: 100% !important;
    max-width: 100%!important;
    text-align: left !important;
    font-size: 15px !important;
}
.msg-validation img { width: 39px;margin-bottom:10px;}
.msg-validation p {
    color: #1aa648;
    font-size: 18px;
    font-weight: 600;
}
.msg-validation{margin-bottom:30px;}
ul{
    list-style-type: none;
}
.dynamic-form-button{
    padding: 0;
    height: 20px;
    float: right;
}
.ant-col{
    padding: 5px;
    text-align: start;
}
.error{
    color: red;
}
.ant-row.ng-pristine.ng-invalid.ant-row-start.ng-star-inserted.ng-touched {
    justify-content: space-between !important;
}
.ttl-recap{font-size: 31px;line-height: 1;margin-bottom: 20px !important;}
.titre-ttl-recap{text-transform: none !important; font-size: 22px !important;}
#triangle-code2{
    margin: 0 auto;
    display: block;
    height : 0;
    width : 0;
    border-right : 181px solid transparent;
    border-bottom : 34px solid #B2B3B2;
    border-left : 181px solid transparent;
   }
.login-form-flx{display: flex;}
.ant-row.login-form-flx.aic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.login-form-button{background-color: var(--color1) !important;color: var(--color-white)!important;}
.login-form-button:hover{background-color: var(--color2) !important;}
.login-form-pup .ant-input-affix-wrapper{border: 1px solid var(--color1) !important;}
.login-form-pup .ant-form-item{margin-bottom:12px !important;border: none;}
.login-form-pup .ant-form-item:focus{border: 2px solid var(--color1) !important;}
.login-form-pup .ant-input-affix-wrapper:focus, .login-form-pup .ant-input-affix-wrapper-focused{
    border: 2px solid var(--color1)!important;
    box-shadow: none !important;
}
.form-cnx-ppup .ant-input-affix-wrapper{border: 1px solid #555 !important;}
.form-cnx-ppup .ant-input-affix-wrapper:focus, .form-cnx-ppup .ant-input-affix-wrapper-focused{
    border: 2px solid var(--color2)!important;
    box-shadow: none !important;
}
.form-devis-pop.inscrip .ant-input{border-bottom: 0px !important;}
.form-devis-pop.inscrip .ant-input-affix-wrapper{border-bottom: 1px solid var(--color1) !important; border-left: 1px solid var(--color1) !important; border-right: 1px solid var(--color1) !important;border-top: 1px solid var(--color1) !important;}
.form-devis-pop.inscrip .ant-input-affix-wrapper:focus, .form-devis-pop.inscrip .ant-input-affix-wrapper-focused{
    border: 2px solid var(--color1)!important;
    box-shadow: none !important;
}
.login-form-pup input.ant-input.ng-pristine.ng-invalid.ant-input-stepperless.ng-star-inserted.ng-touched, .login-form-pup input.ant-input.ng-untouched.ng-pristine.ng-invalid.ant-input-stepperless.ng-star-inserted{font-family: 'Montserrat' !important;color: #000 !important;}
.form-devis-pop.inscrip input.ant-input.ng-pristine.ng-invalid.ant-input-stepperless.ng-star-inserted.ng-touched, .form-devis-pop.inscrip input.ant-input.ng-untouched.ng-pristine.ng-invalid.ant-input-stepperless.ng-star-inserted{font-family: 'Montserrat' !important;}

.login-form-pup .ant-input-password-icon.anticon{ color: #000 !important;}
.form-cnx-ppup{width: 100%; max-width: 100%;background-color: #B2B3B2 !important; }
.ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px !important;
}
.form-cnx-ppup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.form-cnx-ppup .ant-form-item{
    margin-bottom: 0px !important;
}
.mdp-flx {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
}
.eml-cnx, .eml-cnx nz-form-control.ant-form-item-control{display: block; width: 100%;max-width: 100% !important;margin-bottom: 0px !important;}
.btn-recp-mdp{
    background-color: #000 !important;
    padding: 10px 8px !important;
    height: 32px;
    margin-left: -16px;
}
.ant-col.ant-col-7 {padding: 0px !important;}
.form-cnx-ppup nz-alert.custom-error-alert{
    background: #ffdbdb !important;
    text-align: center !important;
    width: 100% !important;
}
.form-cnx-ppup nz-alert.custom-success-alert{
    background: #85D0F7 !important;
    text-align: center !important;
    width: 100% !important;
}
.icn-size span .anticon svg{font-size: 12px !important;}
.ttle-ppup{font-family: 'Montserrat-Bold'!important;font-size: 15px !important;}
.ttle-ppup-cntr{font-family: 'Montserrat-Bold';text-align: center;font-size: 15px !important;}
.lin-h{line-height: 3!important;}


/************************* Respo *************************/
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1024px) {
.pcs-devis {width: 31%;}
}
@media only screen and (max-width: 800px) {
    .section-devis{padding: 20px;}
    .devis-content{ gap: 15px;}
}
@media only screen and (max-width: 600px) {
    .pcs-devis {width: 47%;}
    .btn-resp{ padding: 11px 10px !important; }
}
@media only screen and (max-width: 497px) {
    .pcs-devis {width: 100%;}
    .ttl-recap{font-size: 23px !important;margin-bottom: 14px !important;}
    .titre-ttl-recap{font-size: 18px !important;}
    .ant-row.login-form-flx.aic{ flex-direction: column !important;}
    .ttle-ppup, .ttle-ppup-cntr{font-size: 15px;}
    .col-w{width:100% !important; max-width: 100% !important;}
    #triangle-code2{ border-right: 170px solid transparent;  border-left: 170px solid transparent;}
    .lin-h{line-height: 2!important;}
    .login-form-button span{ font-size: 13px !important;}


}


@media only screen and (max-width: 375px) {
#triangle-code2 { border-right: 149px solid transparent; border-left: 149px solid transparent;}
.mdp-flx { grid-template-columns: 1fr; gap: 10px;}
.btn-recp-mdp { margin-left: -25%; width: 100%;}



}
@media only screen and (max-width: 320px) {
    #triangle-code2{  border-right: 125px solid transparent; border-left: 125px solid transparent;}

}

.flx-cnt-btn {padding: 0px !important;height: 0px;color: var(--color1);background-color: transparent!important;}
.flx-cnt-btn:hover{color: var(--color2);}
.flx-cnt-btn span{font-size: 15px !important;}
.fs-13{
    font-size: 13px !important;
}
.aic{
    align-items: center;
}
.left{
    width: fit-content;
    margin-bottom: 10px;
}
.ant-divider{
    border-top: 3px solid rgba(0, 0, 0, 0.06);
}
