<div class="section-devis">
   <div class="devis-title">
    <h1 class="center gris font-site">Demandez votre devis gratuit</h1>
    <!-- <p class="center f-w-4 fs-30 m-w-p"><strong> Vous avez un projet de rénovation en tête ?</strong>Remplissez notre formulaire en ligne pour une estimation personnalisée et sans engagement.</p> -->
   </div>
   <nz-steps [nzCurrent]="current">
      <nz-step nzIcon="home" nzTitle="Choix de la piece">
      </nz-step>
      <nz-step nzIcon="tool" nzTitle="Type de travail">
      </nz-step>
      <nz-step nzIcon="setting" nzTitle="Paramètres du travail">
      </nz-step>
      <nz-step nzIcon="check-circle" nzTitle="Finalisation">
      </nz-step>
    </nz-steps>
    
    <div class="steps-content" >
      <div class="devis-content" *ngIf="current == 0">
         <p class="ttl-dv-pc"><strong>Je rénove une pièce</strong></p>
         <div *ngFor="let ppc of pieces_par_categories">
            <p class="fs-20 mr-b-2 jaune"><strong>{{ppc?.Titre}}</strong></p>
            <div class="col-pcs-devis" >
               
               <div class="pcs-devis" id="piece-{{piece.ID}}" *ngFor="let piece of ppc.Pieces" (click)="selectPiece(piece.ID)">
                  <img src="{{baseurl}}{{piece.Image_presentation}}" alt="">
                  <p class="blanc pcs-devis-ttle"><strong>{{piece.Titre}}</strong></p>
               </div>
            </div>
         </div>
      </div>
      <div class="devis-content" *ngIf="current == 1">
         <p class="ttl-dv-pc"><strong>Quels travaux souhaitez-vous faire dans votre {{selectedPiece?.Titre}} ?</strong></p>
         <nz-table
            #rowSelectionTable
            [nzData]="listOfData"
            [nzPageSize]="20"
            [nzShowPagination]="false"
         >
            <thead>
            <tr>
               <th
                  [nzSelections]="listOfSelection"
                  [(nzChecked)]="checked"
                  [nzIndeterminate]="indeterminate"
                  (nzCheckedChange)="onAllChecked($event)"
               ></th>
               <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
               <td [nzChecked]="setOfCheckedId.has(data.ID)" (nzCheckedChange)="onItemChecked(data.ID, $event)"></td>
               <td>{{ data.Titre }}</td>
               
            </tr>
            </tbody>
         </nz-table>
        
      </div>
      <div class="devis-content" *ngIf="current == 2">
         <p class="ttl-dv-pc"><strong>Quels sont les paramètres des travaux que vous souhaitez faire dans votre {{selectedPiece?.Titre}} (<b *ngFor="let filteredtravail of filteredTravaux">{{filteredtravail.Titre}}, </b>) ?</strong></p>
        <!-- Formulaire pose murs  -->
          <div *ngIf="travailExists(5)">
            <app-formulaire-pose-murs></app-formulaire-pose-murs>
          </div>
          <div *ngIf="travailExists(4)">
            <app-formulaire-creation-murs-non-porteurs></app-formulaire-creation-murs-non-porteurs>
          </div>
          
          <!-- Formulaire pose Plafond -->
          <div *ngIf="travailExists(8)">
            <app-formulaire-pose-plafond></app-formulaire-pose-plafond>
          </div>
          
          <!-- Formulaire pose Revetement de Sol -->
          <div *ngIf="travailExists(9)">
            <app-formulaire-pose-sol></app-formulaire-pose-sol>
          </div>
           <!-- Formulaire pose porte -->
           <div *ngIf="travailExists(10)">
            <app-formulaire-pose-porte></app-formulaire-pose-porte>
          </div>
          <div *ngIf="travailExists(11)">
            <app-formulaire-pose-plomberie [selectedPiece]="selectedPiece"></app-formulaire-pose-plomberie>
          </div>
          <div *ngIf="travailExists(12)">
            <app-formulaire-pose-chauffage></app-formulaire-pose-chauffage>
          </div>
          <div *ngIf="travailExists(13)">
            <app-formulaire-pose-electricite></app-formulaire-pose-electricite>
          </div>
      </div>
    </div>
    <div class="steps-action">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Précédent</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
        <span>Suivant</span>
      </button>
      <button nz-button nzType="primary" class="btn-etps" (click)="done()" *ngIf="current === 2">
        <span>Fin</span>
      </button>
    </div>
   


</div>


