<div class="gam-prdct">
<form [formGroup]="posePortesForm" (ngSubmit)="onPosePortesSubmit()">
    <div formArrayName="portes">
      <div *ngFor="let porte of portes.controls; let i = index" [formGroupName]="i" >
        <span class="f-w-7 gris">Mur {{i+1}}</span>
        <div class="form-group" nz-row nzJustify="start">
          <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
              <label class="center jaune">Type de porte <span>*</span></label>
              <nz-radio-group formControlName="type" class="radio-flx-spc">
                <div><label nz-radio nzValue="Porte alveolaire simple"><span>Porte alveolaire simple</span></label>
                  <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                    <i class="far fa-question-circle"></i>
                  </a>
                  <ng-template #tooltipBonEtat>
                    Porte alveolaire simple
                  </ng-template>
                </div>
                <div><label nz-radio nzValue="Porte alveolaire double"><span>Porte alveolaire double</span></label>
                  <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                    <i class="far fa-question-circle"></i>
                  </a>
                  <ng-template #tooltipBonEtat>
                    Porte alveolaire double
                  </ng-template>
                </div>
                <div><label nz-radio nzValue="Porte pleine double"><span>Porte pleine double</span></label>
                  <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                    <i class="far fa-question-circle"></i>
                  </a>
                  <ng-template #tooltipBonEtat>
                    Porte pleine double
                  </ng-template>
                </div>
                <div><label nz-radio nzValue="Porte pleine simple"><span>Porte pleine simple</span></label>
                  <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                    <i class="far fa-question-circle"></i>
                  </a>
                  <ng-template #tooltipBonEtat>
                    Porte pleine simple
                  </ng-template>
                </div>
                <div><label nz-radio nzValue="Porte vitrée simple"><span>Porte vitrée simple</span></label>
                  <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                    <i class="far fa-question-circle"></i>
                  </a>
                  <ng-template #tooltipBonEtat>
                    Porte vitrée simple
                  </ng-template>
                </div>
                <div><label nz-radio nzValue="Porte vitrée double"><span>Porte vitrée double</span></label>
                  <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                    <i class="far fa-question-circle"></i>
                  </a>
                  <ng-template #tooltipBonEtat>
                    Porte vitrée double
                  </ng-template>
                </div>
              </nz-radio-group>
          </div>
        
          <button type="button" (click)="removePortesGroup(i)" class="dynamic-form-button del-btn" *ngIf="portes.length > 1">Supprimer</button>
        </div>
      </div> 
    </div>
    <button type="button" class="dynamic-form-button add-btn" (click)="addPortesGroup()" *ngIf="portes.length < 8">Ajouter une porte</button>
  </form>
</div>