<div class="gam-prdct">
  <form [formGroup]="posePortesForm" (ngSubmit)="onPosePortesSubmit()">
      <div formArrayName="portes">
        <div *ngFor="let porte of portes.controls; let i = index" [formGroupName]="i" >
  
          <div class="mur-btn-div">
          <div class="ttl-mob" style="margin-right: auto;text-align: left;"><span class="mur-ttl">Porte {{i+1}}</span><span class="mur-ttl"> - </span><label class="mur-ttl">Type de porte</label></div>
          <button type="button" (click)="removePortesGroup(i)" class="dynamic-form-button del-btn" *ngIf="portes.length > 1">Retirer</button>
  
          </div>
          <div class="form-group" nz-row nzJustify="start">
            <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
                
                <nz-radio-group formControlName="type" class="radio-flx-spc">
                  <div  *ngFor="let option of types" >
                    <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label"><span>{{option.Label}}</span></label>
                    <a nz-tooltip [nzTooltipTitle]="tooltipBonEtat" href="javascript:void(0)" class="info-icon">
                      <i class="far fa-question-circle"></i>
                    </a>
                    <ng-template #tooltipBonEtat>
                      {{option.Label}}
                    </ng-template>
                  </div>
                  
                </nz-radio-group>
            </div>
            <div *ngIf="isclicked && portes.controls[i].get('type')?.invalid " class="error-message">
              Le type de porte est requis.
            </div>
          </div>
        </div> 
      </div>
    </form>
  </div>