.radio-flx-sp, .ant-radio-group { width: 100%;max-width: 100%;}
.radio-flx-spc div{
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    min-height: 0px;
    justify-items: stretch;}
.radio-flx-spc label{
    display: flex;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e9e9e9 !important;
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;}
.ant-row, .flx-pr {
    width: 70%;
    max-width: 70%;
    margin: auto;
    align-content: center;
    flex-direction: column;
}

form label {
    text-align: left;
    width: 50%;
}
form{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap;
} 
.etat-srf-lab{
    text-align: center !important;
    width: 50% !important;
    font-size: 18px !important;
    font-family: 'Montserrat' !important;
    color: #555 !important;
    font-weight: 900 !important;
}
.etat-srf {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 60%;
    display: flex !important;
    align-items: center !important;
    flex: 0% !important;
    margin: auto;
    text-align: center;
    flex-direction: row;
}
.plaf-dim .ant-col-6 {
    padding: 12px 0px !important;
    border-bottom: 1px solid #E9E9E9 !important;
}
/* .ant-col-6 {
    justify-content: center;
    max-width: 100% !important;
    width: 70% !important;
    display: grid !important;
    grid-template-columns: 1fr !important;
    gap: 5px;
    align-items: center !important;
    flex: 0% !important;
    margin: auto;
    text-align: center;
} */

@media screen and (max-width: 800px) {
.ant-col-12{max-width: 100% !important; width: 100% !important;}
}
@media screen and (max-width: 600px) {
    .ant-row, .flx-pr{width: 100%; max-width: 100%; }
}