<h3>Pose de Plafond</h3>
            <form [formGroup]="posePlafondForm" (ngSubmit)="onPosePlafondSubmit()">

               <div >
                 <div nz-row nzJustify="start" >
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="hauteur">Hauteur: </label>
                     <input type="number" id="hauteur" formControlName="hauteur">
                     <div *ngIf="posePlafondForm.get('hauteur')?.invalid && (posePlafondForm.get('hauteur')?.dirty || posePlafondForm.get('hauteur')?.touched)">
                        <div *ngIf="posePlafondForm.get('hauteur')?.errors?.['required']" class="error">
                          Hauteur est requise.
                        </div>
                      </div>
                   </div>
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="longueur">Longueur: </label>
                     <input type="number" id="longueur" formControlName="longueur">
                   </div>
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="largeur">Largeur: </label>
                     <input type="number" id="largeur" formControlName="largeur">
                   </div>
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="surface">Surface: </label>
                     <input type="number" id="surface" formControlName="surface">
                   </div>
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="etat">État: </label>
                     
                     <nz-select nzShowSearch nzAllowClear nzPlaceHolder="etat du plafond" formControlName="etat">
                        <nz-option nzLabel="tres abimé" nzValue="tres abimé"></nz-option>
                        <nz-option nzLabel="abimé" nzValue="abimé"></nz-option>
                        <nz-option nzLabel="reprises partielles" nzValue="reprises partielles"></nz-option>
                      </nz-select>
                   </div>
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="Peinture">Peinture: </label>
                     
                     <nz-select nzShowSearch nzAllowClear nzPlaceHolder="peinture du plafond" formControlName="peinture">
                        <nz-option nzLabel="aucune" nzValue="aucune"></nz-option>
                        <nz-option nzLabel="mate" nzValue="mate"></nz-option>
                        <nz-option nzLabel="satinée" nzValue="satinée"></nz-option>
                      </nz-select>
                   </div>
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="etat">Enduit decoratif : </label>
                     
                     <nz-select nzShowSearch nzAllowClear nzPlaceHolder="enduit du plafond" formControlName="enduit">
                        <nz-option nzLabel="aucun" nzValue="aucun"></nz-option>
                        <nz-option nzLabel="gamme 1" nzValue="gamme 1"></nz-option>
                        <nz-option nzLabel="gamme 2" nzValue="gamme 2"></nz-option>
                      </nz-select>
                   </div>
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="etat">Papier peint: </label>
                     
                     <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Papier peint du plafond" formControlName="papier">
                        <nz-option nzLabel="aucun" nzValue="aucun"></nz-option>
                        <nz-option nzLabel="gamme 1" nzValue="gamme 1"></nz-option>
                        <nz-option nzLabel="gamme 2" nzValue="gamme 2"></nz-option>
                      </nz-select>
                   </div>
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="etat">Carrelage plafond: </label>
                     
                     <nz-select nzShowSearch nzAllowClear nzPlaceHolder="carrelage du plafond" formControlName="carrelage">
                        <nz-option nzLabel="aucun" nzValue="aucun"></nz-option>
                        <nz-option nzLabel="gamme 1" nzValue="gamme 1"></nz-option>
                        <nz-option nzLabel="gamme 2" nzValue="gamme 2"></nz-option>
                      </nz-select>
                   </div>
                   <div nz-col nzSpan="6" class="ant-col"> 
                     <label for="image">Image:</label>
                     <input type="file" id="image" (change)="onFileChange($event,posePlafondForm)" accept="image/*">
                   </div>
                 </div>
               </div>
               <button type="submit">Valider</button>
             </form>