
            <form [formGroup]="posePlafondForm" (ngSubmit)="onPosePlafondSubmit()">

               <div >
                 <div nz-row nzJustify="start" >  
                  <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
                    Nouveau revêtement </span> 
                  </div>
                  <div nz-col nzSpan="6" class="ant-col tooltip-srf etat-srf">
                    <!-- Gamme Peinture, Enduit, Papier, Carrelage -->
                    <nz-radio-group formControlName="gamme" class="radio-flx-spc">
                      <!-- Common template for multiple option lists -->  
                         <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
                          Peinture </span> 
                        </div>
                        <div *ngFor="let option of gammes_peinture" class="parquet-option ant-col tooltip-srf etat-srf">
                          <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
                            <span>{{ option.Label }}</span>
                          </label>
                          <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
                            <i class="far fa-question-circle"></i>
                          </a>
                          <ng-template #tooltipTemplate>
                            Pour plus d'informations, veuillez consulter :
                            <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                          </ng-template>
                        </div>

                        
                         <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
                          Enduit </span> 
                        </div>
                        <div *ngFor="let option of gammes_enduit" class="parquet-option ant-col tooltip-srf etat-srf">
                          <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
                            <span>{{ option.Label }}</span>
                          </label>
                          <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
                            <i class="far fa-question-circle"></i>
                          </a>
                          <ng-template #tooltipTemplate>
                            Pour plus d'informations, veuillez consulter :
                            <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                          </ng-template>
                        </div>

                        
                        
                         <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
                          Papier </span> 
                        </div>
                        <div *ngFor="let option of gammes_papier" class="parquet-option ant-col tooltip-srf etat-srf">
                          <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
                            <span>{{ option.Label }}</span>
                          </label>
                          <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
                            <i class="far fa-question-circle"></i>
                          </a>
                          <ng-template #tooltipTemplate>
                            Pour plus d'informations, veuillez consulter :
                            <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                          </ng-template>
                        </div>
                        <div  class="parquet-option ant-col tooltip-srf etat-srf">
                          <label nz-radio nzValue="0:autre:0">
                            <span>autre</span>
                          </label>
                          
                        </div>
                       
                      <!--
                         <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
                          Gamme - Carrelage </span> 
                        </div>
                        <div *ngFor="let option of gammes_carrelage" class="parquet-option ant-col tooltip-srf etat-srf">
                          
                          <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
                            <span>{{ option.Label }}</span>
                          </label>
                          <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
                            <i class="far fa-question-circle"></i>
                          </a>
                          <ng-template #tooltipTemplate>
                            Pour plus d'informations, veuillez consulter :
                            <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                          </ng-template>
                        </div>
                -->
                    </nz-radio-group>
                  </div>

                  <div nz-col nzSpan="6" class="ant-col tooltip-srf" [nzXs]="24" [nzSm]="6" *ngIf="posePlafondForm.get('gamme')?.value=='0:autre:0'">
                    <label for="autre_gamme">
                      autre : </label>
                    <input type="text" id="autre_gamme" formControlName="autre_gamme" >
                  </div>



                  <div nz-col nzSpan="6" class="ant-col tooltip-srf etat-srf">
                    <nz-radio-group formControlName="depose" class="radio-flx-spc">
                         <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
                          Revêtement à déposer  </span> 
                        </div>
                        <div *ngFor="let option of gammes_depose" class="parquet-option ant-col tooltip-srf etat-srf">
                          <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
                            <span>{{ option.Label }}</span>
                          </label>
                          <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
                            <i class="far fa-question-circle"></i>
                          </a>
                          <ng-template #tooltipTemplate>
                            Pour plus d'informations, veuillez consulter :
                            <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                          </ng-template>
                        </div>

                        
                    </nz-radio-group>
                  </div>
                  
                  <div *ngIf="isclicked && posePlafondForm.get('gamme')?.invalid " class="error-message">
                    Les gammes sont requises.
                  </div>
                 </div>
               </div>
             </form>