
            <form [formGroup]="posePlafondForm" (ngSubmit)="onPosePlafondSubmit()">

               <div >
                 <div nz-row nzJustify="start" >
                   
                   

                   <div nz-col nzSpan="6" class="ant-col">
                    <!-- <label for="gamme">Gamme: </label> -->
                    <nz-radio-group formControlName="gamme" class="radio-flx-spc">
                      <div><label nz-radio *ngFor="let option of gammes_peinture" [nzValue]="option.ID+':'+option.Prix"><span>{{option.Label}}</span></label></div>
                      <div><label nz-radio *ngFor="let option of gammes_enduit" [nzValue]="option.ID+':'+option.Prix"><span>{{option.Label}}</span></label></div>
                      <div><label nz-radio *ngFor="let option of gammes_papier" [nzValue]="option.ID+':'+option.Prix"><span>{{option.Label}}</span></label></div>
                      <div><label nz-radio *ngFor="let option of gammes_carrelage" [nzValue]="option.ID+':'+option.Prix"><span>{{option.Label}}</span></label></div>

                   </nz-radio-group>
                    
                  </div>
                 </div>
               </div>
             </form>