<div class="recap-div devis-content">
    <span class="recup-fin recap-piece">{{selectedPiece.Titre}}</span>
    
    <div *ngFor="let dimmur of cmnpForm.formulaire['dimensions-creation-murs-non-porteurs--murs'].murs_non_porteurs; let i = index" class="recup-mur-flx">
        <span class="mur-ttl">Mur {{i+1}}</span>
        <div>
        <span class="recup-fin"><p>Hauteur</p><p>:</p><p>{{dimmur.hauteur}} cm</p></span>
        <span class="recup-fin"><p>Longueur</p><p>:</p><p>{{dimmur.longueur}} cm</p></span>
        <span class="recup-fin"><p>Épaisseur</p><p>:</p><p>{{dimmur.epaisseur}} cm</p></span>
        </div>
    </div>
    <div *ngIf="cmnpForm.formulaire['gammes-produits-creation-murs-non-porteurs--portes'].has_portes">
        <div *ngFor="let porte of cmnpForm.formulaire['gammes-produits-creation-murs-non-porteurs--portes'].portes; let i = index" class="recup-mur-flx">
            <span class="mur-ttl">Porte {{i+1}}</span>
            <div>
            
                <span class="recup-fin"><p>Largeur</p><p>:</p><p>{{(cmnpForm.formulaire['dimensions-creation-murs-non-porteurs--murs'].portes[i].largeur)}} cm</p></span>
            <span class="recup-fin"><p>Gamme</p><p>:</p><p>{{get_title(porte.gamme)}} </p></span>
            </div>
        </div>
    </div>
    
    </div>
    