<!-- <h4 class="h4-demol">MURS NON PORTEURS</h4> -->
<form [formGroup]="mursnonporteursForm" (ngSubmit)="onSubmitForm1()" *ngIf="mursnonporteurs_choisis">

  <div formArrayName="mursnonporteurs">
    <div *ngFor="let mur of mursnonporteurs.controls; let j = index" [formGroupName]="j">
      <div class="div-mur-gm"><span class="mur-ttl">Caractéristiques du mur {{j+1}}</span><span class="mur-ttl"> - </span><label for="cloison" class="mur-ttl">Type </label></div>
      <div nz-row nzJustify="start">
        <div nz-col nzSpan="6" class="ant-col col-gm tooltip-srf etat-srf">
          
          <nz-radio-group formControlName="cloison" class="radio-flx-spc">
            <!-- Reusable template for displaying options with PDFs -->
            <ng-container>
              <div *ngFor="let option of gammes_cloison" class="parquet-option  flex-see-gamme">
                <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix"  class="with-link">
                  <span>
                    <!-- Dynamically display the label based on the type -->
                    {{ option.Label }}
                  </span>
                </label>
                <span>
                  <a *ngIf="option.Pdf" target="_blank" class="see-gamme-link" [href]="baseurl + option.Pdf">Voir la gamme</a>
                </span>
              </div>
            </ng-container>
          </nz-radio-group>
        </div>
          <div *ngIf="isclicked && mursnonporteurs.controls[j].get('cloison')?.invalid " class="error-message">
            Les cloisons sont requises.
          </div>
        </div>
      </div>  
  </div>
  </form>

  <!-- <h4 class="h4-demol">OUVERTURE PARTIELLE</h4>-->
<form [formGroup]="ouverturepartiellesForm" (ngSubmit)="onSubmitForm2()" *ngIf="ouverturepartielles_choisis">

  <div formArrayName="ouverturepartielles">
    <div *ngFor="let mur of ouverturepartielles.controls; let i = index" [formGroupName]="i">
      <div class="div-mur-gm"><span class="mur-ttl">Ouverture {{i+1}}</span><span class="mur-ttl"> - </span><label for="cloison" class="mur-ttl">Type de cloison</label></div>
      <div nz-row nzJustify="start">
        <div nz-col nzSpan="6" class="ant-col col-gm tooltip-srf etat-srf">
          
          <nz-radio-group formControlName="cloison" class="radio-flx-spc">
            <!-- Reusable template for displaying options with PDFs -->
            <ng-container >
              <div *ngFor="let option of gammes_cloison" class="parquet-option  flex-see-gamme">
                <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix"  class="with-link">
                  <span>
                    <!-- Dynamically display the label based on the type -->
                    {{ option.Label }}
                  </span>
                </label>
                <span>
                  <a *ngIf="option.Pdf" target="_blank" class="see-gamme-link" [href]="baseurl + option.Pdf">Voir la gamme</a>
                </span>
              </div>
            </ng-container>
          </nz-radio-group>
        </div>
          <div *ngIf="isclicked && ouverturepartielles.controls[i].get('cloison')?.invalid " class="error-message">
            Les cloisons sont requises.
          </div>
          
        </div>

      </div>
      
  </div>
  </form>