
<div class="recap-div devis-content">
    <span class="recup-fin recap-piece">{{selectedPiece.Titre}} - Pose de nouveaux équipements de cuisine</span>
    

    <div *ngFor="let appareil of appareils_a_ajouter">
        <div *ngIf="appareil.active">
            <span class="recup-fin"><p><strong>{{appareil.titre}}</strong></p><p><strong>:</strong></p><p><strong>{{get_title(appareil.modele)}}</strong></p></span>

            <span class="recup-fin" *ngIf="appareil.longueur>0"><p>Longueur</p><p>:</p><p>{{(appareil.longueur)}} cm</p></span>
           
        </div>
        
    </div>
    <div style="width: 100%;" class="left"><span class="mur-ttl">Dépose d'anciennes installations</span></div>
    
    <div *ngFor="let gamme of gammes_depose_form">
        <div>
            <span class="recup-fin" *ngIf="gamme.quantite>0 || gamme.longueur>0"><p>{{(gamme.titre)}}</p></span>
            <span class="recup-fin" *ngIf="gamme.quantite>0"><p>Nombre</p><p>:</p><p>{{(gamme.quantite)}} </p></span>
            <span class="recup-fin" *ngIf="gamme.longueur>0"><p>Longueur</p><p>:</p><p>{{(gamme.longueur)}} cm</p></span>
        </div>
        
    </div>
 
</div>
