<div class="plaf-dim">

  <nz-collapse class="row-w-collapse">
      <nz-collapse-panel nzHeader="Démolition complète de murs non-porteurs" [nzActive]="is_active_Tp1" [nzExtra]="activerTp1" nzShowArrow="false" (nzActiveChange)="active_Tp1()">
        
          <form [formGroup]="mursNonporteursForm" (ngSubmit)="onSubmitform1()">
            <div *ngIf="exist_glob_err_form1" class="error-message">
              {{glob_err_form1}}
            </div>
            <div formArrayName="mursNonporteurs">
             <div *ngFor="let mur of mursNonporteurs.controls; let i = index" [formGroupName]="i" >
               <div class="mur-btn-div coll-100">
                 <span class="mur-ttl">Caractéristiques du mur nº{{i+1}}</span>
               <button type="button" class="dynamic-form-button del-btn" (click)="removemursNonporteursGroup(i)" *ngIf="mursNonporteurs.length > 1"><span class="icon-btn">[-]</span> Retirer</button>
               </div>
               

                <div *ngIf="isclicked" class="error-message">
                  <div *ngIf="isclicked && mursNonporteurs.controls[i].get('longueur')?.invalid " class="error-message left">
                    La longueur est invalide.
                  </div>
                  <div *ngIf="isclicked && mursNonporteurs.controls[i].get('hauteur')?.invalid " class="error-message left" style="width: 100%;">
                    La hauteur est invalide.
                  </div>
                  <div *ngIf="isclicked && mursNonporteurs.controls[i].get('epaisseur')?.invalid " class="error-message left">
                    L'épaisseur est invalide.
                  </div>
                  <div *ngIf="isclicked && mursNonporteurs.controls[i].get('ndp')?.invalid " class="error-message left">
                    Le nombre de portes est invalide.
                  </div>
                  <div *ngIf="isclicked && mursNonporteurs.controls[i].get('cloison')?.invalid " class="error-message left">
                    Les cloisons sont requises.
                  </div>
                </div>
               <div nz-row nzJustify="start" class="ant-col-flx flx-radio-row3 coll-100">
                  <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                    <label for="longueur">Longueur (cm)<span class="error-message" *ngIf="is_active_Tp1">*</span> : </label>
                    <input (keypress)="blockComma($event)" type="number" id="longueur" formControlName="longueur" min="100" max="3000">

                  </div>
                  <!-- <div nz-col nzSpan="6" *ngIf="isclicked && mursNonporteurs.controls[i].get('longueur')?.invalid " class="error-message left">
                    La longueur est invalide.
                </div> -->
                  
                  <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                    <label for="hauteur">Hauteur (cm)<span class="error-message" *ngIf="is_active_Tp1">*</span> : </label>
                    <input (keypress)="blockComma($event)" type="number" id="hauteur" formControlName="hauteur" min="100" max="500">
                    <!-- <div *ngIf="isclicked && mursNonporteurs.controls[i].get('hauteur')?.invalid " class="error-message left" style="width: 100%;">
                      La hauteur est invalide.
                    </div>-->
                  </div>
                  
                  <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                     <label for="epaisseur">Epaisseur (cm)<span class="error-message" *ngIf="is_active_Tp1">*</span> : </label>
                     <input (keypress)="blockComma($event)" type="number" id="epaisseur" formControlName="epaisseur" min="3" max="30">
                     <!-- <div *ngIf="isclicked && mursNonporteurs.controls[i].get('epaisseur')?.invalid " class="error-message left">
                      L'épaisseur est invalide.
                    </div>-->
                    </div>
                   
                   <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                     <label for="ndp">Nombre de portes <span class="error-message" *ngIf="is_active_Tp1">*</span> : </label>
                     <input (keypress)="blockComma($event)" type="number" id="ndp" formControlName="ndp" min="0" max="20">
                     <!-- <div *ngIf="isclicked && mursNonporteurs.controls[i].get('ndp')?.invalid " class="error-message left">
                      Le nombre de portes est invalide.
                    </div>-->
                   </div>
                              
                </div>

                <div  nz-col class="row-w-grid coll-100 ">
                  <label for="cloison">Types de cloison<span class="error-message">*</span> :</label>
                    <nz-radio-group formControlName="cloison" class="flx-radio-row2">
                      <!-- Reusable template for displaying options with PDFs -->
                      <ng-container>
                        <div *ngFor="let option of gammes_cloison" class="parquet-option">
                          <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix">
                            <span>
                              <!-- Dynamically display the label based on the type -->
                               {{ option.Label }}
                            </span>
                          </label>
                        
                        </div>
                      </ng-container>
                    </nz-radio-group>
                    <!-- <div *ngIf="isclicked && mursNonporteurs.controls[i].get('cloison')?.invalid " class="error-message left">
                      Les cloisons sont requises.
                    </div>-->
                  </div>
                <!-- <div nz-col nzSpan="6" class="ant-col tooltip-srf"> 
                  <label for="image">Image : <a nz-tooltip [nzTooltipTitle]="tooltipImage" href="javascript:void(0)" class="info-icon">
                    <i class="fas fa-question-circle"></i>
                  </a></label>
                  
                  <input (keypress)="blockComma($event)" type="file" id="image" (change)="onmursNonporteursFileChange($event, i)" accept="image/*">
                  
                 <ng-template #tooltipImage>
                   <div class="tooltip-content">
                     <p>Si votre mur possède des caractéristiques particulières, vous pouvez nous envoyer une photo.</p>
                   </div>
                 </ng-template> 
               </div> -->

              </div>
             </div>
              <div class="col-w-75 coll-100">
                <button type="button"  class="dynamic-form-button add-btn" (click)="addmursNonporteursGroup()" *ngIf="mursNonporteurs.length < 5" >[+] Ajouter un mur</button>
              </div>
          </form>
        
      </nz-collapse-panel>
    </nz-collapse>
      <nz-collapse class="row-w-collapse">
      
      <nz-collapse-panel nzHeader="Démolition partielle de murs non-porteurs" [nzActive]="is_active_Tp3" [nzExtra]="activerTp3" nzShowArrow="false" (nzActiveChange)="active_Tp3()">
        <form [formGroup]="ouverturePartielleForm" (ngSubmit)="onSubmitform3()">
          <div *ngIf="exist_glob_err_form2" class="error-message">
            <p style="font-size: 14px;" [innerHTML]="glob_err_form2"></p>
          </div>
          <div formArrayName="ouverturePartielle">
            <!-- <img src="/assets/dimensions.png" style="margin-top:30px;">-->
           <div *ngFor="let mur of ouverturePartielle.controls; let i = index" [formGroupName]="i" >
             <div class="mur-btn-div coll-100">
               <span class="mur-ttl">Caractéristiques de l'ouverture sur le mur nº{{i+1}}</span>
               <button type="button" class="dynamic-form-button del-btn" (click)="removeouverturePartielleGroup(i)" *ngIf="ouverturePartielle.length > 1"><span class="icon-btn">[-]</span> Retirer</button>
             </div>

             <div *ngIf="isclicked" class="error-message">
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('longueur')?.invalid " class="error-message">
                La longueur est invalide.
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('hauteur')?.invalid " class="error-message">
                La hauteur est invalide.
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('epaisseur')?.invalid " class="error-message">
                L'épaisseur est invalide.
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('longueur_ouverture')?.invalid " class="error-message">
                La longueur de l'ouverture est invalide.
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('hauteur_depuis_le_sol')?.invalid " class="error-message">
                La hauteur depuis le sol est invalide.
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('hauteur_ouverture')?.invalid " class="error-message">
                La hauteur de l'ouverture est invalide.
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('hauteur_depuis_le_plafond')?.invalid " class="error-message">
                La hauteur depuis le plafond est invalide.
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('cloison')?.invalid " class="error-message">
                Les cloisons sont requises.
              </div>
            </div>

             
             <div nz-row nzJustify="start" class="ant-col-flx coll-100" style="grid-template-columns: 1fr!important;">
               
               <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                  <label for="longueur">Longueur du mur (cm)<span class="error-message" *ngIf="is_active_Tp3">*</span> : </label>
                  <input (keypress)="blockComma($event)" type="number" id="longueur" formControlName="longueur" min="100" max="3000">
                </div>
                <!-- <div *ngIf="isclicked && ouverturePartielle.controls[i].get('longueur')?.invalid " class="error-message">
                   La longueur est invalide.
               </div>-->
                <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                  <label for="hauteur">Hauteur du mur (cm)<span class="error-message" *ngIf="is_active_Tp3">*</span> : </label>
                  <input (keypress)="blockComma($event)" type="number" id="hauteur" formControlName="hauteur" min="100" max="500">
                </div>
                <!-- <div *ngIf="isclicked && ouverturePartielle.controls[i].get('hauteur')?.invalid " class="error-message">
                   La hauteur est invalide.
                 </div>-->
                <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                   <label for="epaisseur">Epaisseur (cm)<span class="error-message" *ngIf="is_active_Tp3">*</span> : </label>
                   <input (keypress)="blockComma($event)" type="number" id="epaisseur" formControlName="epaisseur"  min="3" max="30">
                 </div>
                 <!-- <div *ngIf="isclicked && ouverturePartielle.controls[i].get('epaisseur')?.invalid " class="error-message">
                   L'épaisseur est invalide.
                 </div>-->
                 
                 <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                   <label for="longueur_ouverture">Longueur de l'ouverture (cm)<span class="error-message" *ngIf="is_active_Tp3">*</span> :  </label>
                   <input (keypress)="blockComma($event)" type="number" id="longueur_ouverture" formControlName="longueur_ouverture"  min="100" max="3000"> 
                 </div>
                 <!-- <div *ngIf="isclicked && ouverturePartielle.controls[i].get('longueur_ouverture')?.invalid " class="error-message">
                   La longueur de l'ouverture est invalide.
                 </div>-->

                 <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                  <label for="hauteur_ouverture">Hauteur de l'ouverture (cm)<span class="error-message" *ngIf="is_active_Tp3">*</span> :  </label>
                  <input (keypress)="blockComma($event)" type="number" id="hauteur_ouverture" formControlName="hauteur_ouverture"  min="10" max="500"> 
                </div>
                <!-- <div *ngIf="isclicked && ouverturePartielle.controls[i].get('hauteur_ouverture')?.invalid " class="error-message">
                  La hauteur de l'ouverture est invalide.
                </div>-->

                <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                  <label for="hauteur_depuis_le_sol">Hauteur depuis le sol (cm)<span class="error-message" *ngIf="is_active_Tp3">*</span> :  </label>
                  <input (keypress)="blockComma($event)" type="number" id="hauteur_depuis_le_sol" formControlName="hauteur_depuis_le_sol"  min="10" max="500"> 
                </div>
                <!-- <div *ngIf="isclicked && ouverturePartielle.controls[i].get('hauteur_depuis_le_sol')?.invalid " class="error-message">
                  La hauteur depuis le sol est invalide.
                </div>-->

                <div nz-col nzSpan="6" class="ant-col tooltip-srf">
                  <label for="hauteur_depuis_le_plafond">Hauteur depuis le plafond (cm)<span class="error-message" *ngIf="is_active_Tp3">*</span> :  </label>
                  <input (keypress)="blockComma($event)" type="number" id="hauteur_depuis_le_plafond" formControlName="hauteur_depuis_le_plafond"  min="10" max="500"> 
                </div>
              

                
               
              </div>

              <div nz-col class="row-w-grid coll-100">
                  
                <label for="cloison">Types de cloison<span class="error-message" *ngIf="is_active_Tp3">*</span> :</label>
                <nz-radio-group formControlName="cloison" class="flx-radio-row2">
                  <!-- Reusable template for displaying options with PDFs -->
                  <ng-container>
                    <div *ngFor="let option of gammes_cloison" class="parquet-option">
                      <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix">
                        <span>
                          <!-- Dynamically display the label based on the type -->
                           {{ option.Label }}
                        </span>
                      </label>
                    
                    </div>
                  </ng-container>
                </nz-radio-group>
              </div>
<!-- 
              <div nz-col nzSpan="6" class="ant-col tooltip-srf"> 
                <label for="image">Image : <a nz-tooltip [nzTooltipTitle]="tooltipImage" href="javascript:void(0)" class="info-icon">
                  <i class="fas fa-question-circle"></i>
               </a></label>
                
                <input type="file" id="image" (change)="onouverturePartielleFileChange($event, i)" accept="image/*">
                
               <ng-template #tooltipImage>
                 <div class="tooltip-content">
                   <p>Si votre mur possède des caractéristiques particulières, vous pouvez nous envoyer une photo.</p>
                 </div>
               </ng-template>
              </div> -->


            </div>
           </div>
           <div class="col-w-75 coll-100">
          <button type="button"  class="dynamic-form-button add-btn" (click)="addouverturePartielleGroup()" *ngIf="ouverturePartielle.length < 5" >[+] Ajouter une ouverture</button>
        </div>
        </form>
      </nz-collapse-panel>
  </nz-collapse>
  <ng-template #activerTp1>
    <label nz-checkbox [(ngModel)]="is_active_Tp1">
      
    </label>
  </ng-template>
 
  <ng-template #activerTp3>
    <label nz-checkbox [(ngModel)]="is_active_Tp3">
      
    </label>
  </ng-template>
  


   

  
  
</div>