<div class="plaf-dim">
    <form [formGroup]="mursNonporteursForm" (ngSubmit)="onSubmitform1()">

       <div formArrayName="mursNonporteurs">
        <div *ngFor="let mur of mursNonporteurs.controls; let i = index" [formGroupName]="i" >
          <div class="mur-btn-div">
            <span class="mur-ttl">Mur non porteurs - mur {{i+1}}</span>
          <button type="button" class="dynamic-form-button del-btn" (click)="removemursNonporteursGroup(i)" *ngIf="mursNonporteurs.length > 1">Retirer</button>
          </div>
          <div nz-row nzJustify="start" >
           
            <div nz-col nzSpan="6" class="ant-col">
               <label for="longueur">longueur <span class="error-message">*</span> : </label>
              <ng-template #tooltipSurface>
                <div class="tooltip-content">
                  <strong>Calcul de la longueur :</strong><br>
                  <p>longueur</p>
                </div>
              </ng-template>
               <input type="number" id="longueur" formControlName="longueur">
               <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                <i class="far fa-question-circle"></i>
              </a>
             </div>
             <div *ngIf="isclicked && mursNonporteurs.controls[i].get('longueur')?.invalid " class="error-message">
                longueur requise.
            </div>
             <div nz-col nzSpan="6" class="ant-col">
               <label for="hauteur">Hauteur cm<span class="error-message">*</span> : </label>
               <input type="number" id="hauteur" formControlName="hauteur">
               <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                <i class="far fa-question-circle"></i>
              </a>
               <ng-template #tooltipSurface>
                <div class="tooltip-content">
                  <strong>Calcul de la hauteur :</strong><br>
                  <p>hauteur</p>
                </div>
              </ng-template>
             </div>
             <div *ngIf="isclicked && mursNonporteurs.controls[i].get('hauteur')?.invalid " class="error-message">
                Hauteur requise.
              </div>
             <div nz-col nzSpan="6" class="ant-col">
                <label for="epaisseur">Epaisseur <span class="error-message">*</span> : </label>
                <input type="number" id="epaisseur" formControlName="epaisseur">
                <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la Epaisseur :</strong><br>
                    <p>Epaisseur</p>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="isclicked && mursNonporteurs.controls[i].get('epaisseur')?.invalid " class="error-message">
                epaisseur requise.
              </div>
              <div nz-col nzSpan="6" class="ant-col">
                <label for="volume">Volume <span class="error-message">*</span> : </label>
                <input type="number" id="volume" formControlName="volume">
                <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la volume :</strong><br>
                    <p>volume</p>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="isclicked && mursNonporteurs.controls[i].get('volume')?.invalid " class="error-message">
                volume requis.
              </div>
             
             <div nz-col nzSpan="6" class="ant-col"> 
               <label for="image">Image : </label>
               <input type="file" id="image" (change)="onmursNonporteursFileChange($event, i)" accept="image/*">
             </div>
           </div>
         </div>
        </div>
         
       <button type="button"  class="dynamic-form-button add-btn" (click)="addmursNonporteursGroup()" *ngIf="mursNonporteurs.length < 5" >Ajouter un mur</button>
     </form>


     <form [formGroup]="deposePorteForm" (ngSubmit)="onSubmitform2()">
        <div class="col-12-w">
            <div nz-row nzJustify="start">
              <div class="mur-btn-div">
                <span class="mur-ttl">Dépose de porte</span>
            </div>
                <div nz-col nzSpan="12" class="ant-col">
                       
                    <label for="quantite_portes_simples_creuse">Nombre de portes simples creuse <span class="error-message">*</span> : </label>
                    <input type="number" id="quantite_portes_simples_creuse" formControlName="quantite_portes_simples_creuse">
                    <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                      <i class="far fa-question-circle"></i>
                    </a>
                    <ng-template #tooltipSurface>
                      <div class="tooltip-content">
                        <strong>Nombre de portes simples creuse</strong><br>
                      </div>
                    </ng-template>
                </div>
                <div *ngIf="isclicked && deposePorteForm.get('quantite_portes_simples_creuse')?.invalid " class="error-message">
                    quantité requise.
                </div>
                <div nz-col nzSpan="12" class="ant-col">
                    <label for="quantite_portes_doubles_creuses">Nombre de portes doubles creuses <span class="error-message">*</span> : </label>
                    <input type="number" id="quantite_portes_doubles_creuses" formControlName="quantite_portes_doubles_creuses">
                    <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                      <i class="far fa-question-circle"></i>
                    </a>
                    <ng-template #tooltipSurface>
                      <div class="tooltip-content">
                        <strong>Nombre de portes doubles creuses :</strong><br>
                      </div>
                    </ng-template>
                </div>
                <div *ngIf="isclicked && deposePorteForm.get('quantite_portes_doubles_creuses')?.invalid " class="error-message">
                    quantité requise.
                </div>
                <div nz-col nzSpan="12" class="ant-col">
                    <label for="quantite_porte_simple_plein">Nombre de porte simple plein <span class="error-message">*</span> :  </label>
                    <input type="number" id="quantite_porte_simple_plein" formControlName="quantite_porte_simple_plein">
                    <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                      <i class="far fa-question-circle"></i>
                    </a>
                    <ng-template #tooltipSurface>
                      <div class="tooltip-content">
                        <strong>Nombre de porte simple plein</strong>
                      </div>
                    </ng-template>
                </div>
                <div *ngIf="isclicked && deposePorteForm.get('quantite_porte_simple_plein')?.invalid " class="error-message">
                    quantité requise.
                </div>
                <div nz-col nzSpan="12" class="ant-col">
                    <label for="quantite_porte_double_pleine">Nombre de porte double pleine <span class="error-message">*</span> :  </label>
                    <input type="number" id="quantite_porte_double_pleine" formControlName="quantite_porte_double_pleine">
                    <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                      <i class="far fa-question-circle"></i>
                    </a>
                    <ng-template #tooltipSurface>
                      <div class="tooltip-content">
                        <strong>Nombre de porte double pleine</strong>
                      </div>
                    </ng-template>
                </div>
                <div *ngIf="isclicked && deposePorteForm.get('quantite_porte_double_pleine')?.invalid " class="error-message">
                    quantité requise.
                </div>
            </div>
        </div>
    </form>

    
    <form [formGroup]="ouverturePartielleForm" (ngSubmit)="onSubmitform3()">

       <div formArrayName="ouverturePartielle">
        <div *ngFor="let mur of ouverturePartielle.controls; let i = index" [formGroupName]="i" >
          <div class="mur-btn-div">
            <span class="mur-ttl">Ouverture partielle - Ouverture {{i+1}}</span>
            <button type="button" class="dynamic-form-button del-btn" (click)="removeouverturePartielleGroup(i)" *ngIf="ouverturePartielle.length > 1">Retirer</button>
          </div>
          <div nz-row nzJustify="start" >
           
            <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
               <label for="longueur">longueur <span class="error-message">*</span> : </label>
               <input type="number" id="longueur" formControlName="longueur">
               <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                <i class="far fa-question-circle"></i>
              </a>
               <ng-template #tooltipSurface>
                <div class="tooltip-content">
                  <strong>Calcul de la longueur :</strong><br>
                  <p>longueur</p>
                </div>
              </ng-template>
             </div>
             <div *ngIf="isclicked && ouverturePartielle.controls[i].get('longueur')?.invalid " class="error-message">
                longueur requise.
            </div>
             <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
               <label for="hauteur">Hauteur cm<span class="error-message">*</span> : </label>
               <input type="number" id="hauteur" formControlName="hauteur">
               <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                <i class="far fa-question-circle"></i>
              </a>
               <ng-template #tooltipSurface>
                <div class="tooltip-content">
                  <strong>Calcul de la hauteur :</strong><br>
                  <p>hauteur</p>
                </div>
              </ng-template>
             </div>
             <div *ngIf="isclicked && ouverturePartielle.controls[i].get('hauteur')?.invalid " class="error-message">
                Hauteur requise.
              </div>
             <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
                <label for="epaisseur">Epaisseur <span class="error-message">*</span> : </label>
                <input type="number" id="epaisseur" formControlName="epaisseur">
                <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la epaisseur :</strong><br>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('epaisseur')?.invalid " class="error-message">
                epaisseur requise.
              </div>
              <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
                <label for="volume">Volume <span class="error-message">*</span> : </label>
                <input type="number" id="volume" formControlName="volume">
                <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul du volume</strong><br>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('volume')?.invalid " class="error-message">
                volume requis.
              </div>
              <div nz-col nzSpan="6" class="ant-col etat-srf tooltip-srf">
                <label for="longueur_du_mur">Longueur du mur <span class="error-message">*</span> :  </label>
                <input type="number" id="longueur_du_mur" formControlName="longueur_du_mur"> 
                <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltipSurface>
                  <div class="tooltip-content">
                    <strong>Calcul de la longueur du mur:</strong><br>
                    <p>longueur du mur</p>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="isclicked && ouverturePartielle.controls[i].get('longueur_du_mur')?.invalid " class="error-message">
                longueur_du_mur requis.
              </div>

             <div nz-col nzSpan="6" class="tooltip-srf etat-srf"> 
               <label for="image">Image : </label>
               <input type="file" id="image" (change)="onouverturePartielleFileChange($event, i)" accept="image/*">
               <a nz-tooltip [nzTooltipTitle]="tooltipSurface" href="javascript:void(0)" class="info-icon">
                <i class="far fa-question-circle"></i>
              </a>
             </div>
           </div>
         </div>
        </div>
         
       <button type="button"  class="dynamic-form-button add-btn" (click)="addouverturePartielleGroup()" *ngIf="ouverturePartielle.length < 5" >Ajouter une ouverture</button>
     </form>
</div>