table, th, td,tr{
    border: solid 1px rgba(85, 85, 85, 0.298);
    
}
table{
    margin-top: 30px;
    margin-bottom: 30px;
}
.center{
    display: block;
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*.total-panier-container{
    position: relative;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    display: flex;
}*/
th{
background-color: #ffc736;
}
th, td{
    padding: 10px 30px !important;
}
.tot-pan{
    font-weight: 900;
    text-align: right;
    font-size: 18px;}


    .btn-site.piece-btn {
            background-color: var(--color1);
            border: none;
            color: var(--color-black);
            padding: 13px 28px;
            text-align: center;
            text-decoration: none;
            font-family: 'Montserrat';
            display: inline-block;
            font-size: 16px;
    }
    .btn-site.piece-btn:hover {
            background-color: var(--color2);
            color: var(--color-white)!important;
    }
    .ant-divider {
       
        border-top: 3px solid rgba(0, 0, 0, 0.06) !important;
    }
    .col-cards-btn {
        display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    margin-top: 24px;
    }
    .div-cards img{height: 25px;}
    .caption{font-family: "Montserrat-bold"; font-size: 6px; margin-top: 3px;}
    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div-cards {
        display: flex;
        flex-direction: row;
        gap: 6px;
    }
    @media only screen and (max-width: 497px) {
        .section-panier th, .section-panier td{
            padding: 10px 5px !important; }
    }
    @media only screen and (max-width: 375px) {
            .section-panier table[_ngcontent-ng-c749552557]{
                overflow-y: scroll !important; }
    }
    @media only screen and (max-width: 320px) {
            .total-panier-container{flex-direction: column; }
            .div-cards img { height: 17px; }
            .col-cards-btn { padding: 0px 6px; }


    }

    .text-indicateur{
        max-width: 700px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }.result-box{
        padding: 8px 12px;
    }