<div class="center section-panier">
    <table *ngIf="!checkout_succeed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Pièce</th>
            <th>Prestation</th>
            <th>Prix  TTC</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfData">
            <td>{{ data.ID }}</td>
            <td>{{ data.Date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ data.Piece?.Titre }}</td>
            <td><span *ngFor="let tache of data?.DevisTaches">{{ tache?.Travail?.Titre }}<br></span></td>
            <td>{{ (data.Prix ) | number:'1.2-2'}}€</td>
            <td>
              <a (click)="supprimer_devis(data.ID)"><fa-icon [icon]="faTrash" class="mr-10"></fa-icon></a>
            </td>
          </tr>
        </tbody>
    </table>
    <div *ngIf="!checkout_succeed">
      <div class="tot-pan">
      Total TTC : {{total | number:'1.2-2'}}€
    </div>
    <nz-divider></nz-divider>
    </div>
    
    <div class="total-panier-container" *ngIf="!checkout_succeed">
     
      <div class="col-cards-btn">

        <div class="div-cards">
          <div class="image-container">
            <img _ngcontent-ng-c2419133293="" src="/assets/controle-qualite.svg">
            <span class="caption">Contrôle <br>de qualité</span>
        </div>          
        <div class="image-container">
          <img src="/assets/service-info.svg" alt="Service Info">
          <span class="caption">Service <br>Info</span>
      </div>
      
      <div class="image-container">
          <img src="/assets/paiement-securise.svg" alt="Paiement Sécurisé">
          <span class="caption">Paiement <br>Sécurisé</span>
      </div>
          <img src="/assets/card-visa.png" alt="">
          <img src="/assets/master-card.png" alt="">
          <img src="/assets/cb-card.png" alt="">

        </div>

        <div>
          <a class="btn-site piece-btn" (click)="Check_login_and_send_mails_details()"><b>Payer</b></a>
        </div>
       
      </div>
    </div>

    <nz-result
      nzStatus="success" *ngIf="checkout_succeed"
      nzTitle="Votre paiement à été accepté !"
      nzSubTitle="Vous receverez les détails par mail."
    >
      
    </nz-result>

    <nz-result *ngIf="checkout_cancel" nzStatus="warning" nzTitle="Votre paiement à été annulé">
      
    </nz-result>
</div>
