<h1 class="center black font-site" style="font-size: 35px;">Panier</h1>
<!--
<div class="center section-panier" *ngIf="!faire_visite_technicien && !visite_payee && !faire_acompte">
  <div>
    Vous n'avez pas d'élements dans votre panier<br>
    Rendez vous sur la page devis en ligne pour commencer !<br>
  </div>
</div>
-->

<div class="center section-panier" *ngIf="faire_visite_technicien || listOfDevisToVisit?.length>0">
  <h2 class="center black bold font-site">VOS DEMANDES DE DEVIS</h2>

  <div *ngIf="listOfDevisToVisit?.length>0">
   
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Pièce</th>
          <th>Prestation</th>
          <th>Prix  TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfDevisToVisit">
          <td>{{ data.ID }}</td>
          <td>{{ data.Date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ data.Piece?.Titre }}</td>
          <td><span *ngFor="let tache of data?.DevisTaches">{{ tache?.Travail?.Titre }}<br></span></td>
          <td>{{ (data.Prix ) | number:'1.2-2'}}€</td>
        </tr>
      </tbody>
    </table>
    <div class="tot-pan">
      Total TTC : {{total_attente_visite | number:'1.2-2'}}€
    </div>
  </div>
  
  <div *ngIf="listOfDevisToPayVisit?.length>0">
  
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Pièce</th>
            <th>Prestation</th>
            <th>Prix  TTC</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfDevisToPayVisit">
            <td>{{ data.ID }}</td>
            <td>{{ data.Date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ data.Piece?.Titre }}</td>
            <td><span *ngFor="let tache of data?.DevisTaches">{{ tache?.Travail?.Titre }}<br></span></td>
            <td>{{ (data.Prix ) | number:'1.2-2'}}€</td>
            <td>
              <a (click)="supprimer_devis(data.ID)"><fa-icon [icon]="faTrash" class="mr-10"></fa-icon></a>
            </td>
          </tr>
        </tbody>
    </table>
    <div >
      <div class="tot-pan">
      Total TTC : {{total_visite | number:'1.2-2'}}€
    </div>
    <nz-divider></nz-divider>
    </div>
    
    <div class="total-panier-container" >
      <h2 class="center black bold font-site">VISITE DU TECHNICIEN</h2>
      <div>
        <p class="text-indicateur" *ngIf="!visite_payee">
          Afin de valider votre devis, vous devez prévoir la visite de notre technicien.
          Les frais de visite s'élèvent à {{prix_visite}} € 
        </p>
        <p class="text-indicateur" *ngIf="visite_payee">
          Un technicien doit venir faire une visite pour aller plus loin. 
          Vous avez déja payé les frais de la visite {{prix_visite}} €.
        </p>
      </div>
      <div class="col-cards-btn">

        <div class="div-cards">
          <div class="image-container">
            <img _ngcontent-ng-c2419133293="" src="/assets/controle-qualite.svg">
            <span class="caption">Contrôle <br>de qualité</span>
        </div>          
        <div class="image-container">
          <img src="/assets/service-info.svg" alt="Service Info">
          <span class="caption">Service <br>Info</span>
      </div>
      
      <div class="image-container">
          <img src="/assets/paiement-securise.svg" alt="Paiement Sécurisé">
          <span class="caption">Paiement <br>Sécurisé</span>
      </div>
          <img src="/assets/card-visa.png" alt="">
          <img src="/assets/master-card.png" alt="">
          <img src="/assets/cb-card.png" alt="">

        </div>

        <div *ngIf="!visite_payee">
          <a class="btn-site piece-btn" (click)="Check_login_and_send_mails_details_to_pay_visite()"><b>Payer les frais de visite</b></a>
        </div>
       
      </div>
    </div>
  </div>

  

    
</div>


<div class="center section-panier" *ngIf="faire_acompte || listOfCurrentDevis?.length>0">
  <h2 class="center black bold font-site">VOS DEMANDES DE DEVIS</h2>

  <div *ngIf="listOfCurrentDevis?.length>0">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Pièce</th>
          <th>Prestation</th>
          <th>Prix  TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfCurrentDevis">
          <td>{{ data.ID }}</td>
          <td>{{ data.Date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ data.Piece?.Titre }}</td>
          <td><span *ngFor="let tache of data?.DevisTaches">{{ tache?.Travail?.Titre }}<br></span></td>
          <td>{{ (data.Prix ) | number:'1.2-2'}}€</td>
        </tr>
      </tbody>
    </table>
    <div >
      <div class="tot-pan">
        Total TTC : {{total | number:'1.2-2'}}€
      </div>
    </div>
    
    <div class="total-panier-container" >
      <h2 class="center black bold font-site">VISITE DU TECHNICIEN</h2>
      <div>
        <p class="text-indicateur" >
          La visite du technicien a été effectuée le {{ listOfCurrentDevis[0]?.Visite?.Date | date:'dd/MM/yyyy' }}.
        </p>
        
      </div>
  
      <h2 class="center black bold font-site" *ngIf="!checkout_succeed">PAIEMENT DE L'ACOMPTE</h2>
      <div>
        <p class="text-indicateur" *ngIf="!checkout_succeed">
          Le paiement de l'acompte de {{prix_acompte | number:'1.2-2'}}€ a été  effectué le  {{ listOfCurrentDevis[0]?.Visite?.Date | date:'dd/MM/yyyy' }}.
        </p>
      </div>
    </div>



  </div>
  
  <div *ngIf="listOfDevisToPayAcompt?.length>0">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Pièce</th>
            <th>Prestation</th>
            <th>Prix  TTC</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfDevisToPayAcompt">
            <td>{{ data.ID }}</td>
            <td>{{ data.Date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ data.Piece?.Titre }}</td>
            <td><span *ngFor="let tache of data?.DevisTaches">{{ tache?.Travail?.Titre }}<br></span></td>
            <td>{{ (data.Prix ) | number:'1.2-2'}}€</td>
           
          </tr>
        </tbody>
    </table>
    <div >
      <div class="tot-pan">
      Total TTC : {{total_acompte | number:'1.2-2'}}€
    </div>
    <nz-divider></nz-divider>
    </div>
    
    <div class="total-panier-container" >
      <h2 class="center black bold font-site">VISITE DU TECHNICIEN</h2>
      <div>
        <p class="text-indicateur" *ngIf="!acompte_paye">
          La visite du technicien a été effectuée le {{ listOfDevisToPayAcompt[0]?.Visite?.Date | date:'dd/MM/yyyy' }}.
        </p>
        <p class="text-indicateur" *ngIf="acompte_paye">
          La visite du technicien a été faite. 
          Vous avez payé l'acompte de {{taux_acompte}}%, ce qui fait {{prix_acompte | number:'1.2-2'}}€.
          Les travaux pourrons démarrer bientôt.
        </p>
      </div>
  
      <h2 class="center black bold font-site">PAIEMENT DE L'ACOMPTE</h2>
      <div>
        <p class="text-indicateur" *ngIf="!acompte_paye">
          
          Afin de démarrer les travaux vous devez verser un acompte de {{taux_acompte}}% du montant total, soit {{prix_acompte | number:'1.2-2'}}€.
        </p>
        <p class="text-indicateur" *ngIf="acompte_paye">
          La visite du technicien a été faite. 
          Vous avez payé l'acompte de {{taux_acompte}}%, ce qui fait {{prix_acompte | number:'1.2-2'}}€.
          Les travaux pourrons démarrer bientôt.
        </p>
      </div>
      <div class="col-cards-btn">
  
        <div class="div-cards">
          <div class="image-container">
            <img _ngcontent-ng-c2419133293="" src="/assets/controle-qualite.svg">
            <span class="caption">Contrôle <br>de qualité</span>
        </div>          
        <div class="image-container">
          <img src="/assets/service-info.svg" alt="Service Info">
          <span class="caption">Service <br>Info</span>
      </div>
      
      <div class="image-container">
          <img src="/assets/paiement-securise.svg" alt="Paiement Sécurisé">
          <span class="caption">Paiement <br>Sécurisé</span>
      </div>
          <img src="/assets/card-visa.png" alt="">
          <img src="/assets/master-card.png" alt="">
          <img src="/assets/cb-card.png" alt="">
  
        </div>
  
        <div *ngIf="!acompte_paye">
          <a class="btn-site piece-btn" (click)="Check_login_and_send_mails_details_to_pay_acompte()"><b>Payer l'acompte</b></a>
        </div>
       
      </div>
    </div>
  </div>
  

 
</div>


<div class="center section-panier">
  <h2 class="center black bold font-site">{{res_titre}}</h2>
    <nz-result class="result-box"
      nzStatus="success" *ngIf="checkout_succeed"
      nzTitle="Votre paiement à été accepté !"
      nzSubTitle="Vous receverez les détails par mail."
    >
      
    </nz-result>

    <nz-result *ngIf="checkout_cancel" nzStatus="warning" nzTitle="Votre paiement à été annulé">
      
    </nz-result>
</div>