<div class="section-presentation flx-media">
    <div class="col-md-6 col1-presenta">
        <img class="img1-presenta" src="/assets/img2-q-somme-n.webp">
        <img class="img2-presenta" src="/assets/img-q-somme-n.webp">
    </div>
    <div class="col-md-6 col2-presenta">
      <div class="div-flx">
        <img class="img3-presenta" src="/assets/icon-titre.svg">
        <h1 class="txt1-presenta font-site">Nos Services de Rénovation</h1>
        <p class="txt2-presenta">HomeRen est votre partenaire de confiance pour tous vos projets de rénovation. Nous nous engageons à offrir des services de qualité supérieure pour transformer vos espaces de vie en véritables havres de paix. Avec une équipe d'experts passionnés, nous vous accompagnons à chaque étape de votre projet, de la conception à la réalisation.
          <br>  </p>
           <p>Nos Services Incluent : </p>
            <br>
            <div class="lst-serv">
              <p><fa-icon [icon]="faHammer" class="jaune mr-10"></fa-icon>Conseils décoration</p>
              <p><fa-icon [icon]="faHammer" class="jaune mr-10"></fa-icon>Etudes acoustiques</p>
              <p><fa-icon [icon]="faHammer" class="jaune mr-10"></fa-icon>Diagnostiques thermiques</p>
              <p><fa-icon [icon]="faHammer" class="jaune mr-10"></fa-icon>Etudes environnementales</p>
            </div>
            <br><br>
            <a class="btn-site" href="/">Demander mon devis</a>
          </div>
    </div>
 </div>
 <div class="bg-pieces">
  <div class="section-pieces">
     <div class="row1-q-s-n">
      <div class="col-md-4 col1-q-s-n">
         <img class="img3-presenta" src="/assets/icon-blanc.svg">
         <h2 class="txt1-pieces blanc font-site">Notre concept</h2>
         <p class="blanc fs-18">HomeRen est une entreprise de travaux et non un intermédiaire de mise en relation, nous répondons à tous types de projets, pas d'intermédiaire et un seul interlocuteur du début à la fin de votre projet.</p>
     </div>
     <div class="col-md-4 col1-q-s-n">
      <img class="img1-q-s-n" src="/assets/image-valeurs.webp">
  </div>
    </div>

     <div class="row2-q-s-n">
      <div class="col-md-4 col-q-s-n">
             <p class="noir fs-18 center">Intégrer les nouvelles technologies dans un secteur du bâtiment vieillissant</p>
     </div>
 
     <div class="col-md-4 col-q-s-n">
      <p class="noir fs-18 center">Mettre en oeuvre un process élaboré afin d'optimiser les coûts et les délais</p>
    </div>
    <div class="col-md-4 col-q-s-n">
      <p class="noir fs-18 center">Rendre plus fiable une industrie dont l'organisation est encore très artisanale</p>
    </div> 
    <div class="col-md-4 col-q-s-n">
      <p class="noir fs-18 center">Conserver un savoir faire de qualité avec du personnel hautement qualifié</p>
    </div> 
    <div class="col-md-4 col-q-s-n">
      <p class="noir fs-18 center">Apporter une totale transparence à nos clients</p>
    </div> 
    <div class="col-md-4 col-q-s-n">
      <p class="noir fs-18 center">Leur remettre après acceptation du devis un dossier technique complet</p>
    </div>     
  </div>

 

  <p class="blanc fs-18 center">Pour discuter de votre projet de rénovation, contactez-nous dès aujourd'hui ou demandez un devis en ligne.</p>
  <a class="btn-site piece-btn center" href="/">Devis en ligne</a>
  </div>
 </div>


<div class="section-trav">

  <div class="row1-q-s-n">     
    <div class="col-md-4 col1-q-s-n">
    <img class="img1-q-s-n" src="/assets/travaux.webp">
</div>
    <div class="col-md-4 col1-q-s-n col-trav">
       <img class="img3-presenta" src="/assets/icon-titre.svg">
       <h2 class="txt1-pieces jaune font-site">Quels travaux ?</h2>
       <p class="noir fs-18">Tous types de travaux de construction neuve, surélévation, rénovation, agencement, aménagements intérieurs, extérieurs, combles, entretiens.</p>
   </div>

  </div>
  <div class="row2-q-s-n">
    <div class="col-md-4 col-q-s-n-2">
           <p class="blanc fs-18 center">Petits travaux, gros travaux, réparations</p>
   </div>

   <div class="col-md-4 col-q-s-n-2">
    <p class="blanc fs-18 center">Plomberie sanitaire</p>
  </div>
  <div class="col-md-4 col-q-s-n-2">
    <p class="blanc fs-18 center">Peinture, sols, parquets</p>
  </div> 
  <div class="col-md-4 col-q-s-n-2">
    <p class="blanc fs-18 center">Electricité, alarmes, plomberie</p>
  </div> 
  <div class="col-md-4 col-q-s-n-2">
    <p class="blanc fs-18 center">Façades, ravalements, isolation, étanchéité, fenêtres, portes</p>
  </div> 
  <div class="col-md-4 col-q-s-n-2">
    <p class="blanc fs-18 center">Maçonnerie, cloisons, plâtrerie, carrelage, serrurerie, métallerie</p>
  </div> 
  <div class="col-md-4 col-q-s-n-2">
    <p class="blanc fs-18 center">Jardinage, voiries, clôtures, portails</p>
  </div> 
  <div class="col-md-4 col-q-s-n-2">
    <p class="blanc fs-18 center">Menuiseries intérieures, salles de bains, cuisines, placards, rangements, dressings</p>
  </div>     
</div>

</div>




 <div class="section-part-qsn flx-media dis-none">
  <div class="col-md-6 col1-part-qsn">
      <img class="img3-part-qsn" src="/assets/icon-titre-gris.svg">
      <h1 class="txt1-part-qsn font-site gris"> Devenez Partenaire de HomeRen </h1>
  </div>
    <div class="col-md-6 col2-part-qsn">
      <p class="txt2-part-qsn">Nous sommes à la recherche de partenaires passionnés par l'amélioration des espaces de vie et désireux de fournir des services exceptionnels à nos clients.</p>
      <a class="btn-site" href="/">Je postule</a>
    </div>
    <div class="col-md-6 col3-part-qsn">
      <img class="img-abs-part-qsn" src="/assets/image-partenaire-q-s-n.webp">
    </div>
  </div>

<div class="bg-engag">
  <div class="section-engag">
    <div class="col-md-4 col1-engag">
       <img class="img1-q-s-n" src="/assets/engagement.webp">
    </div>
    <div class="col-md-4 col2-engag">
       <img class="img3-presenta" src="/assets/icon-blanc.svg">
       <h2 class="txt1-pieces blanc font-site">Nos engagements</h2>
       <p class="blanc">Chez HomeRen, nous nous engageons à vous offrir des services de rénovation exceptionnels basés sur des valeurs fondamentales qui guident chaque projet que nous entreprenons.</p>
       <br>
       <div class="lst-serv">
        <p class="blanc"><i class="fa-solid fa-house-circle-check jaune mr-10"></i>Respecter le prix fixé</p>
        <p class="blanc"><i class="fa-solid fa-house-circle-check jaune mr-10"></i>Donner des informations claires</p>
        <p class="blanc"><i class="fa-solid fa-house-circle-check jaune mr-10"></i>Apporter tout le conseil nécessaire à la réalisation de votre projet</p>
        <p class="blanc"><i class="fa-solid fa-house-circle-check jaune mr-10"></i>Respecter nos délais</p>
        <p class="blanc"><i class="fa-solid fa-house-circle-check jaune mr-10"></i>Livrer des ouvrages de qualité</p>
        <p class="blanc"><i class="fa-solid fa-house-circle-check jaune mr-10"></i>Respecter les normes en vigueur</p>
        <p class="blanc"><i class="fa-solid fa-house-circle-check jaune mr-10"></i>Veiller à choisir les matériaux les moins polluants et les plus respectueux de l'environnement</p>
      </div>
   </div>
</div>
</div>

<div class="bg-phrase-dacc">
  <div class="section-phrase-dacc">
    <span class="txt1-sldr blanc fs-34 center">Des travaux de rénovation ?</span>
    <span class="txt2-sldr blanc fs-27 center"><strong>Réalisons-les ensemble !</strong> Transformez votre maison avec HOMEREN</span>
    <a class="btn-site ph-dacc" href="/">Devis en ligne</a>
 </div>
</div>

