           <form [formGroup]="posePlafondForm" (ngSubmit)="onPosePlafondSubmit()">

               <div >
                <div nz-row nzJustify="start" style="width: 100% !important;max-width: 100% !important;display: block !important;" >
                  <div class="mur-btn-div tooltip-srf">
                    <div style="margin-right:auto;text-align: left;" >
                      <span class="mur-ttl">Quel est l'état de votre plafond ?</span>
                    </div>

                    <a  nz-tooltip [nzTooltipTitle]="General" href="javascript:void(0)" class="pdf-icon">
                      <i class="fas fa-question-circle"></i>
                    </a>
                    <ng-template #General>
                      Pour plus d'informations, veuillez consulter :
                      <a [href]="assetsUrl + 'modele_general.pdf'" target="_blank" class="link-tooltip">PDF</a>
                    </ng-template>
                  </div>
                </div>
                
                <div nz-row nzJustify="start" style="width: 100% !important;max-width: 100% !important;display: block !important;" >
                   
                   <div nz-col nzSpan="12" class="" style="max-width: 100% !important;">
                     <!-- <label for="etat" class="etat-srf-ttl">État du surface: </label> -->
                     <nz-radio-group formControlName="etat" class="radio-flx-spc row-w">
                      <div *ngFor="let option of etat_des_surfaces">
                        <label nz-radio [nzValue]="option.ID + '-' + option.Label + '-' + option.Prix" style="padding-block: 10px;">
                          <span>{{ option.Label }}</span>
                        </label>
                      </div>
                    </nz-radio-group>
                    

                   </div>
                   <div *ngIf="isclicked && posePlafondForm.get('etat')?.invalid " class="error-message">
                    État des surfaces requis.
                    </div>
                 </div>
               </div>
             </form>