<h3>Pose de Plafond</h3>
            <form [formGroup]="posePlafondForm" (ngSubmit)="onPosePlafondSubmit()">

               <div >
                 <div nz-row nzJustify="start" >
                   
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="etat">État: </label>
                     <nz-radio-group formControlName="etat">
                      <label nz-radio nzValue="tres abimé">tres abimé</label>
                      <label nz-radio nzValue="abimé">abimé</label>
                      <label nz-radio nzValue="reprises partielles">reprises partielles</label>
                     
                    </nz-radio-group>
                     
                   </div>
                   
                 </div>
               </div>
               <button class="vald-btn" type="submit">Valider</button>
             </form>