
<form [formGroup]="posePortesForm" (ngSubmit)="onPosePortesSubmit()">
    <div formArrayName="portes">
        <div *ngFor="let porte of portes.controls; let i = index" [formGroupName]="i">
            Porte {{i+1}}
            <div  class="form-group" nz-row nzJustify="start">
        
                <div nz-col nzSpan="6" class="ant-col">
                    <label>Type de porte <span>*</span></label>
                    <select formControlName="type">
                    
                    <option value="Porte alveolaire simple">Porte alvéolaire simple</option>
                    <option value="Porte alveolaire double">Porte alvéolaire double</option>
                    <option value="Porte pleine double">Porte pleine double</option>
                    <option value="Porte pleine simple">Porte pleine simple</option>
                    <option value="Porte vitrée simple">Porte vitrée simple</option>
                    <option value="Porte vitrée double">Porte vitrée double</option>
                    </select> 
                </div>
               
                <div nz-col nzSpan="6" class="ant-col">
                    <label>Type de matériau <span>*</span></label>
                    <select formControlName="type2">
                    
                    <option value="A peindre">A peindre</option>
                    <option value="Stratifiée">Stratifiée</option>
                    <option value="Bois">Bois</option>
                    <option value="Autre">Autre</option>
                    </select>
                </div>
                <div nz-col nzSpan="6" class="ant-col">
                    <label>Type de porte <span>*</span></label>
                    <select formControlName="type3">
                    
                    <option value="Porte simple">Porte simple</option>
                    <option value="Porte double">Porte double</option>
                    </select>
                </div>
                <div nz-col nzSpan="6" class="ant-col">
                    <label>Finition <span>*</span></label>
                    <select formControlName="finition">
                    
                    <option value="Finition à peindre">Finition à peindre</option>
                    <option value="Finition stratifiée">Finition stratifiée</option>
                    <option value="Finition bois">Finition bois</option>
                    <option value="Autre">Autre</option>
                    </select>
                </div>
                <div nz-col nzSpan="12" class="ant-col">
                    <label>Informations complémentaires sur le type</label>
                    <textarea formControlName="infos_comp_type"></textarea>
                </div>
                <div nz-col nzSpan="12" class="ant-col">
                    <label>Informations complémentaires sur la finition</label>
                    <textarea formControlName="infos_comp_finition"></textarea>
                </div>
              </div>
        </div>
      
    </div>
    <button class="vald-btn" type="submit" >Valider</button>
  </form>
  