/* You can add global styles to this file, and also import other style files */
/* styles.css */
@font-face {
    font-family: 'MyFont';
    src: url('/assets/Sarpanch-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/Montserrat-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url('/assets/Montserrat-Bold.ttf') format("truetype");
}
:root {
--color1:#FFC736;
--color2:#555555;
--color-black:#000;
--color-white:#fff;
--fnt-fam-1: "redriver";
--fnt-fam-2: "Montserrat";
}
.txt-dec{text-decoration:underline;}
.fs-18{font-size: 18px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-13{font-size: 13px;}
.fs-25{font-size: 20px;font-weight: 500;margin-block: 30px;}
.fs-34{font-size: 43px;}
p.fs-30{font-size: 23px!important;font-weight: unset;}
.fs-27{font-size: 27px;}
.f-w-6{font-weight: 600;}
.f-w-7{font-weight: 700;}
.font-site{font-family: 'MyFont';}
.font-site2{font-family: 'Montserrat';}
.center{text-align: center !important;}
.blanc{color:var(--color-white) !important;}
.jaune{color:var(--color1);}
.gris{color:var(--color2);}
.upper{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}
h1{font-size: 43px; margin-block:0px;color:var(--color-black);text-transform: uppercase;}
h2{font-size: 35px;margin-block:0px;}
h3{font-size: 23px;margin-block:0px;}
h4{font-size: 20px;margin-bottom:10px;margin-top:0px;font-weight: 400;}
.mt-15{margin-top: 15px;}
.mt-18{margin-top: 17px;}
.mb-10{margin-bottom: 10px;}
.mr-10{margin-right: 10px;}
.mr-b-2{margin-bottom: 20px;}
.m-w{max-width: 400px;}
.m-w-p{max-width: 800px;margin:auto !important;}
.m-w-t-bar{max-width: 1000px;margin-inline:auto !important;}
p{margin-bottom: 0px;}
p, a, span, pre { font-family: 'Montserrat';font-size: 16px;}
h3 {font-family: 'Montserrat' !important;}
a{color:var(--color-black);}
a:hover{color:var(--color1);}
img{width: fit-content;max-width: 100%;}
.col-md-6{width:50%}
img{width: fit-content;max-width: 100%;}
.col-md-6{width:50%}
.dis-none{display: none !important;}
.bold{font-family: 'Montserrat-Bold' !important;}
.btn-site {
    background-color: var(--color-black);
    border: none;
    color: black;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'MyFont' !important;
  }
.btn-site:hover {
    background-color: var(--color2);
    color: var(--color-white);
  }
  .ant-checkbox:hover span.ant-checkbox-inner{border: 2px solid var(--color-white) !important;}
  .m-b-txt{margin-bottom: 30px;}
  label span, nz-form-label label{font-size: 13px !important;font-weight: 600;font-family: 'Montserrat';}
  .add-btn{padding: 0px 10px; background-color: var(--color2);height: 37px;cursor: pointer;margin-block: 8px !important;}
  .del-btn, .add-btn{padding: 0px 7px !important; color: #000;background-color: var(--color1)!important;height: 31px !important;cursor: pointer;margin-block: 0px !important;}
.add-btn:hover, .del-btn:hover{background-color: #000 !important;}
.w-100{width:100% !important;max-width:100% !important;}
.left{text-align: left !important;}
.vald-btn{margin-top:30px;cursor: pointer;}
.vald-btn, .add-btn{ width: fit-content;}
.btn-site.res-det{display: flex;width: fit-content;margin-top: 16px !important; margin: auto;background-color: var(--color1);color:var(--color-white);}
.btn-site.res-det:hover{background-color: var(--color2);}
/**************** phrase-dacc******************/
.section-phrase-dacc .fs-34 { font-weight: 600;line-height: 0.8;}
.bg-phrase-dacc{background-color: var(--color1);}
.section-phrase-dacc{display: flex; flex-direction: column; align-items: center;max-width: 1440px; margin: auto; padding: 4% 1%;gap: 30px;}
.btn-site.ph-dacc{background-color: var(--color-black); color:var(--color-white);}
.btn-site.ph-dacc:hover{background-color: var(--color2);}
.section-phrase-dacc{ gap: 15px !important;}
.fs-27 {font-size: 27px;}
.fs-34{ font-size: 43px;}
@media only screen and (max-width: 800px) {
    .section-phrase-dacc{ gap: 15px !important;padding: 20px;}
    .fs-27 {font-size: 20px;}
    .fs-34{ font-size: 39px;}
    .fs-40{ font-size: 30px;}
}
@media only screen and (max-width: 497px) {
    .fs-34 {font-size: 28px;}
    .section-phrase-dacc{padding: 20px 15px;}
}
/**************************** flx-devis *********************************/
.checkmark-overlay .anticon{color: rgb(255 255 255 / 85%)!important;font-size: 43px !important;}
.flx-radio-travaux .ant-radio-wrapper span:nth-child(2){
    width: 100% !important;
    max-width: 100%!important;
    text-align: left !important;
    font-size: 15px !important;
}
.flx-radio-travaux .ant-radio {width: 17px;}
.radio-flx-spc label span:nth-child(1){width: 17px;}
.ant-radio {margin-left:5px !important;}
.devis-content{width: 100%;}
.del-btn{width: fit-content;}
/*********** recap **********/
.recup-fin {
    text-align: left !important;
    display: flex;
    margin-bottom: 10px;
}
.recap-piece {
    font-size: 16px;
    text-align: left !important;
    font-weight: 900;
    color:var(--color-black);
    height: 33px;
    font-family: 'Montserrat-Bold'!important;
    margin-bottom: 14px;
    border-bottom: 1px solid var(--color1);
}
.recup-fin p{font-size: 14px !important;}
.recup-fin p:nth-child(2){margin-inline: 10px !important;}
.recap-div.devis-content {
    width: 72%;
    margin: auto;
}
.recup-mur-flx{
    display: grid;
    grid-template-columns: 2.1fr 8fr;
    gap: 30px;
    margin-bottom: 14px;
    border-bottom: 1px solid #e9e9e9;
}
.recap-last .recup-mur-flx:last-child{border-bottom: none;}
.recap-mur-ttl {
    color: var(--color-black);
    font-size: 16px;
    text-align: left !important;
    width: 100% !important;
    font-family: 'Montserrat-Bold';
    max-width: 100% !important;
    margin-bottom: 14px;
    border-bottom: 1px solid var(--color1);
}
label{font-weight: bolder !important;color:var(--color-black);font-size: 14px !important;}
.recup-mur-flx .mur-ttl{
    text-align: left !important;
    width: 100% !important;
    max-width: 100% !important;
    font-size: 15px !important;
    font-family: 'Montserrat-Bold' !important;
    color: var(--color-black) !important;
}
/*********************** splide-gallerie-realisations-details ******************************/
/* .splide__arrows.splide__arrows--ltr {
    position: absolute !important;
    top: unset !important;
    width: 104px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px !important;
    transform: translateY(0%) !important;
} */
.splide.splide-avis button.splide__arrow {
    background-color: transparent !important;
    font-size: 22px!important;
    transform: translateY(-30%)!important;
    width: 1em !important;
}
.galerie-piece .splide__arrow{background: transparent !important; width: 5em !important;height: 5em !important;} 
.galerie-piece .splide__arrow svg {fill: #000 !important; height: 4.2em !important; width: 4.2em !important;}
.galerie-piece .splide__arrow--prev { left: -4em !important;}
.galerie-piece .splide__arrow--next { right: -4em !important;}

.splide.splide-avis .splide__arrow svg {  fill: #fff !important;}
.splide.splide-avis { width: 97%;}
.splide.splide-avis .splide__pagination.splide__pagination--ltr{display: none !important;}
.splide__arrow:hover {background: var(--color1);}
#thumbnail-slider{height: 60px !important; min-height: 0px !important;}
@media screen and (max-width: 1112px) {
    .galerie-piece .splide__arrow--next { right: -1em !important;}
    .galerie-piece .splide__arrow--prev { left: -1em !important;}
}
@media screen and (max-width: 497px) {
.splide__arrows.splide__arrows--ltr { bottom: -70px !important;}
.splide.splide-avis button.splide__arrow {
    background-color: transparent !important;
    font-size: 22px!important;
    transform: translateY(-130%)!important;}
}
/*******************gal-pieces-details*********************/
.sec-gal-piece .splide__arrows.splide__arrows--ltr{display: none !important;}
.sec-gal-piece .splide__pagination { bottom: -3.5em !important;}
.sec-gal-piece .splide__pagination__page.is-active {background: var(--color1)!important;}
/***********************section-t-bar*************************/
.section-t-bar{
    background-position: center !important;
}
.section-t-bar {position: relative; }
.section-t-bar p, .section-t-bar h1, .btn-site{z-index: 2;}
.section-t-bar::before{position: absolute;content: "";
    height: 100%;width: 100%;background-color: #00000070;
    left: 0;right: 0;bottom:0;top:0;z-index: 1;}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after, .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
        background-color: var(--color1) !important;
}
.ant-radio-inner{
    border-color: var(--color1) !important;
    border-width: 1px!important;
}
.ant-radio-wrapper:hover  .ant-radio-inner{border-color: var(--color2) !important;}
.ant-radio-inner::after{background-color: var(--color1)!important;}
.ant-radio-wrapper:hover .ant-radio-inner::after{background-color: var(--color2)!important;}
.ant-radio-wrapper {float: right;}
.section-devis .ant-steps-icon {color: #bfbfbf !important;}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {font-weight: 700 !important;color: var(--color1) !important;}
.ant-steps-item-finish > .ant-steps-item-container svg{color: #ffc736 !important;}

.ant-btn, button {
    line-height: 0.5715;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 500;
    border:none !important;
    box-shadow: none;
    padding: 11px 15px !important;
    height: 46px;
    color: #fff;
    border-radius: 0px;
    background: var(--color2) !important;
  }
  button:hover{
    background: var(--color-black)!important;
    color: var(--color-white);
  }
  input, textarea{
    width: 100% !important;
    border: 1px solid var(--color1);
    border-radius: 2px;
}
.ant-col.ant-col.col-100-tc {grid-template-columns: 11fr 1fr !important;}
input:focus-visible, textarea:focus-visible {
    border: 1px solid var(--color2) !important; 
    outline: none; 
}
a.info-icon {
    text-align: center;
}
.ant-steps-item-description {
    font-size: 11px;
}
.ant-col-6{
    justify-content: center;
    width: 100% !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 5px;
    align-items: center !important;
    flex: 0% !important;
    margin: auto;
    text-align: center;
}
.mur-btn-div {
    width: 80%;
    margin-inline: auto; margin-bottom: 10px !important;
    grid-area: 5px;
    grid-template-columns: 2fr 1fr;
    display: grid; 
    align-items: center;
    justify-items: end;
    margin-bottom: 0px;
    margin-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color1);
}
.mur-btn-div.coll-100, .row-w-grid.ant-col.coll-100, .col-w-75.coll-100{width:100% !important; max-width: 100% !important;}
.nt-col-flx{display:flex !important;}
.eltrc-div .ant-col-12{ border-top: 1px solid #e9e9e9;}
input[type=checkbox] {width: 17px !important;height: 17px !important;}
.eltrc-div .ant-col-12 input[type=checkbox] {
    width: 17px !important;
    height: 17px !important;
    float: left;
    margin-right: auto;
    margin-left: 33%;
}
.radio-flx-spc div:last-child label, .plaf-dim .ant-col-6:last-child, .col-12-w .ant-col-12:last-child, .col-12-w .ant-col-24:last-child{border-bottom:none !important;}
.div-mur-gm{
    width: 60%;
    margin: auto;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 14px;
    border-bottom: 1px solid #ffc73661;}
.div-chauf-gm{
        width: 70%;
        margin: auto;
        text-align: center;
        margin-bottom: 0px;
        margin-top: 14px;
        border-bottom: 1px solid #ffc73661;}
.mur-ttl{
    text-align: left !important;
    width: 100% !important;
    max-width: 100% !important;
    font-size: 16px !important;
    font-family: 'Montserrat-Bold' !important;
    color: var(--color-black) !important;
}
.recp-flx{ display: flex; gap: 20px;  flex-direction: row;}
.ant-radio{
    padding-right: 8px !important;
    width: 24px !important;
}
label{font-family: 'Montserrat';font-weight: 600;}
.btn-suiv{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.plaf-dim .ant-col-6{
    padding: 12px 0px !important;
    /* border-bottom: 1px solid #E9E9E9; */
}

.steps-action{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
form label{
    text-align: left;
    width: 100% !important;
}
.devis-content p.ttl-dv-pc {
    margin-bottom: 4px;
}
.plaf-dim input{ border:1px solid var(--color1)!important;border-radius:2px !important;}
.plaf-dim label{font-size: 13px !important;font-family: "Montserrat"; margin-bottom: 10px;}
.flx-radio-travaux{
    width: 90% !important;
}
.flx-radio-travaux .ant-radio-wrapper{
    float: unset;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid #55555538;
    padding: 15px 10px;
    filter:none !important;
}

.tooltip-srf .radio-flx-spc div { grid-template-columns: 6fr 0.5fr !important;}
.tooltip-srf i.fas.fa-question-circle {
    color: var(--color1) !important;
    font-size: 20px !important;
    margin-top: 0px !important;
    margin-left:6px !important;
}
.link-tooltip{color:var(--color1);}
.link-tooltip:hover{color:var(--color-white);text-decoration: underline;}
.ant-col.ant-col-6{max-width: 100%;}
.error-message{color: red; width: 100% !important;}
.div-btn-flx-frm button.ant-btn.ant-btn-default{height: 42px !important; width: fit-content !important;}
.ant-collapse-header-text{
    color: var(--color1) !important; 
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600 !important;
}
nz-collapse.ant-collapse {margin-bottom: 10px !important;}
.ng-untouched.ng-pristine.ng-invalid.ng-star-inserted svg{color: #ffc736 !important;}
.div-elec span {text-align: left !important;}
h4.h4-demol{
    font-size: 19px !important;
    margin-bottom: 10px;
    margin-top: 25px;
    font-weight: 400;
}
input[type="checkbox"] {
    border: none!important;
    appearance: none !important;
    cursor: pointer;
    width: 17px; 
    height: 17px;
    background-color:unset; 
}

input[type="checkbox"]:checked {
    background-color: var(--color1) !important;
    border-color: var(--color1) !important;
    
}
input[type="checkbox"]:checked::before {
    content: '\2713';
    color: white; 
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span.ant-radio + * {padding-left: 0px !important;}
/****************** cuisine ***********************/
.cuisine-flx {flex-direction: column !important;}
.cuisine-div form label{
    text-align: left;
    width: 100% !important;
}
.gam-cuis form label{
    text-align: left;
    width: 100% !important;
}
.gam-cuis .etat-srf{
    justify-content: center;
    max-width: 60%;
    width: 50%;
    padding: 12px 0px !important;
    border-bottom: 1px solid #E9E9E9 !important;
    display: grid !important;
    align-items: center !important;
    gap: 8px;
    padding-inline: 0px !important;
    margin: auto;
    grid-template-columns: 2fr 3fr 0.2fr;
    justify-items: end;
}
.gam-cuis .div-chauf-gm{width: 50%;}
.w-lab-q{grid-template-columns: 5fr 0.3fr 0.2fr !important;}

/******************** page connexion ***********************/
.page-form .ant-select:not(.ant-select-customize-input) .ant-select-selector {border-color: #656565 !important;border-top: 0px !important;border-right: 0px !important;border-left: 0px !important;box-shadow: none!important;}
.page-form .ant-select:hover .ant-select-selector {border-color: var(--color1) !important;}
.page-form .ant-select-focused .ant-select-selector { border-color: var(--color1)!important; }
.page-form .ant-checkbox {border: 2px solid var(--color1) !important;border-radius: 5px !important; }
.page-form .ant-checkbox:hover { border-color:var(--color2)!important;}
.page-form .ant-checkbox-checked .ant-checkbox-inner {border: none !important;background-color: var(--color2) !important; border-color: var(--color-white) !important; }
.page-form .ant-input:focus-visible{border-width: 0px 0px 1px 0px !important;border-color:var(--color1)!important;}

.section-connexion input{border-bottom-color: var(--color1) !important;}
.ant-modal{
    width: 30% !important;
    height: 89%!important;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 0px !important;
    border-bottom: 1px solid #000 !important;}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-color: var(--color2);
        box-shadow:none !important;
        border-right-width: 0px !important;
}
.ant-modal-content {padding: 20px 20px;}
.ant-modal-content .ng-star-inserted {text-align: left !important; font-family: 'Montserrat-bold'; padding: 0px !important; background: transparent !important;border-bottom: none !important; border-radius: 0px !important;}
button.ant-btn.ng-star-inserted span{color:var(--color-white) !important;}
button.ant-btn.ng-star-inserted:hover { background-color: var(--color2);}
.ant-modal-close:hover{ background-color: transparent;}
.ant-modal-close-icon{color:var(--color2) !important;}
.ant-modal-close:hover .ant-modal-close-icon{color:var(--color1) !important;}
@media screen and (max-width: 1440px) {
.ant-modal{width: 45% !important;}
}
@media screen and (max-width: 800px) {
    .ant-modal{width: 60% !important;}
}
@media screen and (max-width: 497px) {
    .ant-modal .ant-col-sm-14 {max-width: 100%;}
    .ant-modal{width: 90% !important;}
}
@media screen and (max-width: 320px) {
.ant-modal-footer button{padding: 11px 10px !important;}

}
.col-6-w .etat-srf.tooltip-srf.ant-col.ant-col-6, .col-6-w .ant-col.ant-col-6{grid-template-columns: 2fr 1fr 0.5fr !important;}
.mdp-oubli span{color: var(--color2);}
.mdp-oubli:hover span{color: var(--color-black);}
.cree-btn{font-weight: 700;color:var(--color-black) !important;}
.cree-btn:hover{color:var(--color2) !important;}


/**********************************************************************************************************************************************************************************************************************************************/
/*************************************************************************************************/
.ant-steps-item.ant-steps-item-active .ant-steps-item-title, .ant-steps-item.ant-steps-item-active svg{
    color: var(--color-black) !important;
    font-weight: bolder;
}
.step-description p {text-align: center !important;}
.step-description {max-width: 867px !important;}
button.ant-btn.btn-underline.ant-btn-default{background-color: transparent!important;color: var(--color2)!important;border-bottom: 2px solid var(--color2)!important;padding: 0px !important; height: 26px;}
button.ant-btn.btn-underline.ant-btn-default span{color: var(--color2)!important;}
button.ant-btn.btn-underline.ant-btn-default:hover, button.ant-btn.btn-underline.ant-btn-default:hover span{color: var(--color1)!important;border-color: var(--color1) !important;}

.div-btn-prect .btn-prect{ background-color: var(--color-black)!important;padding: 8px !important;color: var(--color-white)!important;height: auto !important;}
.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {padding-block: 0px !important;padding-left: 15px !important; background-color: white !important;text-align: left !important;}
.ant-collapse { border: 0px !important;}
.div-btn-prect .btn-prect:hover{background-color: #555555 !important;}
/**********************************************************************************/
.row-w-collapse .ant-collapse > .ant-collapse-item > .ant-collapse-header{flex-direction: none !important;}
.row-w-collapse{max-width: 80% !important;margin:auto;background: #555555 !important;}
.row-w-collapse .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header{background-color: #555555 !important;}
.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header{padding-block: 0px !important;
padding-left: 15px !important;
background-color: #555555 !important;
padding: 8px 15px !important;
text-align: left !important;}
.ant-collapse > .ant-collapse-item { border-bottom: none !important;}
.row-w-collapse .ant-collapse-header-text {
    color: var(--color-white) !important;
    font-family: "Montserrat-Bold";
    font-size: 18px;
}
.ant-collapse-header label span{margin-top: 2px !important;}
.ant-collapse-header .ant-checkbox-inner{background-color: #555 !important; border: 2px solid #fff !important; border-radius:2px !important;}
/************************************************************************/
.row-w{width: 80% !important;margin-left: auto !important;margin-right: auto !important;}
.plaf-dim .ant-row{
    width: 80% !important;
    margin: auto !important;
    display: grid !important;
    gap:0px 30px !important;
    grid-template-columns: 1fr 1fr!important;
    align-items: center !important;
}
.row-w-grid.ant-col {
        padding:12px 0px !important;
        max-width: 81% !important;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 3.1fr;
        align-items: start;
        justify-items: start;
}


.row-w-grid4.ant-col {
    padding:12px 0px !important;
    max-width: 80% !important;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start !important;
    align-items: start !important;
}
.mur-bg-div{
    width: 80%;
    margin:auto;
    color: var(--color-white) !important;
    font-family: "Montserrat-Bold";
    font-size: 18px;
    padding-block: 0px !important;
    color:#fff !important;
    padding-left: 15px !important;
    background-color: #555555 !important;
    padding: 8px 15px !important;
    text-align: left !important;}
.mur-btn-div.coll-100, .row-w-grid.ant-col.coll-100, .col-w-75.coll-100, .ant-col-flx.coll-100{width:100% !important; max-width: 100% !important;}
.flx-radio-row{
    display: grid;
    grid-template-columns:repeat(4, auto);
    gap: 13px;
    align-items: center !important;padding-left: 0px;
}
.flx-radio-row1{
    display: grid;
    grid-template-columns:repeat(1, auto);
    gap: 13px;
    align-items: center !important;
}
.col-w-75{max-width: 80% !important; display: flex; justify-content: flex-end; margin: auto;}
.col-add-prt{max-width: 80% !important; display: flex; justify-content: center; margin: auto;}
.col-del-prt{max-width: 100% !important; display: flex; justify-content: flex-end; margin: auto;}
.col-del-prt button{
    margin-top: 10px !important;
    padding: 0px 4px !important;
    font-size: 12px !important;
    height: 28px !important;}
.add-btn{margin-top:10px !important;margin-bottom:10px !important;}
[nz-radio] {  line-height: 17px !important;}
.ant-collapse-content > .ant-collapse-content-box { padding: 0px 16px !important;}
.steps-content{ align-items: center !important;}


.flx-radio-row1{ display:grid;grid-template-columns: repeat(1, auto)!important; gap: 10px;}
.flx-radio-row2{ display:grid;grid-template-columns: repeat(2, auto)!important; gap: 10px;padding-left: 0px;}
.flx-radio-row2-w{ display:grid;grid-template-columns: 1fr 1fr!important; gap: 10px;align-items: center;}
.flx-radio-row3{ display:grid;grid-template-columns: 1fr 1fr 1fr!important; gap: 10px;}
.flx-radio-row-col4{ display:grid;grid-template-columns: 1fr 1fr 1fr 1fr!important; gap: 10px;}
.flx-radio-row-3{ display:grid;grid-template-columns: 1fr 1fr 1fr!important; gap: 10px;padding-left: 8px;}
.flx-radio-row-4 { display: grid; grid-template-columns: 1.1fr 1fr 1fr !important; gap: 10px;}
.flx-radio-row3.gap1{gap:1px !important;}
.row-w-grid9.ant-col {
    padding:12px 0px !important;
    max-width: 80% !important;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: start;
    justify-items: start;
}


.row-w-grid-96.ant-col {max-width: 96% !important;justify-items: start !important;align-items: start !important;}
.row-w-grid1.ant-col {
    padding:12px 0px !important;
    max-width: 100% !important;
    width: 100% !important;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-items: start !important;
    align-items: start !important;}
.row-w-grid-11{
    max-width: 100% !important;
    width: 100% !important;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-items: start !important;
    align-items: start !important;
}
.row-w-grid14.ant-col{
    padding: 12px 0px !important;
    max-width: 100% !important;
    width: 100% !important;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 5fr;
    justify-items: start !important;
    align-items: start !important;
}
.row-w-grid3.ant-col {
    padding:12px 0px !important;
    max-width: 100% !important;
    width: 100% !important;
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    justify-items: start !important;
   /* align-items: center !important;*/}
.row-w-grid5.ant-col {
        padding: 12px 0px !important;
        max-width: 100% !important;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        justify-items: start !important;
        align-items: start !important;
        justify-content: center;
        align-content: space-evenly;
}
.row-w-grid6.ant-col {
    padding: 12px 0px !important;
    max-width: 100% !important;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: start !important;
    align-items: center !important;
    justify-content: center;
    align-content: space-evenly;
}
.flx-radio-row4 {
    display: grid;
    grid-template-columns: 2fr 1fr !important;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.brdr-bt{border-bottom: 1px solid var(--color2);}
.div-ttl-gris{    
        text-align: left;
        width: 100%;
        margin: auto;
        font-size: 16px;
        background-color: var(--color2);
        padding: 3px 5px;}
.div-ttl-gris label{color: var(--color-white);font-family:'Montserrat-Bold' !important;}

.renov-elec-div {
    width: 80%;
    margin-inline: auto;
    margin-bottom: 10px !important;
    grid-area: 5px;
    grid-template-columns: 1fr;
    display: grid;
    align-items: center;
    justify-items: end;
    margin-bottom: 0px;
    margin-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color1);
}
.div-sol .flx-radio-row2{padding-left: 0px !important;}
.rd-grp-w{width: 80% !important;max-width: 100% !important;}
.w-80{width: 80% !important;max-width: 100% !important;margin: auto !important;}
.row-w-grid3.ant-col nz-radio-group label{padding-bottom:10px;}
.sidebyside{display:flex;align-items: center !important;justify-content: center !important;}
.ant-steps-item-custom > .ant-steps-item-container > .ant-steps-item-icon > .ant-steps-icon {line-height: 14px !important;}

.total-panier-container .btn-site{color: var(--color-black)!important;}
.steps-content input:focus{border: 1px solid var(--color1)!important;}
.section-panier td span, .section-panier td{font-family: 'Montserrat' !important; font-size: 14px !important;}
.section-panier th{font-family: 'Montserrat-bold' !important; font-size: 15px !important;font-weight: 700 !important;}
.div-btn-prect .btn-prect {height: 29px !important;}

/********************************* style-popup **************************************************/
.login-form .ant-input-affix-wrapper{border: 1px solid var(--color1) !important;}
.login-form .ant-modal-body{padding:0px !important;}
.login-form .ant-input-affix-wrapper-focused{border-bottom: 1px solid var(--color2) !important;box-shadow: none !important;}

.ant-modal-close, .ant-modal-close:hover{background-color: transparent !important;}
input:focus-visible, textarea:focus-visible {border: 0px !important;}
.form-devis-pop .ant-input-affix-wrapper-focused{box-shadow: none !important; text-align: left !important;}
.ant-checkbox-checked .ant-checkbox-inner {background-color: var(--color1)!important;border-color: var(--color1) !important;}
.login-form-margin{margin-bottom:18px !important;display: flex;flex-direction: column; width: 100%; align-content: flex-end;flex-wrap: wrap;}

.form-devis-pop .ant-modal-body{padding-inline: 0px !important;}
.form-devis-pop .ant-row {justify-content: center !important;}
.form-devis-pop .ant-col-offset-6 { margin-left: 0% !important;}
.ant-modal .ant-col-sm-6 {max-width: 100% !important;width: 100% !important; flex: 0 0 50% !important;}
.form-devis-pop .ant-input {border-bottom: 1px solid var(--color1) !important;border-left:0px !important;border-right:0px !important;border-top:0px !important;}
.form-devis-pop .ant-form-item { margin-bottom: 7px !important;}
.form-devis-pop .ant-input:focus{box-shadow: none !important;}
.form-cnx-pop .ant-input:focus{border-bottom: 1px solid var(--color2) !important;}
.form-cnx-ppup nz-alert .ant-alert-content{padding: 13px !important; border-bottom: 1px !important; text-align: center !important;}
.form-cnx-ppup nz-alert .ant-alert-message{font-size: 14px !important;font-family: "Montserrat" !important;}
.form-cnx-ppup nz-alert.custom-success-alert .ant-alert-success {border: 1px solid #52bdf5!important;}
.btn-recp-mdp span{font-family: "Montserrat" !important;}

/*************************************************************************************************/
.ant-modal-footer {
    display: none !important;
}
.flx-line.ng-star-inserted {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.see-gamme-link{
    display: inline-block;
    font-size: 13px;
    color: #FFC736;
}
.see-gamme-link:hover{
    color: #000000;
}
.footer-bg svg.svg-inline--fa.fa-location-dot {
    width: 12.75px !important;
    height: 17px !important;
}
.flex-see-gamme{display:flex;flex-direction: row;}

.login-form-pup .ant-form-item-control-input { min-height: auto !important;}
.login-form-pup .ant-col-offset-2 { margin-left: 0% !important;}
/*************************** Responsive ********************************/
@media only screen and (max-width: 1024px) {
.ant-steps-item-title { font-size: 12px !important;}
}

@media only screen and (max-width: 1100px) {
    .steps-content, .div-btn-prect { width: 95% !important;}
    
    }
    
    @media screen and (max-width: 800px) {
        .row-w { width: 96% !important;}
        .mur-bg-div {width: 96%;}
        .div-btn-flx-frm .ant-col-md-20 {max-width: 100%;}
        .ant-col-6, .mur-btn-div, .ant-col-12, .div-mur-gm {max-width: 70% !important;width: 70% !important;}
        .ant-steps-item-content {display: none !important;} 
        .col-md-6{width:100%;padding: 0px !important;}
        h1{font-size: 34px !important;}
        h2{font-size: 30px;}
        h3{font-size: 22px;}
        h4{font-size: 21px;}
        .fs-27 {font-size: 20px;}
        .fs-34{ font-size: 39px;}
        .col-md-6{width:100%;padding: 0px;}
        .eq-h-piece{height: auto !important;}
        p.fs-30 { font-size: 22px !important;}
        .m-w, .m-w-p{max-width: 100%;}
        .div-btn-flx-frm{display: grid !important;grid-template-columns: 1fr !important;}
        .recap-div.devis-content {width: 87%;}
        .ant-col-6, .mur-btn-div, .ant-col-12, .col-w-75, .div-mur-gm, .row-w-collapse, .row-w-grid.ant-col, .plaf-dim .ant-row, .row-w-grid.ant-col, .row-w-grid4.ant-col, .row-w-grid9.ant-col, .col-add-prt{max-width: 100% !important; width: 100% !important; }
        nz-collapse.ant-collapse .ant-row{width: 100% !important;}
        .rd-grp-w{width: 92% !important;}
        .w-80{width: 95% !important;margin: auto!important;}
        .row-w-grid3.ant-col, .flx-radio-row2{grid-template-columns: 1fr !important;}
        .renov-elec-div{width: 95% !important;}
        .flx-radio-row2-w {padding-left: 10px;}


    }
    @media screen and (max-width: 600px) {
        .recap-piece { height: auto;}
        /*.plaf-dim .ant-col-6, .plaf-dim .ant-col, .etat-srf, .col-gm, .recap-div.devis-content{width: 95% !important;max-width: 100% !important;gap: 4px !important; text-align: left !important;}*/
        .plaf-dim .ant-col{text-align: left;}
        .mur-btn-div, .div-mur-gm, .div-chauf-gm, .renov-elec-div{max-width: 100% !important; width: 95% !important;}
        .ant-col[_ngcontent-ng-c182946846] {max-width: 100% !important;}
        .ant-col-6 {max-width: 100% !important;width: 100% !important;}
        .gam-cuis .div-chauf-gm{width: 100%;}
        .w-lab-q {grid-template-columns: 3fr 0.3fr 0.2fr !important;}
        .cl-rp-12{width:100% !important;max-width:100% !important;}
        .step-description {max-width: 100%!important;}
        .plaf-dim .ant-row {gap: 10px !important;}
        .flx-radio-row { grid-template-columns: repeat(2, auto) !important; gap: 0px 10px !important;}
        .row-w-grid.ant-col { justify-items: stretch !important; align-items: start !important;}
        .row-w-grid6.ant-col{grid-template-columns: 1fr !important;}
        .renov-elec.plaf-dim .ant-collapse .ant-row {gap: 12px !important;}

    }
    @media screen and (max-width: 497px) {
    .ant-modal-body.ng-tns-c2116847144-2{ padding:0px !important; }
    .plaf-dim label { margin-bottom: 0px;}
    .ant-radio {  padding-right: 6px !important;}
    .recp-flx{flex-direction: column;}
    .flx-radio-row3.gap1{gap: 10px !important;}
   
    .flex-see-gamme { flex-direction: column !important; gap: 7px;margin-top:9px;}
    
    .ant-col-6 {grid-template-columns: 1fr !important;}
    .mur-bg-div {width: 100%;}
    .recup-fin {text-align: center; grid-template-columns: 3fr 1fr 3fr;}
    .recup-fin p:nth-child(1) { float: left; text-align: left;}
    .recup-mur-flx, .flx-radio-row3, .flx-radio-row-col4 {grid-template-columns: 1fr; gap: 10px;}
    .fs-34 {font-size: 28px;}
    h1{font-size: 32px !important;}
    .tooltip-srf.ant-col.ant-col-6 { width: 100%;}
    .tooltip-srf.ant-col.ant-col-6 span {text-align: left;}
    .div-btn-flx-frm{grid-template-columns: 1fr !important;}
    .ant-col.ant-col-6 {flex-direction: row !important;  gap: 5px;}
    .ttl-mob .mur-ttl{font-size: 14px !important;}
    .radio-flx-spc{width: 100% !important;}
    .recup-mur-flx .vide{display: none;}
    .col-6-w .etat-srf.tooltip-srf.ant-col.ant-col-6, .col-6-w .ant-col.ant-col-6{grid-template-columns: 2fr 1fr 0.5fr !important;}
    .ant-col-6, .mur-btn-div, .ant-col-12, .col-w-75, .div-mur-gm, .row-w-collapse, .row-w-grid.ant-col, .plaf-dim .ant-row, .row-w-grid.ant-col, .plaf-dim .ant-col-6, .plaf-dim .ant-col, .etat-srf, .col-gm, .recap-div.devis-content { padding-inline: 0px !important;width: 100% !important;}
    .plaf-dim .ant-row, .row-w-grid1.ant-col, .row-w-grid14.ant-col { grid-template-columns: 1fr !important;gap:0px !important;}
    form label {text-align: left !important;}
    .row-w-grid.ant-col, .row-w-grid4.ant-col, .row-w-grid5.ant-col, .row-w-grid9.ant-col {grid-template-columns: 1fr;}
    .flx-radio-row, .flx-radio-row-3, .flx-radio-row2-w, .flx-radio-row1, .flx-radio-row-4{grid-template-columns: 1fr!important; padding-left: 9px !important; gap: 12px 10px !important;}
    .flx-radio-row3, .flx-radio-row-col4 {grid-template-columns: 1fr 1fr !important; }
    .div-sol .row-w-grid1 .ant-radio-wrapper{padding-left: 10px;}


    }

    @media screen and (max-width: 375px) {
    .ant-col-6{flex-direction: column;}
    .plaf-dim form label, .plaf-dim input#image{ width: 100%;}
    .recup-fin {
        text-align: left;
        float: left;
        width: 100%;
        gap: 17px !important;
        display: flex !important;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    /* .plaf-dim input{ width: 100% !important;} */
    .del-btn{float: none;  margin: 0px 0px !important;}
    form label{text-align: start !important;}
    .recap-div.devis-content { display: flex;flex-direction: column !important;}
    .recup-fin {gap: 1px !important;}
    form label{width: 100% !important;}
    .ant-collapse-header-text { font-size: 13px;}
    .plaf-dim .ant-col-6, .plaf-dim .ant-col, .etat-srf, .col-gm, .recap-div.devis-content { flex-direction: column !important;}
    .row-w-grid.ant-col, .flx-radio-row2-w, .flx-radio-row2, .flx-radio-row3, .flx-radio-row-col4 {grid-template-columns: 1fr !important; }
    [nz-radio]{height: auto !important;}
    .sol-etat nz-radio-group{padding-left: 8px !important;}



}
@media screen and (max-width: 320px) {
    .btn-suiv{padding: 11px 104px !important;}
    .recap-div p{font-size:13px !important;}
    .ttl-dv-pc { font-size: 18px !important; }
    h2 { font-size: 23px;}
    .cuisine-div .add-btn { padding: 0px 0px; height: 51px;line-height: 1.5;}
    .mur-ttl { font-size: 14px !important;}
    .radio-flx-spc div{gap: 8px !important;}
    .ant-col-6 { display: flex !important;}
    .ant-col.col-100-tc{ grid-template-columns: 1fr !important;}
    .steps-content{ padding: 10px !important;}
    button .icon-btn{display:none !important; }
    .see-gamme-link{margin-left: 0px;}
}
/******************************* fin *********************************************/