<div class="recap-div devis-content">
    <span class="recup-fin recap-piece">Pose de revêtements muraux - {{selectedPiece.Titre}}</span>
    <div *ngFor="let dimmur of poseMursForm.formulaire['dimensions-pose-murs'].murs; let i = index" class="recup-mur-flx">
    <span class="mur-ttl">Mur {{i+1}}</span>
    <div>
    <span class="recup-fin"><p>Hauteur</p><p>:</p><p>{{dimmur.hauteur}} cm</p></span>
    <span class="recup-fin"><p>Largeur</p><p>:</p><p>{{dimmur.largeur}} cm</p></span>
    <span class="recup-fin"><p>Longueur</p><p>:</p><p>{{dimmur.longueur}} cm</p></span>
    <span class="recup-fin"><p>Surface</p><p>:</p><p>{{dimmur.surface}} m²</p></span>
    <span class="recup-fin"><p>État des surfaces</p><p>:</p><p>{{poseMursForm.formulaire['etat-surfaces-pose-murs'].murs[i].etat}} </p></span>
    <span class="recup-fin" *ngIf="poseMursForm.formulaire['etat-surfaces-pose-murs'].murs[i].typedepose"><p>Dépose</p><p>:</p><p>{{poseMursForm.formulaire['etat-surfaces-pose-murs'].murs[i].typedepose}} </p></span>
    <span class="recup-fin" ><p>Gamme</p><p>:</p><p>{{gammes[i]?.Label}} </p></span>
    </div>
</div>
</div>
