<div class="sol-etat">
            <form [formGroup]="poseSolForm" (ngSubmit)="onPoseSolSubmit()">
               <div nz-row nzJustify="start" style="width: 100% !important;max-width: 100% !important;display: block !important;" >
                  
                  <div nz-col nzSpan="12" class="" style="max-width: 100% !important;">
                     <!-- <label for="etat">État du sol: </label> -->
                     <nz-radio-group formControlName="etat" class="radio-flx-spc">
                        <div>
                          <label nz-radio nzValue="Bon" style="padding-block: 10px;">
                            <span>Bon : grattage, réagreage</span>
                          </label>
                         
                        </div>
                        
                        <div>
                          <label nz-radio nzValue="abimé" style="padding-block: 10px;">
                            <span>Abimé :  rebouchage, réparation de fissures, réagreage</span>
                          </label>
                         
                        </div>
                        
                        <div>
                          <label nz-radio nzValue="Très abimé" style="padding-block: 10px;">
                            <span>Très abimé :  rebouchage, réparation de fissures, réagreage fibré</span>
                          </label>
                          
                        </div>


                        <div>
                          <label nz-radio nzValue="Rattrapage de niveau" style="padding-block: 10px;">
                            <span>Rattrapage de niveau : chape</span>
                          </label>
                          
                        </div>
                      </nz-radio-group>



                     <div *ngIf="isclicked && poseSolForm.get('etat')?.invalid " class="error-message">
                        État des surfaces requis.
                      </div>
                   </div>
                 
               
                  
               </div>
              
             </form>
</div>