<div class="center section-panier">
    <h1 class="center black font-site">VOS PAIEMENTS</h1>
    <ul class="projects-list">
        

        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Titre</th>
              <th>Projet</th>
              <th>Prix</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listOfCurrentpaiements">
              <td>{{ data.ID }}</td>
              <td>{{ data.Date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
              <td>{{ data.Titre }}</td>
              <td>Projet  HR-{{currentYear}}-{{ data.ProjetID }}</td>
              <td>{{ (data.Montant ) | number:'1.2-2'}}€</td>
              <td>
                    <span *ngIf="data.Status">Payé</span>
                    <span *ngIf="!data.Status">Non payé</span>
              </td>
              <td>
                <a *ngIf="data.Lien && !data.Status" [href]="data.Lien" target="_blank" class="pay_button">Payer</a>
                <button class="pay_button"
                *ngIf="data.ReferenceVirement && !data.Status"
                (click)="copy_ref(data.ReferenceVirement)"
                >
                {{ copiedRef === data.ReferenceVirement 
                    ? 'Référence copiée ✔' 
                    : 'Copier la référence de virement' }}
                </button>
              </td>
            </tr>
          </tbody>
      </table>
    </ul>
</div>