<div  class="recap-div devis-content">
    <span class="recup-fin recap-piece">{{selectedPiece.Titre}} - Rénovation électrique complète</span>
    <span class="recup-fin"><p>Surface de la pièce</p><p>:</p><p>{{gamme.surface}} m²</p></span>
    <span class="recup-fin"><p>Rénovation conforme à la norme C15100 </p><p>:</p><p>{{get_label(rcn)}}</p></span>
    <span class="recup-fin"><p>Mise en sécurité </p><p>:</p><p>{{get_label(mes)}}</p></span>

    <span class="recup-fin"><p>Y-a-t-il un chauffage électrique ?</p><p>:</p><p>{{get_label(chauffage_exist)}}</p></span>
    <span class="recup-fin" *ngIf="chauffage_exist"><p>Quantité de chauffage</p><p>:</p><p>{{gamme.quantite_chauffage}}</p></span>
    

    
</div>