<div class="plaf-dim">
  <form [formGroup]="posePortesForm" (ngSubmit)="onPosePortesSubmit()">
    <div formArrayName="portes" >
      <div class="mur-btn-div grid-1">
        <div style="margin-right:auto;text-align: left;">
          <span class="mur-ttl">Renseignez les caractéristiques de vos nouvelles portes</span>
        </div>

      </div>

      <div *ngFor="let porte of portes.controls; let i = index" [formGroupName]="i" class="bg-light-gray row-w">
       


        <div *ngIf="isclicked && posePortesForm" class="error-message">
          <div *ngIf="isclicked && portes.controls[i].get('type_porte')?.invalid" class="error-message">
            Type de porte requis.
          </div>
          <div *ngIf="isclicked && portes.controls[i].get('nature_porte')?.invalid" class="error-message">
            La nature de la porte est requise.
          </div>
          <div *ngIf="isclicked && portes.controls[i].get('gamme')?.invalid" class="error-message">
            Gamme requise.
          </div>
        </div>


        <div class="form-group" nz-col nzJustify="start" class="">
          <!-- Type de porte -->
          
          <div  nz-col class="row-w-grid5" style="padding: 4px 0px !important;">
            <div class="">
              <label class=""><u>Type et largeur de la porte {{ i + 1 }}</u><span class="error-message">*</span></label>
            </div>
            </div>
            <nz-radio-group formControlName="type_porte" style="display:block ;margin: auto;text-align: center;">
            <div  nz-col class="row-w-grid5" style="padding: 4px 0px !important;">
              <div class="">
                <label class="">
                  Portes simple :
                </label> 
              </div>
              <div class="flx-radio-row3">
              <div *ngFor="let option of types_de_porte_simples">
                <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label">
                   {{ option.Label }} cm
                </label>
                <!--<a nz-tooltip [nzTooltipTitle]="tooltip_type_porte" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>-->
                <ng-template #tooltip_type_porte>
                  Type: {{ option.Label }}<br>
                  Pour plus d'informations, veuillez consulter :
                  <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                </ng-template>
              </div>
              </div>
             </div>


             <div  nz-col class="row-w-grid5" style="padding: 4px 0px !important;">
              <div class="">
                <label class="">
                  Portes double :
                </label> 
              </div>
              <div class="flx-radio-row3" style="gap: 1px !important;">
              <div *ngFor="let option of types_de_porte_doubles">
              <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label">
                {{ option.Label }} cm
              </label>
              <!--<a nz-tooltip [nzTooltipTitle]="tooltip_type_porte" href="javascript:void(0)" class="info-icon">
                <i class="far fa-question-circle"></i>
              </a>-->
              <ng-template #tooltip_type_porte>
                Type: {{ option.Label }}<br>
                Pour plus d'informations, veuillez consulter :
                <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
              </ng-template>
            </div>
           </div>
           </div>

            <div  nz-col class="row-w-grid5" style="padding: 4px 0px 17px 0px !important;">
              <div class="">
                <label class="">
                  Portes coulissante :
                </label> 
              </div>
              <div class="flx-radio-row3">
              <div *ngFor="let option of types_de_porte_coulissantes">
                <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label">
                  {{ option.Label }} cm
                </label>
                <!--<a nz-tooltip [nzTooltipTitle]="tooltip_type_porte" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>-->
                <ng-template #tooltip_type_porte>
                  Type: {{ option.Label }}<br>
                  Pour plus d'informations, veuillez consulter :
                  <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                </ng-template>
              </div>
              </div>
              </div>

            </nz-radio-group>
            
            
            
        
          

          <!-- Nature de la porte -->
          <div nz-col class="row-w-grid5" style="padding: 18px 0px !important;">
          <div class="">
            <label class=" "><u>Nature de la porte {{ i + 1 }}</u><span class="error-message">*</span> :</label>
          </div>
          
            <nz-radio-group formControlName="nature_porte" class="flx-radio-row3">
              <div *ngFor="let option of natures_porte">
                <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label">
                  {{ option.Label }}
                </label>
                <!--<a nz-tooltip [nzTooltipTitle]="tooltip_nature_porte" href="javascript:void(0)" class="info-icon">
                  <i class="far fa-question-circle"></i>
                </a>-->
                <ng-template #tooltip_nature_porte>
                  Matériau: {{ option.Label }}<br>
                  Pour plus d'informations, veuillez consulter :
                  <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                </ng-template>
              </div>
            </nz-radio-group>
          </div>
          

          <!-- Gamme -->
          <div nz-col class="row-w-grid5" style="padding: 18px 0px !important;">
          <div class="">
            <label class=""><u>Gamme de la porte {{ i + 1 }}</u><span class="error-message">*</span> :</label>
          </div>
          
            <nz-radio-group formControlName="gamme" class="flx-radio-row1 tooltip-srf">
              <div *ngFor="let option of gammes" class="flex-see-gamme">
                <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label"  class="with-link">
                  {{ option.Label }}
                 
                </label>
                <span>
                  <a *ngIf="option.Pdf" target="_blank" class="see-gamme-link" [href]="baseurl + option.Pdf">Voir la gamme</a>
                </span>
              </div>
            </nz-radio-group>
          </div>
          
        </div>
        <div class="col-del-prt">
        <button type="button" (click)="removePortesGroup(i)" class="dynamic-form-button del-btn" *ngIf="portes.length > 1">[-] Retirer cette porte</button>
        </div>
      </div>
    </div>


  </form>

    <!-- Ajouter une porte -->
    <div class="col-add-prt">
      <button type="button" class="dynamic-form-button add-btn" (click)="addPortesGroup()" *ngIf="portes.length < 8">
        [+] Ajouter une porte </button>
      </div>

</div>
