<div class="recap-div devis-content">
    <span class="recup-fin recap-piece">Pose de porte - {{selectedPiece.Titre}}</span>
    <div *ngFor="let dimmur of forms_portes.formulaire['gammes-produits-pose-portes'].portes; let i = index" class="recup-mur-flx">
        <span class="mur-ttl">Porte {{i+1}}</span>
        <div>
        <span class="recup-fin" ><p>Type de porte</p><p>:</p><p>{{get_title(types_portes[i])}} </p></span>
        <span class="recup-fin" ><p>Nature de la porte</p><p>:</p><p>{{get_title(natures_portes[i])}} </p></span>
        <span class="recup-fin" ><p>Nature du mur</p><p>:</p><p>{{(natures_murs[i])}} </p></span>
        <span class="recup-fin" ><p>Épaisseur du mur</p><p>:</p><p>{{epaisseurs[i]}} cm </p></span>
        <span class="recup-fin" ><p>Gamme</p><p>:</p><p>{{get_title(gammes[i])}} </p></span>
        </div>
    </div>
    </div>
    