<div class="plaf-dim">
            <form [formGroup]="posePlafondForm" (ngSubmit)="onPosePlafondSubmit()">
               <div >
                <img class="srf-img" src="/assets/Rectangle.svg">
                 <div nz-row nzJustify="start" >
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="hauteur">Hauteur m: </label>
                     <input type="number" id="hauteur" formControlName="hauteur">
                     
                   </div>
                   <div *ngIf="isclicked && posePlafondForm.get('hauteur')?.invalid " class="error-message">
                    Hauteur requise.
                  </div>
                   <!-- <div nz-col nzSpan="6" class="ant-col">
                     <label for="longueur">Longueur : </label>
                     <input type="number" id="longueur" formControlName="longueur">
                   </div>
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="largeur">Largeur : </label>
                     <input type="number" id="largeur" formControlName="largeur">
                   </div> -->
                   <div nz-col nzSpan="6" class="ant-col">
                     <label for="surface">Surface m²: </label>
                     <input type="number" id="surface" formControlName="surface">
                   </div>
                   <div *ngIf="isclicked && posePlafondForm.get('surface')?.invalid " class="error-message">
                    Surface requise.
                  </div>
                   <div nz-col nzSpan="6" class="ant-col"> 
                     <label for="image">Image :</label>
                     <input type="file" id="image" (change)="onFileChange($event,posePlafondForm)" accept="image/*">
                   </div>
                 </div>
               </div>
             </form>
</div>