<div class="plaf-dim">
  <form [formGroup]="posePlafondForm" (ngSubmit)="onPosePlafondSubmit()">
    <div>
      <img class="srf-img" src="/assets/Rectangle.svg">
      <div nz-row nzJustify="start" >
        <div nz-col nzSpan="6" class="ant-col tooltip-srf" [nzXs]="24" [nzSm]="6">
          <label for="hauteur">
            Hauteur du plafond (cm)<span class="error-message">*</span> : </label>
          <input type="number" id="hauteur" formControlName="hauteur" required max="600" min="1">
        </div>
        <div *ngIf="isclicked && posePlafondForm.get('hauteur')?.invalid " class="error-message">
          La hauteur est invalide.
        </div>

        <div nz-col nzSpan="6" class="ant-col tooltip-srf">
           <label for="longueur">Longueur (cm) <span class="error-message">*</span> : </label>
           <input type="number" id="longueur" formControlName="longueur" max="10000" min="1">
        </div>
        <div *ngIf="isclicked && posePlafondForm.get('longueur')?.invalid " class="error-message">
          La longueur est invalide.
        </div>

        <div nz-col nzSpan="6" class="ant-col tooltip-srf">
          <label for="largeur">Largeur (cm) <span class="error-message">*</span> : </label>
          <input type="number" id="largeur" formControlName="largeur" max="10000" min="1">
        </div>
        <div *ngIf="isclicked && posePlafondForm.get('largeur')?.invalid " class="error-message">
         La largeur est invalide.
        </div>
        <div nz-col nzSpan="6" class="ant-col tooltip-srf etat-srf">
          <nz-radio-group formControlName="depose" class="radio-flx-spc">
               <div class="div-mur-gm" style="width:100%;"><span class="mur-ttl">
                Revêtement à déposer  <span class="error-message">*</span></span> 
              </div>
              <div *ngFor="let option of gammes_depose" class="parquet-option ant-col tooltip-srf etat-srf">
                <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
                  <span>{{ option.Label }}</span>
                </label>
                <a *ngIf="option.Pdf" nz-tooltip [nzTooltipTitle]="tooltipTemplate" href="javascript:void(0)" class="pdf-icon">
                  <i class="far fa-question-circle"></i>
                </a>
                <ng-template #tooltipTemplate>
                  Pour plus d'informations, veuillez consulter :
                  <a [href]="baseurl + option.Pdf" target="_blank" class="link-tooltip">PDF</a>
                </ng-template>
              </div>

              
          </nz-radio-group>
        </div>
        <div *ngIf="isclicked && posePlafondForm.get('depose')?.invalid " class="error-message">
          Le revêtement à déposer est requis.
        </div>

         <div nz-col nzSpan="6" class="ant-col tooltip-srf"> 
           <label for="image">Image :</label>
           <input type="file" id="image" (change)="onFileChange($event,posePlafondForm)" accept="image/*">
           <a nz-tooltip [nzTooltipTitle]="tooltipImage" href="javascript:void(0)" class="info-icon">
            <i class="far fa-question-circle"></i>
          </a>
           <ng-template #tooltipImage>
            <div class="tooltip-content">
              <p>Si votre mur possède des caractéristiques particulières, vous pouvez nous envoyer une photo.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </form>
</div>